[2017-06-13 14:56] jstrachan opened #2 "defining configmap/secret data in a way that auto-creates the container env vars"
so defining configmaps and exposing them as env vars is very painful.  e.g. this:
[code]

we could use magic character prefixes on env vars like `$FOO` or `/bar` for files. Maybe separate nested structs could help; as they can also let us define multiple secrets/configmaps too. e.g. here's one way of doing the above:

[code]

where we use `envConfig` to specify environment variables which populate

[2017-06-13 15:18] jstrachan commented on #2
if folks wanted to work with multiple configmaps/secrets and want to make the exposing as env vars more container specific they could maybe do this kinda thing, nesting them inside the container...

[code]

where the configmaps / secrets would be generated using `${pod.name}-${container.name}` by default. e.g. the above would generate `foo-wordpress` and `foo-database ConfigMaps` and `foo-database

[2017-06-13 15:23] jstrachan commented on #2
I guess for files there's 2 separate concerns; importing data from local files; then mounting configmap/secret entries as volumes. I guess you can always do an explicit mount of the latter; but it might be nice to have some kinds of mounts within the envConfig / envSecret?

[2017-06-13 15:36] jstrachan commented on #2
another implementation idea is that we keep the definitions of configmaps / secrets as top level things; then we have a way to import env vars inside the container structs; using wildcards?
[code]

whats kinda nice about the import approach is we can more easily do container specific imports with wildcards; we can default the name of the configmap/secret to the app name too to make things more con

[2017-06-13 15:38] jstrachan commented on #2
I wonder if merging the `kind` field into a nested structure is cleaner - it does mean we need to add the 'import:' or 'name:' field though...
[code]

[2017-06-14 08:28] pradeepto opened #9 "A better and relevant name for this project"
This is important. Hopefully, the name should highlight the rationale behind this project clearly.

Some requirements - the name should be:
- Should be unique, at least in the k8s world.
- Should not conflict with some existing famous project (i.e. adb)
- Should be available on GH (project, org etc)
- Getting a domain is a great advantage

[2017-06-14 08:33] pradeepto opened #10 "Examples for various container patterns"
We need to make sure this solution works for various container [patterns](https://www.usenix.org/system/files/conference/hotcloud16/hotcloud16_burns.pdf), at least some of them. So it would be nice to showcase them as working examples with this solution.

[2017-06-14 08:34] pradeepto opened #11 "Integrate with Helm"
How can we integrate with Helm Charts? Can we generate Helm Charts from defined application(s)?

[2017-06-14 08:35] pradeepto opened #12 "How do we integrate with OpenShift Templates?"
Can we generate OpenShift templates from the application definition?

[2017-06-14 08:41] pradeepto opened #13 "Root level services are confusing so find a better name for it, also consider moving it somewhere else."

[2017-06-14 08:43] pradeepto opened #14 "Volume definition needs to done better"
Improve the way volume definition is done, size is not common to everything it's only in pvc.

[2017-06-14 08:48] kadel commented on #14
There is a bit more issues with how are volumes done currently.

I think that top level "persistentVolume" should be based on PersistentVolumeClaim and not on Volume.

[2017-06-14 08:59] containscafeine opened #15 "Write a rough file-reference.md so we know where the spec is right now"
I am fine with not mentioning types of fields (string, int), and add corner cases right now, but just a bare-bone current spec

[2017-06-14 09:12] containscafeine opened #16 "Find a better convention referencing env vars in container spec"
The current way of referencing other sources for environment variables is like the following -

[code]

We can establish a convention and replace this with -

[code]

To include all data from a given secret/configMap -

[code]

[2017-06-14 09:41] containscafeine opened #17 "Defining applications in a single file"
Looking at the examples, the only way I can see for defining multiple microservices, is by putting them in different files.

e.g. - https://github.com/surajssd/opencomposition/tree/master/examples/allnomagic here, db.yaml and web.yaml _have_ to be separate files.

This is fine and good practice under certain scenarios, but I also want to be able to define this in a single file.

[2017-06-14 10:08] kadel commented on #17
I think we should make convention that they have to be in separate file

[2017-06-14 10:10] containscafeine opened #18 "Thoughts on refactoring Services in the spec"
Okay, so this is the data that the ServiceSpec in Kubernetes contains -

- `Name`
- `Ports`
- `Selector`
- `ClusterIP`
- `Type` - one of `ExternalName`, `ClusterIP`, `NodePort`, and `LoadBalancer`
- `ExternalIPs`
- `SessionAffinity`
- `LoadBalancerIP`
- `LoadBalancerSourceRanges`
- `ExternalName`

Now, I understand that a service will be applied to the pods with the given selector, and yes, this n

[2017-06-14 10:17] containscafeine opened #19 "A better way to define Service ports"
The way Kubernetes' ServiceSpec allows describing Ports is something like this -

[code]

We can also provide an alternative _shortcut_ way to do this by using a syntax like -

[code]

[2017-06-14 10:19] pradeepto commented on #17
Any particular reason why you would want to define the whole thing in a single file? Advantages? Would this not lead to "more than "one true way" to do things scenario"?

[2017-06-14 10:20] kadel commented on #14
This is how I think handling persistent storage should look like.

full example
[code]

with shortcuts
[code]

If there is no matching `volume` for `volumeMount`, `volume` is created automatically with the same name and the same name is also used to attach `volume` to 'persistentVolumeClaim`

[2017-06-14 10:20] pradeepto commented on #19
Will this not make tooling difficult and perhaps induce string magic?

[2017-06-14 10:23] pradeepto commented on #16
Do we want to induce string magic?

[2017-06-14 10:24] kadel commented on #17
I think its OK to force one file / one app way.

[2017-06-14 10:26] kadel commented on #19
you are overwriting already existing 'ports'. Shortcuts can't do that. We have to keep the original way of defining things untouched.

[2017-06-14 10:27] kadel commented on #18
we can't rename anything, it has to be still possible to use the kubernetes way

[2017-06-14 10:33] kadel commented on #10
If we do it right without "leaky abstraction" it will always work with all those patterns (as long as they are working on kubernetes)

[2017-06-14 10:48] kadel commented on #18
The first think we should figure out is where we will put ServiceSpec. Top level, or somewhere in PodSpec?

[2017-06-14 11:01] containscafeine commented on #17
Having multiple files for different microservices makes no sense for smaller applications, that will just increase the user time.
We should be giving the user the choice to do whichever way they want, not what we think is correct for them.
I strongly disagree in enforcing one way for the user to structure their application, we should not be doing that, it should be left up to them. The tooling sho

[2017-06-14 11:03] containscafeine commented on #16
We didn't disagree to this.

[2017-06-14 11:11] containscafeine commented on #18
@kadel what do you mean by top level, here? The top level is the PodSpec right now, and a more things.

IMO, if we do not want to rename the fields in the ServiceSpec, then we should merge it with the PodSpec, like -

[code]

[2017-06-14 11:11] pradeepto commented on #16
I am sure we have always said that string magic is bad many times in the past. And if this syntax is Docker Compose influenced, then we should stay away from it, if possible.

[2017-06-14 11:12] kadel commented on #17
We can always add support for multiple apps in one file later.
Let's try to go with the one file one app for now.
If it's proven cumbersome we can always add support for it later.

[2017-06-14 11:14] kadel commented on #18
yes by top level I meant in PodSpec, not embedded but as it is right now. By somewhere in PodSpec I meant somewhere deeper (like port level in container)

I don't think that merging PodSpec and ServiceSpac is good way to go.

Services should have its own level

[2017-06-14 11:15] pradeepto commented on #17
But the whole point of James S was that we should write define one application/service per file. If we do it otherwise or keep that as a second priority, I am not sure how this serves the purpose.

[2017-06-14 11:17] kadel commented on #16
It is not influenced by docker compose.

The question is to find a balance between strong magic and adding more levels to yaml file.

[2017-06-14 11:17] containscafeine commented on #19
@pradeepto -

Yes, the tooling will be difficult but that is an implementation detail that we can take care of.
Yes, this introduces string magic, but how else do we want to implement more intuitive shortcuts?

@kadel -

Agree, we can have a different field name for this, we can carry the `...Ref` convention here

[code]

[2017-06-14 11:19] pradeepto commented on #17
I can perhaps agree with that but ...

Being opinionated is very important.

We are enforcing other things, I am sure. So why not this bit?

[2017-06-14 11:23] pradeepto commented on #19
Yes, this introduces string magic, but how else do we want to implement more intuitive shortcuts?

That is definitely not what we discussed in the meeting. To quote from the meeting logs that you yourself noted:

Strong -1 to this idea.

[2017-06-14 11:23] kadel commented on #19
`ref` should be used as a shortcut for Reference. In this case, we are not referencing anything, or am I missing something?

[2017-06-14 11:24] kadel commented on #19
Just be aware that it is quite common that "easy to tool" and "easy for humans" are quite opposite.

[2017-06-14 11:28] containscafeine commented on #18
If we put this somewhere with ports with containers, then that means that we are defining services on a per container level, which means that if container 1 says that it needs to have a NodePort, then container 2 also gets a NodePort, but when we will look at the spec, this will not be the case, because NodePort will be mentioned in only container 1.
 This brings inconsistency.

Why? A Service is

[2017-06-14 11:33] containscafeine commented on #19
@kadel -

Yep, in OpenCompose we decided to use `ref` as something that will refer to the root level shared concepts, but here we can use it to _refer_ to a concept.
I am fine with any other convention if `ref` does not look right, but I'd love to have a convention to define the shortcuts.

[2017-06-14 11:35] containscafeine commented on #19
@pradeepto - everything in #2 required string magic. Doing string magic is going to let us create _shortcuts_ to add better UX to the spec. It's not about string magic, it's about better UX for the spec, which is the prime goal right now.

I'm fine with not doing string magic if there is a better way of implementing this, any suggestions?

[2017-06-14 11:40] surajssd opened #22 "Flag to decide whether to expose externally or not"
So right now there is no defining way to know which service to expose outside cluster using `ingress`.

As the implementation goes, it is checked if the service type is `LoadBalancer` only then it is exposed and yesterday during demo I realized service of any type can be exposed using `route` or `ingress`. Also as yesterday @jstrachan suggested adding a flag to the service spec which decides wheth

[2017-06-14 11:42] pradeepto commented on #19
@containscafeine @kadel Whatever you guys decide, keep integrations (LSP bits etc) in the mind. If we can integrate with existing tooling (vscode, che) with less or no effort that is a HUGE win. Saves time and wins hearts. That is all I am saying.

[2017-06-14 11:44] containscafeine commented on #17
@pradeepto -

Yes, he did, and I respectfully disagree.

We should not be enforcing _everything_.

IMHO, this is a **huge** step backward in terms of UX, we should let the users decide how they want to structure their application, and what fits best for their scenario, if they want to keep everything in the same file or they want put it in different version control. This increases my developer tim

[2017-06-14 11:46] pradeepto commented on #17
OK. But doing multiple apps in multiple files shouldn't be a secondary requirement.

[2017-06-14 11:53] kadel commented on #18
It looks logically inconsistent. It will be much more cleaner and clearer to have it in seperate level.

And more importantly how would you create multiple services if you merge podspec with servicespec?

[2017-06-14 11:56] kadel commented on #22
This also means that SericeSpec and IngressSpec will be merged together?

[2017-06-14 11:56] containscafeine commented on #16
@pradeepto -

Not sure about this, we agreed this with secretRef in OpenCompose, and the way we define ports in OpenCompose (80:8080), is also string magic which is not vanilla Kubernetes spec.

It's not

[2017-06-14 11:59] containscafeine commented on #18
Whoops, yep, makes sense.

[2017-06-14 12:02] containscafeine commented on #17
@pradeepto what does secondary requirement mean here?

[2017-06-14 12:02] surajssd opened #23 "Only health at container level"
Right now pod spec allows you to do both `livenessProbe` and `readinessProbe` and since both the fields represent the same data strcuture behind the scene which is called `probes`.

So a container will look like the following:

[code]

the pod that is generated out of this will look like this:

[code]

So essentially you just specify `health` field which is `probe` type and then it is populated in

[2017-06-14 12:07] containscafeine commented on #18
For now, let's keep it like the way it is

[2017-06-14 12:07] #18 closed

[2017-06-14 12:18] containscafeine commented on #13
let's keep this as services for now

[2017-06-14 12:18] #13 closed

[2017-06-14 12:19] surajssd commented on #14
taking this up!

[2017-06-14 12:32] containscafeine commented on #17
let's decrease the priority and reconsider this later

[2017-06-14 12:35] containscafeine commented on #19
I don't think we need this for now, let's reconsider if and when a need arises

[2017-06-14 12:35] #19 closed

[2017-06-14 12:41] jstrachan commented on #22
Incidentally there's Ingress, Route, NodePort or LoadBalancer as the main 4 strategies to expose services externally.

In the fabric8 ecosystem we tend to use this little microservice to take care of that for us: https://github.com/fabric8io/exposecontroller/ it auto-detects openshift and defaults to Route there or can be configured in a ConfigMap to pick LoadBalancer (if on public cloud), NodePor

[2017-06-14 13:16] kadel commented on #22
it might be better to do Ingress as a list, so you can create multiple ingress for one service

[code]

[2017-06-14 13:24] kadel commented on #23
agreed, with one exception. lets fail if there is `health` field  with `readinessProbe` or `livenessProbe` defined

[2017-06-14 16:11] containscafeine commented on #22
picking this up

[2017-06-14 17:52] surajssd opened #24 "Add testing (unit, conversion & e2e testing)"
The pace of ours is very fast which scares me, in the way that we might break things. So suggesting to come up with testing framework for us.

As of now since we don't have anything, so testing the conversion on the cluster.

[2017-06-14 17:53] surajssd commented on #24
The way I do it is that I add whatever feature I am working on in the file that has all other features like volumes, health, configmap, etc. and see if everything works fine in each other's preference. If it does I kinda trust it works.

[2017-06-15 12:00] #14 closed

[2017-06-15 12:01] containscafeine commented on #24
I agree! Honestly, I have zero confidence while writing and merging code right now without any tests. Let's do this first thing once the PoC phase is over in about a week.

[2017-06-15 15:59] containscafeine commented on #22
@kadel -

Did you mean -

[code]

[2017-06-16 06:02] containscafeine commented on #22
Okay, so after discussing this with @surajssd yesterday, we think we need one more round of discussion around this.

- We had previously decided that `expose: true` will not work with Kubernetes, but it can; we found out that `host` is an optional field in Kubernetes after all, and the following is a valid Ingress resourse

[code]
Now, we need to discuss behavior around this. Fr this Ingree resour

[2017-06-16 09:18] containscafeine commented on #22
How about -

[code]

[2017-06-16 12:26] #23 closed

[2017-06-16 14:26] surajssd opened #28 "Hook into kubectl commandline as extension"
`kubectl` now has a way to allow any third party binary to hook into it to do advanced stuff. Using this we will have an ability to do conversion which is cluster aware.

For e.g. places where someone is referring to a `secret` or `configMap` we can check if it already exists in the cluster. Here we can also create `secrets` like passwords which is some random string and everyone wanted to use it

[2017-06-19 07:01] kadel opened #32 "Two containers in same Pod without name should throw error"
[code]

the result is invalid:
[code]

I expected this to throw error saying that if there are multiple containers they have to have unique names

[2017-06-19 07:03] kadel opened #33 "Top level name is not propagated to single service"
[code]

the result is invalid service:
[code]

what I expected is Service named 'test'

[2017-06-19 08:49] kadel commented on #33
same for persistentVolumes
Basically everytime there is a name required and only single instance is defined, top level name should be used

[2017-06-19 08:54] kadel opened #34 "volume entry in PodSpec is generated every time volume is used"
[code]

outputs invalid deployment:
[code]

There should be only one entry for each PVC.

[2017-06-19 11:41] containscafeine opened #35 "Implement DeploymentSpec in our spec"
So, to avoid the leaky abstractions to an extent, we reuse `PodSpec` from upstream Kubernetes directly, this lets us utilize full power of PodSpec.

`DeploymentSpec` is another very important Kubernetes spec which we should take advantage of directly in our spec.

Let's do it :)

[2017-06-19 13:17] surajssd commented on #2
@jstrachan

About the root level `envSecret`, how do we know which container do we populate it to? We cannot populate it to all the containers?

I am okay with populating `configMap` like that because it does not have much secret information, but I am skeptical on doing so with `secrets`.

I like this idea of allowing users to specify a relative path to embed files and when converting we embed the

[2017-06-19 13:32] containscafeine commented on #16
ping @surajssd, PTAL

[2017-06-20 07:13] kadel opened #38 "Autogenerating port names"
if multiple ports are specified in a single service they have to be named. see https://kubernetes.io/docs/concepts/services-networking/service/#multi-port-services

We can make names optional and autogenerate them if no name is specified.

[code]

[2017-06-20 07:16] kadel opened #39 "Wrong port number when multiple ports specified"
[code]

creates service with a wrong port number for the second port

[code]

it should look like this:
[code]

[2017-06-20 08:01] kadel commented on #39
my bad :innocent:

typo in port (port vs. ports) :rofl:

[2017-06-20 08:01] #39 closed

[2017-06-20 09:27] #22 closed

[2017-06-20 12:43] pradeepto opened #41 "Parameterize the ingress host"
This will help if when the configs have to moved from one cluster to another. Think dev to stage to prod workflow.

[2017-06-20 13:40] containscafeine opened #43 "Add support for envFrom for configMaps"
Kubernetes 1.6 release added support for `envFrom`, and example of which can be seen [here](https://kubernetes.io/docs/tasks/configure-pod-container/configure-pod-configmap/#configure-all-key-value-pairs-in-a-configmap-as-pod-environment-variables).

We see there is a pattern in most/a lot of the Kubernetes deployments that all fields from a Secret and/or a ConfigMap are exposed inside the contain

[2017-06-20 14:54] pradeepto opened #44 "Write an FAQ for technical and non-technical questions"

[2017-06-20 16:21] jstrachan opened #45 "generate a json-schema file"
it'd be nice to generate a json schema file so we can include support for kapp inside tools like this: https://github.com/gorkem/vscode-k8s/ so that we can get automatic completion and validation in VS Code / Che / Eclipse.

I wonder if we maybe need to add a line like:
[code]
to make it easier to know what schema to use in the IDE plugin?

[2017-06-20 16:23] jstrachan commented on #45
since the schema is gonna change, I'm hoping we can automate the generation of the schema as part of the build from the source - am sure the kubernetes project does something like this for its swagger stuff?

[2017-06-20 18:07] pradeepto opened #46 "Add an appropriate licence for the project and files."
In all likelihood, Apache 2 is fine.

[2017-06-20 18:11] pradeepto opened #47 "Clear our technical debt"
Here is a shopping list of things that need to be done.

- [ ] Add unit tests
- [ ] Add functional tests
- [ ] Add PR testing via CI/CD
- [ ] Add validations
- [ ] Update examples
- [ ] Add proper documentation
- [ ] Add Contribution guidelines
- [ ] Figure out contact points - mailing lists, chat etc
- [ ] Update Readme

[2017-06-21 10:00] surajssd commented on #16
It was decided that we will add support for `envFrom` and come back to this later.

[2017-06-21 10:00] surajssd commented on #38
@kadel is this necessary?

[2017-06-21 10:07] surajssd commented on #41
Ingress should be specifically parameterized because ingress host value is cluster specific. The value will always change with how the cluster is setup. While the case with routes is that we just need to say that we need route and the host is auto populated for us.

The parameterization has to happen in two places one in `services.ports.endpoint` and `ingress.rules.host` to be specific, but if we

[2017-06-21 10:08] surajssd commented on #16
Issue tracking progress of `envFrom` https://github.com/surajssd/kapp/issues/43

[2017-06-21 10:16] surajssd opened #49 "Decouple validation from generation code"
Right now we have validation code and the generator code mixed which is not the good thing I think so think about decoupling it for our own ease of maintaining the project for the long term.

Similar to what we did in OpenCompose we can do it here as well.

So what I think is that we create a validation function for what we have read in after `app, err := encoding.Decode(data)` in `pkg/cmd/convert

[2017-06-21 10:18] surajssd opened #50 "Decouple injecting default values from the generation code"
Building on top of the another issue https://github.com/surajssd/kapp/issues/49 where I talk about removing the validation code from generation code to separate place. Similarly, we need to decouple the code where we are inserting the defaults into separate place so that we can know how defaults get inserted.

[2017-06-21 10:20] surajssd opened #51 "Rename persistentVolumes to something better"
$subject, right now one of the suggestion is to rename it to:

- `volumeClaims`
- `storage`

Please comment for any better name.

[2017-06-21 10:31] surajssd opened #52 "Add support for defining `Job` controller"
Right now we by default create `Deployment` as the controller, so come up with a way to define the Job controller.

Read more about job:
- Writing Job: https://kubernetes.io/docs/concepts/workloads/controllers/jobs-run-to-completion/
- Job API docs: https://kubernetes.io/docs/api-reference/v1.6/#job-v1-batch
- Also look at cron job: https://kubernetes.io/docs/concepts/workloads/controllers/cron-jo

[2017-06-21 10:42] surajssd opened #53 "Support for Horizontal Pod AutoScalar - HPA"
With Horizontal Pod Autoscaling, Kubernetes automatically scales the number of pods in a replication controller, deployment or replica set based on observed CPU utilization (or, with alpha support, on some other, application-provided metrics).

Right now the HPA is based only on CPU metric.

There is work going on to add support for custom metrics: [here](https://github.com/kubernetes/features/iss

[2017-06-21 10:43] kadel commented on #51
+1 for volumeClaims - relatively short and it describes what it is

[2017-06-21 11:04] kadel commented on #50
agreed, I've touched this in https://github.com/surajssd/kapp/pull/37#discussion_r123199418

[2017-06-21 11:06] kadel commented on #38
yes! Port name is required by kubernetes once you specify more that on port

[2017-06-21 11:38] kadel opened #54 "add deploy command"
Add deploy command that will do the conversion and automatically call kubectl to deploy application in one step.

This will be far more convenient than piping output to `kubectl create -f -`.

Most users won't care about conversion output anyway

[2017-06-21 12:30] surajssd commented on #38
@kadel TIL :+1:

[2017-06-21 12:39] surajssd opened #55 "Add checks for multiple pvc with same name"
Here is an example app

[code]

which when converted creates two `pvc`.

[code]

so error out when multiple volumes with same name found

[2017-06-21 12:41] #34 closed

[2017-06-21 12:47] kadel commented on #55
related to https://github.com/surajssd/kapp/issues/55

[2017-06-21 12:55] #32 closed

[2017-06-21 13:06] containscafeine commented on #17
or let's not! :)

[2017-06-21 14:17] containscafeine commented on #38
Encountered this while trying out - https://raw.githubusercontent.com/containscafeine/fabric8-analytics-data-model/master/local-setup/docker-compose.yaml

[2017-06-21 14:23] containscafeine commented on #38
picking this up

[2017-06-22 05:02] surajssd commented on #55
@kadel #55 is this issue

[2017-06-22 05:30] surajssd opened #56 "Add unit tests"
We need to add unit tests to each and every thing that we have not yet.

Has been reported here https://github.com/surajssd/kapp/issues/24

[2017-06-22 05:31] pradeepto opened #57 "Add travis/fabric8 CI support for PR building"
We need to have travis or fabric8 CI support for PRs. Let's go with fabric8. We already have some experience in this with Kompose, we can reuse whatever is applicable.

[2017-06-22 05:32] surajssd opened #58 "Add command line conversion tests"
$subject. This is type of functional test but we need to have a comparison tests as well.

From metaissue https://github.com/surajssd/kapp/issues/24

[2017-06-22 05:36] surajssd opened #59 "e2e tests - test conversions on running cluster"
This is again a type of functional test.

From metaissue https://github.com/surajssd/kapp/issues/24

[2017-06-22 05:38] pradeepto opened #60 "Update examples and associated readmes"
The readmes in the examples are perhaps dated. Update them and also update examples if applicable.

[2017-06-22 05:46] surajssd opened #61 "CONTRIBUTING file: add general contributor's section"
In CONTRIBUTING.md add general contributor's guideline. This will have how to setup GOPATH, where to download, setting up remotes, etc.

[2017-06-22 05:47] surajssd opened #62 "CONTRIBUTING file: add developer notes explaining code layout"
In this section there will be developer docs, which contains information like how the code base is setup, how the golang struct embedding is important for what we are doing, when we modify a struct how we add the name `mod` at the end of the new struct name, etc.

[2017-06-22 05:49] surajssd opened #63 "CONTRIBUTING file: add process of PR merging"
Process of PR merging, things like how many LGTMs does it need to merge a PR, who merges the PR, if PR is open for more than 2weeks what should it be labeled as? How do we break down the big issues, etc.

[2017-06-22 05:54] pradeepto opened #64 "Create communication channels and update readme etc."
- [ ] mailinglist
- [ ] chat / slack / irc
- [ ] community meeting times

[2017-06-22 05:58] pradeepto opened #65 "Add documentation, user guide etc"
- [ ] Comprehensive user guide
- [x] Website? - http://kedgeproject.org/
- [ ] Document how this works, architecture.

[2017-06-22 06:01] pradeepto opened #67 "Update Readme"
- [x] Replace ToDos with a Roadmap
- [x] Better example
- [x] Link to Contributing.md when it is done

[2017-06-22 07:13] kadel commented on #17
I still don't think that we have a good reason to do that.

But if we are doing it than what  @containscafeine is suggesting is a good way to do it.

[2017-06-22 07:14] kadel commented on #38
you can still convert that, it's not a blocker, you just have to explicitly set port names

[2017-06-22 14:27] ant31 opened #68 "Use aggregated/custom API"
Would be nice to manage kapp resources via the kubernetes API.

[code]

It would allow to use existing template manager (helm?) without having to do any integration.
Also composition and integration with upstream resources would be natural

[2017-06-22 14:41] pradeepto commented on #68
For reference: https://github.com/kubernetes/community/blob/master/contributors/design-proposals/aggregated-api-servers.md

[2017-06-22 23:16] #35 closed

[2017-06-23 05:46] surajssd commented on #57
:+1: for fabric8 CI
:-1: for travis

[2017-06-23 05:48] surajssd commented on #17
@containscafeine :+1:

[2017-06-23 05:56] surajssd commented on #17
But having everything in one file is a bad idea, because:

- programmers are more comfortable with multiple files as opposed to single file having everything
- also it brings separation of concerns since each team will be working on their own micro-service which is part of whole application
- this brings in complications of how do we do conversion, should we convert everything each time or do we a

[2017-06-23 07:52] #33 closed

[2017-06-23 09:27] surajssd commented on #68
So there are two approaches to look at this one, one is what @ant31 has mentioned here this is moving things on k8s cluster side.

There is one issue https://github.com/surajssd/kapp/issues/28 of hooking kapp into kubectl which brings things on client side, depending on pros and cons we can decide which one we wanna do!

[2017-06-23 09:34] surajssd opened #69 "Clean up the tests in `encoding_test.go`"
Right now the tests in this file are specified as fixtures in separate file as oppossed to table driven table where it is easy to map what input maps to the output, here since it is scattered around in files, and the data is assigned to variables which makes it hard on someone writing tests because now they have to spend time on naming unique variable name, which makes no sense.

So suggestion on

[2017-06-23 12:24] #15 closed

[2017-06-23 17:13] containscafeine commented on #38
@kadel yep, not a blocker, just bumped because I faced this :P

[2017-06-23 17:28] containscafeine commented on #69
@surajssd +1, let's refactor this.
So, one problem that I personally faced in OpenCompose, was the fact that the test files became _huge_, and after a while it was very difficult to track down the test and debug. So, something like one test per file, and having multiple such file struck me like a good option. So, let's tackle this problem in such a way that the number of lines in the `*_test.go` f

[2017-06-26 05:58] surajssd commented on #45
For reference:

- Kubernetes JSON Schemas https://github.com/garethr/kubernetes-json-schema
- OpenShift JSON Schemas https://github.com/garethr/openshift-json-schema
- Tool to create json schema from OpenAPI https://github.com/garethr/openapi2jsonschema
- Writing OpenAPI (fka Swagger) Specification https://apihandyman.io/writing-openapi-swagger-specification-tutorial-part-1-introduction/
- OpenAPI

[2017-06-26 05:59] pradeepto commented on #45
@surajssd Thanks for recording all the links here. Will be helpful.

[2017-06-26 07:29] jstrachan commented on #45
BTW here's the project which we use to generate Java DTOs & JSON Schemas for kubernetes and openshift
https://github.com/fabric8io/kubernetes-model - though its Java centric; there's probably an easier way in golang to go straight from the go code -> json schema

[2017-06-27 12:10] containscafeine commented on #17
@surajssd -

I think for this issue we should generate everything, and then specifying one particular app for generation should be covered separately, but I agree, it should be.

Also, I agree that this is not going to improve UX a lot, but this could be a use case, so let's go ahead and this.

[2017-06-27 13:32] surajssd commented on #69
Yeah I am good with reusability need to see how k8s does it for some inspiration

[2017-06-27 13:37] kadel opened #78 "rename top level ingress to ingresses"
its a list of multiple ingresses, so the name should also be in plural form.
All other fields follow the same rule.

[2017-06-28 05:39] surajssd opened #80 "add subcommand version"
Right now we don't have any versioning scheme for kedge so let's add it.

References:

- kompose version subcommand: https://github.com/kubernetes-incubator/kompose/blob/master/cmd/version.go

[2017-06-28 05:44] surajssd opened #81 "Update client-go to "3.0""
Right now the client-go we use is k8s1.5. We need to update it to get new features.

Read this compatability matrix for client-go which explains what version of client-go supports what version of k8s https://github.com/kubernetes/client-go#compatibility-matrix

This will unblock me on the e2e tests setup I am doing in https://github.com/surajssd/kapp/pull/77

[2017-06-28 06:06] surajssd commented on #78
taking this up!

[2017-06-28 08:59] #78 closed

[2017-06-28 08:59] #38 closed

[2017-06-28 09:29] kadel opened #83 "use client-go instead of kubectl for deploy operations"
Deploy was implemented by calling external `kubectl` binary https://github.com/surajssd/kapp/pull/72

It will be bettter to use `client-go` to communicate with cluster. Once we start doing some more complicated operation it might become tricky to parse kubectl output, using client-go should be much better.

[2017-06-28 09:33] kadel commented on #52
Cron jobs are still alpha feature. I don't think we should add support for it until they are out of alpha.

But Jobs are in stable v1, and we should definetly support that.

[2017-06-28 11:04] surajssd opened #85 "Add support for envFrom for secrets"
This is **secret** only, the work to add support for **configMap** can be tracked in PR https://github.com/surajssd/kapp/pull/84 and issue https://github.com/surajssd/kapp/issues/43

Kubernetes 1.6 release added support for envFrom, and example of which can be seen here.

We see there is a pattern in most/a lot of the Kubernetes deployments that all fields from a Secret are exposed inside the cont

[2017-06-28 11:11] surajssd commented on #43
Reduced the scope of this issue from `envFrom` for `secret` and `configMap` both to `configMap` only.

Support for `secret` cannot be implemented right now because there is no way to define `secret` yet, once we have a way to define secret in kapp we can implement that feature as well. The issue about *secret with envFrom* is tracked in https://github.com/surajssd/kapp/issues/85

Since we populate

[2017-06-28 12:29] #17 closed

[2017-06-28 12:45] containscafeine opened #87 "allow specifying application to generate artifacts for"
Resulting from https://github.com/surajssd/kapp/issues/17#issuecomment-310578854

Now we support defining multiple applications in a single file (#86), and right now Kubernetes artifacts get generated for every application defined in that one file.

However, we should add support for choosing the application to generate artifacts for using the command line.

[2017-06-28 12:56] #54 closed

[2017-06-28 14:51] surajssd commented on #46
Take license from https://github.com/kubernetes-incubator/kompose/blob/master/main.go#L1-L15 and remove the Kubernetes Authors line add whatever this project will be called!

[2017-06-28 14:51] containscafeine opened #89 "our build story"
I have not thought this through at all, but if we ever decide to have a build story in kapp, then we can make use of [projectatomic/buildah](https://github.com/projectatomic/buildah)

[2017-06-28 14:51] cdrage commented on #46
[code]

[2017-06-28 19:38] surajssd opened #91 "`kedge deploy` does not parse a multi-app file"
The app is based on commit:
[code]

creating a new namespace
[code]

deploying
[code]

so it just deployed only `database` app in that file and not the `wordpress` one.

[2017-06-28 19:43] surajssd commented on #9
@pradeepto can we close this one ?

[2017-06-28 19:45] surajssd commented on #46
Now we can add:

[code]

[2017-06-28 19:46] surajssd commented on #46
Please mind the spaces though

[2017-06-29 05:32] surajssd commented on #91
ping @containscafeine @kadel

[2017-06-29 05:58] #46 closed

[2017-06-29 05:59] containscafeine commented on #87
How do we want to proceed with this?

One way is to do something like -
- `kedge -f wordpress.yml generate`
- `kedge -f wordpress.yml generate web`
- `kedge -f wordpress.yml generate web db`

We should also support some way of excluding an app and even wildcards, so
- `kedge -f wordpress.yml generate we*`
- `kedge -f wordpress.yml generate !web`

[2017-06-29 06:42] pradeepto commented on #87
@containscafeine I made some edits to your comment to make it a bit more explicit of what we are trying to do. Please review it once.

LGTM from my side. My suggestion is, let's always make sure that the UX is "simple". I like the wildcards idea but I am not sure how it would affect the UX and the implementation. How about we do the first part cleanly and get feedback first? WDYT?

Also, a major r

[2017-06-29 06:50] pradeepto commented on #81
Should we not wait until it comes out of Beta? I don't have any strong opinion on this matter, just curious what is the right/pragmatic thing to do?

[2017-06-29 07:00] surajssd opened #93 "flag to deploy to specific namespace"
Right now `kedge deploy`, deploys to the current namespace that is selected. But it would be awesome to have a flag that we can use to deploy to specific namespace.

Something like following:

[code]

[2017-06-29 07:02] surajssd opened #94 "kedge rpm packaging"
We should package kedge for `fedora`, `epel` and `centos-paas-sig` like we do for kompose.

Kompose rpm spec: https://github.com/dustymabe/fedpkg-kompose/

[2017-06-29 08:03] containscafeine commented on #91
I'll look into it

[2017-06-29 08:56] containscafeine commented on #81
@pradeepto that could block us for a long time wrt features.

[2017-06-29 09:05] containscafeine opened #96 "Running `kedge generate/deploy` returns nothing, expected error"
Running plain `kedge deploy` should return an error that no file specified, or something similar but currently it return nothing -

[code]

[2017-06-29 09:32] surajssd opened #98 "abstract out kedge "populators""
Take a look at the diagram below:

![download 1](https://user-images.githubusercontent.com/5815795/27681143-d2621102-5cdb-11e7-88f4-caa7e49e4455.jpg)

## Diagram explanation

The left block in `app` with the name `containers[]` is the `containers[]` that we over-ride with our custom fields like `health`, `envFrom`. The right block is the one that is part of `podSpec` that we have over-ridden in th

[2017-06-29 09:34] surajssd commented on #98
The diagram was created using https://www.draw.io/

[2017-06-29 09:44] containscafeine commented on #87
Okay, let's do this in 2 parts!

[2017-06-29 09:51] surajssd commented on #87
`kedge -f wordpress.yml generate web`

This means that `web` is sub-command to generate, not sure if that is even possible to do with `cobra`.

I would like to see a flag which lists all the services user wanna generate. This flag will be under `generate` and not global.

so something like this

`kedge -f wordpress.yml generate -s web -s db`

[2017-06-29 09:54] surajssd opened #100 "deprecate replicas in the app struct"
`DeploymentSpec` has field `Replicas` and since we have embedded `DeploymentSpec` in `app` we don't need the extra field called `Replicas`, so this can be safely removed.

[2017-06-29 09:56] kadel commented on #87
I don't think we should do that.
The case should be that if you don't want to everything at once put it in the separate files.
Using file per service is the best practice and we should push to that direction.

[2017-06-29 11:42] pradeepto commented on #87
@kadel I agree with you about the best practice part and that is what we should tell people - use single file per service. But the use case still is important to give "single file" users a better experience.

[2017-06-29 12:13] kadel commented on #87
If a developer reached the point where he/she needs to deploy only one service from a file where multiple apps are defined then it's the point where this file should be splited into multiple once.

[2017-06-29 12:56] pradeepto commented on #62
@surajssd Can we close this since @cdrage sent a PR for this? https://github.com/kedgeproject/kedge/pull/79

[2017-06-29 12:56] pradeepto commented on #61
@surajssd Can we close this since @cdrage sent a PR for this? https://github.com/kedgeproject/kedge/pull/79

[2017-06-29 13:00] #91 closed

[2017-06-29 13:06] #61 closed

[2017-06-29 13:07] surajssd commented on #62
@pradeepto this is not done yet

[2017-06-29 13:09] surajssd commented on #87
@kadel I agree on that part this could be a good practice to enforce

[2017-06-29 13:22] kadel commented on #87
What if we put this on the lowest priority.
We can implement this only once it's clear this is really needed by some real use case.

[2017-06-29 14:41] kadel commented on #96
same issue is also with `kedge generate`

[2017-06-29 17:59] cdrage opened #101 "[EPIC] Covering 100% of Kubernetes constructs in Kedge"
So! We've got quite a task for us ahead in terms of getting a complete YAML Kedge file.

With that being said, we've got to *try* to cover all of Kubernetes in the simplest, possible way.

Thus, we will need support MOST constructs of Kubernetes in order to achieve that goal. Here's an overview with what I think needs to be implemented, and what doesn't.

I have marked those I believe *have* been

[2017-06-29 18:13] cdrage opened #103 "Change 'type' name, related to NodePort, ClusterIP, LoadBalancer, ExternalName to `expose`."
First, I *love* the examples we have, they're great, but one thing kept on sticking out to me and confused me, and that's `type`, which has no indication on what it actually is!

In Kubernetes, there are four different way to publish services, they are:

- ClusterIP
- NodePort
- LoadBalancer
- ExternalName

I propose a different way of exposing each container.

Maybe to possibly another name and k

[2017-06-29 18:27] cdrage opened #104 "Missing keys in file reference? (replicas and labels)"
Bit confused by the file reference here:
https://github.com/kedgeproject/kedge/blob/master/docs/file-reference.md

I see that we have "replicas"  and "labels" but it does not indicate it's not yet implement nor it's in the example.

[2017-06-29 18:28] cdrage commented on #104
Another thing to note is "ingresses" is in the full example at the bottom, but not in the reference example at the top.

[2017-06-29 18:29] cdrage opened #105 "make test fails"
Despite us not having any tests yet, make test / go fmt fails:

[code]

[2017-06-30 10:26] kadel commented on #104
not yet implemented? both 'replicas' and 'labels ' are implemented

[2017-06-30 10:38] surajssd commented on #104
To keep example shorter we only added the key `endpoint` which also generates the default ingress, so it is not shown there.

`ingresses` root level field is for people who wanna specify ingress by themselves.

[2017-06-30 10:49] kadel commented on #103
I don't know about this to be honest.
Its 1:1 mapping that doesn't add any benefits expect changing names.
It will still be possible to use`type` field anyway, as we can't remove any fields from Kubernetes structs.
Having something that does exactly the same thing with just different names (no other benefit) might cause a lot of confusions.

[2017-06-30 10:54] cdrage commented on #104
@kadel Ah okay, it's a docs issue then. There's no example on either the bottom or the top that shows how it's implemented in a full file.

[2017-06-30 10:54] cdrage commented on #104
@surajssd Okay, we should show how we use it then in an example.

[2017-06-30 10:59] kadel commented on #104
I'm not a big fan of showing everything in one file, to be honest, it looks scary, it's hard to read, and I doubt that any application will ever use every feature there is.

[2017-06-30 11:04] pradeepto commented on #104
I am confused about this because this is supposed to be a file reference. Should the example not have every feature? Maybe we need a middle path.

Ok, how about having smaller examples at "key" level? Not necessarily for all keys but some keys that we think are important. Often you see such examples in API docs where small focused snippet (partial code) are provided for certain methods showcasing

[2017-06-30 11:06] kadel commented on #104
👍 for multiple small examples highlighting features that are documented in given section

[2017-06-30 11:06] surajssd commented on #103
The field `type` comes from Kubernetes `serviceSpec`.
Ref: https://kubernetes.io/docs/api-reference/v1.6/#servicespec-v1-core

First of all this was discussed before about adding expose as field. Back then we had service and ingress spec was one.

But then it was decided that we only change the service port to add new field called endpoint which will create ingress. But nothing else is changed in

[2017-06-30 11:07] surajssd commented on #104
@cdrage it is shown here: https://github.com/kedgeproject/kedge/tree/master/examples/ingress

[2017-06-30 11:08] #105 closed

[2017-06-30 11:11] cdrage commented on #104
@kadel @surajssd Okay. Smaller examples :+1: but let's get some examples into the file reference doc, not putting docs in the `examples` folder.

[2017-06-30 11:14] pradeepto commented on #104
File reference should have snippets only and not whole examples or it becomes just a long file that people will get lost in. Of course, in a certain case where it is important to show the whole example, we do that. Use your best judgement.

[2017-06-30 11:16] pradeepto commented on #104
And we should definitely have the examples folder, it is a great learning resource.

[2017-07-03 10:46] #43 closed

[2017-07-03 11:28] containscafeine commented on #52
Talking with @kadel, we thought that -
- JobSpec is a lot similar to DeploymentSpec, in the sense that there are top level fields and then there is PodTemplateSpec, so maybe we can treat this similar to how we reuse the PodSpec.

So, we can do something like this with jobs -

[code]

This lets us defining jobs like -
[code]

This also means, that defining solo jobs will be possible like -
[code]

[2017-07-03 12:45] containscafeine commented on #52
@kadel also, about the name auto generation part, I think it's safe to auto generate names for any number of jobs specified in the spec, since there are no services, etc associated with these, and no one talks to the jobs!

[2017-07-04 11:48] containscafeine opened #109 "Empty deployment gets generated when any invalid yaml data is passed"
The following happens:

[code]

An error should have been thrown instead!

[2017-07-04 15:33] surajssd commented on #45
Right now the work is being done in https://github.com/surajssd/kedgeSchema

It can generate the schema but not sure if the schema is complete or correct

[2017-07-04 16:02] surajssd commented on #45
removing the image field

[code]
trying to validate

[code]

errors out

---

changing the field type of `name`

[code]

errors out as:

[code]

---

The file [configs/appspec.json](https://github.com/surajssd/kedgeSchema/blob/master/configs/appspec.json) is the schema for kedge if I am not mistaken.

[2017-07-04 17:02] cdrage opened #110 "Implement StatefulSets"
Similar to #52 and covering part of #101 this is an issue in regards to implementing StatefulSets (previously known as PetSets).

We should discuss what form of syntax we will use with Kedge.

A good start is by looking at the example on https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/

[code]

and on how we can convert it to the "kedge" equivalent.

[2017-07-04 17:11] pradeepto commented on #45
@surajssd This is a great start. We should break this issue into multiple issues and have checklist. WDYT?

[2017-07-04 17:16] cdrage commented on #63
@surajssd Anything else we need to add to https://github.com/kedgeproject/kedge/blob/master/docs/development.md ? I think I covered it all.

[2017-07-04 17:16] cdrage commented on #63
Woops, closed by accident

[2017-07-04 17:19] pradeepto commented on #63
@cdrage +1 from me about closing this issue.

But I am not sure what @surajssd means by "how we break down big issues?". Is it about filing epics and issues? Or is it about sending small PRs per issue?

[2017-07-04 18:38] cdrage commented on #110
Of course, here is a list of limitations for StatefulSets (paste from the website):

StatefulSet is a beta resource, not available in any Kubernetes release prior to 1.5.
As with all alpha/beta resources, you can disable StatefulSet through the --runtime-config option passed to the apiserver.
The storage for a given Pod must either be provisioned by a PersistentVolume Provisioner based on the requ

[2017-07-04 19:03] cdrage commented on #110
Of course there'll be some discussion, but I propose we simply add a `set` key to the root.

Example:

[code]

Thus we can also do:

[code]

[code]

[code]

[2017-07-05 06:46] surajssd commented on #110
I had similar idea for supporting multiple controllers with kedge.

But the key that I had in mind was taken from Kubernetes terminology:

[code]

[code]

[code]

We do support `labels` but we don't support `annotations` yet, because with `annotations` we are not sure where to put what `annotations` and with different resources in kubernetes it will change. If you are targeting `annotations` just

[2017-07-05 06:55] surajssd commented on #45
Yes I think so we can create a checklist to do that

[2017-07-05 06:59] surajssd commented on #45
- [ ] Find the right place to place this jsonschema generation code
- [ ] Put some explanation of how this generation works
- [ ] Everytime we update anything in `spec.go` there has to be a parallel update in the base schema.
- [ ] What K8s version do we base off of?
- [ ] Versioning of the jsonschema

[2017-07-05 10:02] containscafeine opened #111 "Find conflicting fields programatically"
We embed a lot of structs (huuuge structs), and it's very likely that there are some conflicting fields which we cannot catch just by looking.

We need to way to find conflicting fields in our resulting spec, and then handle such conflicts gracefully and very reliably.

One example is while implementing jobs (#52), I figured that the `activeDeadlineSeconds` field would not populate in the JobSpec,

[2017-07-05 10:16] containscafeine commented on #110
@kadel and I had a very similar discussion when talking about implementing Jobs (#52), but we felt that defining a solo file for just a job does not make sense, and it makes sense for jobs to be defined with the `app` part, however since both contain PodSpec, it was tempting to merge it with the App struct and specify a controller which says `kind: job`, `kind: deployment` to define the behavior o

[2017-07-05 11:19] containscafeine opened #112 "Abstract PodSpec and Container to PodSpecMod"
Placeholder issue so I don't forget to we need to create a PodSpecMod in kubernetes.go

[2017-07-05 12:30] cdrage commented on #110
@containscafeine I like your implementation, having a separate field name / key for each controller. But this brings up problems with the "containers" category. By design, we're having each file (db, web) as a separate file / section all with their own separate "containers" category. I wish we could have it like this:

[code]

I do like your design however, but we would *still* have to create sepa

[2017-07-05 12:41] containscafeine opened #113 "Jobs will not support populating container names, we need to support that"
The way we auto populate container names, we should be able to do that when jobs are implemented. Currently, in kubernetes.go, it is tied to `app.PodSpec.Containers`, we need to generalize that.

Basically abstract this out for jobs -
https://github.com/kedgeproject/kedge/blob/master/pkg/transform/kubernetes/kubernetes.go#L386-L397

[2017-07-05 12:45] containscafeine opened #114 "Jobs do not support activeDeadlineSeconds"
Jobs do not support `activeDeadlineSeconds` in JobSpec or PodSpec, we need to fix that.

Blocked on #111

[2017-07-05 13:07] containscafeine opened #115 "Auto populate all container names"
Currently, we only auto populate names for a container if there is only 1 container. Container names are generally not referred anywhere in the Kubernetes world, and it should be fine to auto populate names for all the containers with no names.

WDYT @kadel @surajssd

[2017-07-05 13:26] pradeepto commented on #110
@containscafeine I am confused here:

An alternate way could be have separate field name for each controller -
[code]
Is that supposed to be in a single file? If so, how do we define the same thing in one app/service per file?

[2017-07-05 13:39] containscafeine commented on #110
@cdrage @pradeepto not very sure about this because, yes, it does allow specifying multiple apps in one file by introducing a level and goes against the single file approach, while with jobs, we are able to define multiple jobs in one file.
Would love @kadel's thoughts on this!

[2017-07-05 14:11] cdrage commented on #110
@containscafeine

problem is that there is no use-case for this. I doubt anyone would like to deploy both a daemonset / stateful set with the exact same containers as each-other... That's the main issue that's occurring here. Having different names as the root keys (deployment, statefulSet, etc.) wouldn't be viable with multi-container deployments.

[2017-07-05 14:34] cdrage opened #119 "[spec change] Make containers a subkey"
We're running into confusion as per: #116 as well as #110 which causes issues such as these to occur:

[code]

Which IMO is really confusing.

I propose we make `containers` a subkey. So instead, we have this:

[code]

Thus, we can also implement #110 (for example), by having separate root keys:

[code]

[2017-07-05 15:02] containscafeine commented on #110
@cdrage oh, you're talking about not making it a list and being able to define only one definition under one controller. I'm fine with that :)

[2017-07-05 15:04] containscafeine commented on #119
@cdrage so I'm not looking at it from "making containers a subkey" angle, maybe more like the discussions we are having at the Stateful Sets issue - #110.

So, maybe having controllers at the top level of the spec, like "deployment", "statefulSets", "jobs" at the top level, and everything inside them, including services.

For instance, `services:` will be a part of statefulSets and deployments, bu

[2017-07-05 15:24] cdrage commented on #110
@containscafeine For the most part, yes! :+1:

[2017-07-05 15:25] cdrage commented on #119
@containscafeine This is getting confusing between Kubernetes services and *our* definition of "services". Perhaps we need to draw a line to say that these are Kubernetes services and not a "services" definition.

But yeah, that's an alternative way that we could do it.

[2017-07-05 18:53] cdrage commented on #67
I checkmarked these three in your post, I believe this is all done :+1:

[2017-07-05 18:53] #67 closed

[2017-07-05 18:59] cdrage commented on #80
PR here: #121

[2017-07-05 19:02] cdrage commented on #9
I think we can :+1:

[2017-07-05 19:02] #9 closed

[2017-07-05 19:03] #63 closed

[2017-07-05 19:05] cdrage commented on #64
I have created https://kedgeproject.slack.com for chatting :+1: @pradeepto

[2017-07-05 19:15] cdrage commented on #62
@surajssd Could you describe what needs to be done?

[2017-07-05 19:15] cdrage commented on #60
@pradeepto Not too sure if this has been completed with the README update?

[2017-07-06 04:23] containscafeine commented on #119
@cdrage yep, the services definition we have is the Kubernetes services, we don't have a services definition (meaning microservices or some such) (AFAIK)

[2017-07-06 06:22] surajssd commented on #119
@cdrage

Actually these kedge services are Kubernetes services.

At root level we have:

[code]

Where `ServiceSpecMod` is:

[code]

see the line:

[code]

It is actually a Kubernetes service spec embedded in it.

[2017-07-06 06:29] containscafeine commented on #110
ongoing discussions at #119

[2017-07-06 06:33] surajssd commented on #110
As discussed in here https://github.com/kedgeproject/kedge/issues/110#issuecomment-313016324

there are two approaches here either add a root level key for each controller:

### First approach

for deployment:
[code]

for job
[code]

**vs**

### Second approach

for deployment:

[code]

for job:

[code]

Speaking for myself I am inclined towards the second approach. Because it is less indentation,

[2017-07-06 06:34] surajssd commented on #119
As discussed in here https://github.com/kedgeproject/kedge/issues/110#issuecomment-313016324

there are two approaches here either add a root level key for each controller:

### First approach

for deployment:
[code]

for job
[code]

**vs**

### Second approach

for deployment:

[code]

for job:

[code]

Speaking for myself I am inclined towards the second approach. Because it is less indentation,

[2017-07-06 06:35] containscafeine commented on #119
Thinking about it, there are 2 approaches -

- Introduce root level controller fields -
[code]

- Introduce a `kind` or `controller` field -
[code]

[2017-07-06 06:35] surajssd commented on #119
Let's keep this thread/issue for discussing the approach of how we gonna enable multiple controllers

[2017-07-06 06:36] surajssd commented on #110
Let's keep this discussion for statefulset related thing as opposed to how do we add support for multiple controllers.

[2017-07-06 06:39] surajssd commented on #119
@containscafeine you did not suggest what approach you wanna go with?

[2017-07-06 06:41] containscafeine commented on #119
I'm inclining towards the second one, i.e. introducing a `kind` or `controller` keyword instead of increasing indentation with root level controller fields.

ping @kadel @jstrachan would love your feedback on this :)

[2017-07-06 06:44] surajssd commented on #60
Following are outdated:

- [ ] [examples/single_file](https://github.com/kedgeproject/kedge/tree/master/examples/single_file) because there is no README for it,
- [ ] [root level README of examples](https://github.com/kedgeproject/kedge/tree/master/examples) needs update for new examples that were added

Rest all of them are updated

[2017-07-06 06:46] surajssd commented on #62
I am taking this up will try to write up how the data flow happens in there and how the code is structured.

[2017-07-06 06:47] surajssd commented on #64
@cdrage how do I get invite on this?

[2017-07-06 07:01] containscafeine opened #123 "Pretty print debug logs"
Currently, the debug logs look like -

[code]

It'd be a lot more "debuggable" if we pretty print these logs :)

[2017-07-06 09:59] #112 closed

[2017-07-06 10:00] surajssd commented on #123
Yes pass it to `json.MarshalIndent(v, "", "  ")` or similar thing in yaml should do the magic

[2017-07-06 10:12] #109 closed

[2017-07-06 10:23] surajssd commented on #113
https://github.com/kedgeproject/kedge/blob/master/pkg/transform/kubernetes/kubernetes.go#L386-L397

shows some random thing, maybe tag the link with a commit

[2017-07-06 11:04] containscafeine commented on #113
@surajssd -
[code]

[2017-07-06 12:40] surajssd commented on #113
this should happen in the fix.go with everything else

[2017-07-06 13:42] cdrage commented on #119
Seems so messy, that's the problem :( People will have to memorize that if it is a "job" or anything that's not a  service, it's not going to have the "root" key of `services`.

For @containscafeine 's suggestion

:+1: for the first approach, the second approach get's confusing as suddenly you have "services" but in "job" you don't (everything is a root key? for restartPolicy nad parrallelism? wha

[2017-07-06 13:45] cdrage commented on #119
For @containscafeine I believe this is wrong:

[code]

It should be formatted like this:
[code]

Considering the first approach is to device them into separate root-level keys ^^.

[2017-07-06 13:53] cdrage commented on #64
@surajssd I will have to set it up with this: https://github.com/rauchg/slackin on a public VPS.

[2017-07-06 13:55] #80 closed

[2017-07-07 10:11] containscafeine opened #128 "Defining secrets"
Currently, we do not support defining a new secret in the spec. It's one of the most pressing features IMO.

We should add a top level field for this like "ingresses", etc, and also add support for the same in current implementation of envFrom (tracked at #85).

[2017-07-07 19:00] cdrage commented on #65
Userguide here: #130
Once merge, site can be created.

[2017-07-10 14:39] cdrage commented on #64
I believe this can be closed @pradeepto as I've updated the README with the required details. How to contribute as well as where we hang-out (slack).

IMO, I wouldn't do a mailing list.. Keep it to GitHub + Slack.

[2017-07-10 14:43] kadel commented on #64
+1 for github and slack

- github issues for async communication and all project decisions
- slack for ad-hoc communication

But all important things should be discussed in github issues or PRs and not on slack, to leave some time for everyone to react (because of different time zones)

[2017-07-10 14:44] cdrage commented on #64
@kadel @pradeepto Ideally, slack for now until (possible) merge into Kubernetes Incubator / Kubernetes Slack, see: https://get.slack.help/hc/en-us/articles/201748703-Import-message-history so we won't lose our channel history.

[2017-07-10 14:50] cdrage opened #134 "New "tagline""
We have:
`Compose Kubernetes apps using Kubernetes constructs`

As the title

and
`Concise Application Definition for Kubernetes`

as the main descriptor.

Could we perhaps come up with a better tagline to entice users to use Kedge?

Perhaps:

`Compose simple and easy-to-use Kubernetes applications`

and

`Compact/Condensed Application Definitions for Kubernetes`

It's hard to come up with names.

[2017-07-10 14:58] cdrage opened #136 "Move `examples` to file reference. Add real examples (GitLab, MySql, Wordpress, etc.)"
The examples we currently use: https://github.com/kedgeproject/kedge/tree/master/examples reflect similarly to how we define our artifacts via the file reference doc.

Examples should show-case real-world deployments.
Our "current' examples should be moved to a different "spec" or "file reference" folder.

I suggest we move these examples to /docs/spec or a better-named folder and then add real-wo

[2017-07-10 15:06] kadel commented on #134
can we avoid word compose?

[2017-07-10 15:51] pradeepto commented on #64
Great! Closing this.

[2017-07-10 15:51] #64 closed

[2017-07-11 08:16] pradeepto commented on #134
Compose Kubernetes apps using Kubernetes constructs

Not anymore. I had changed it some time back. At least I see this -  _" Kedge - Concise Application Definition for Kubernetes"_. Both in the title at the top and in the main readme. This explanation is correct and sounds nice.

I would definitely like to avoid the word "compose". I think the word "concise" is definitely better than "condensed" a

[2017-07-11 08:18] pradeepto commented on #136
Good point about adding those examples, I have no strong opinions on where they should reside as long as we have simple examples that help people to learn the concept, configuration and tooling and also have "real world" examples that you are talking about. And these should be clearly pointed out in the readme.

[2017-07-11 08:58] pradeepto commented on #104
@cdrage @kadel @surajssd @containscafeine What is the resolution here? And what would be the action items?

[2017-07-11 09:15] pradeepto commented on #65
We need a page on the architecture before the website. I think @surajssd is working on it or was supposed to.

[2017-07-11 09:17] pradeepto commented on #59
Linking https://github.com/kedgeproject/kedge/pull/77 here for reference. cc @surajssd

[2017-07-11 09:20] pradeepto commented on #55
LOL

[2017-07-11 09:26] pradeepto commented on #16
@surajssd @containscafeine Can we close this since we have made a decision?

[2017-07-11 10:15] containscafeine commented on #16
I think we can keep this open with low or no priority, since we "might" do this sometime if feature requests for this ever drop in. Once we move applications to kedge, if this seems necessary, we might do it then.

[2017-07-11 10:16] containscafeine commented on #55
Haha <3

[2017-07-11 11:16] kadel commented on #134
I'm quite happy with "Concise Application Definition for Kubernetes" it is short, and I think it describes kedge well.

[2017-07-11 11:22] kadel commented on #119
As a rule we decided that one file (or one section of the file) is going to describe one application. In that sense, one application will always be just one Deployment or one StatefullSet. We don't need a way to define both in the same file.

I would like to keep it is without making containers subkey

[2017-07-11 11:38] kadel commented on #110
I'm not sure if will work but what if we merge StatefullSpecSpec and DeplymentSpec?

Then we can use `serviceName` as an indicator what controller should be generated.
If `serviceName` is set we will generate StatefullSet if it's not it will be Deployment.

[2017-07-11 11:43] kadel commented on #101
I don't think we need a way to define any of those separately. Those all low level constructs that are only used by higher level controllers (Deployment, StatefulSet, Job)

[2017-07-11 11:47] kadel commented on #96
we should make `-f`/`--file` flag required. If it's not set we show help for given command.

`kedge generate` should display same output as `kedge generate -h` and similarly for `kedge deploy` should display same output as calling `kedge deploy -h`

We should also add a note to  `-f` stating that this flag is required.

[2017-07-11 11:59] kadel commented on #111
if i understand it correctly activeDeadlineSeconds in Job is doing something slightly different than activeDeadlineSeconds in Pod. It should be possible to specify both separately

[2017-07-11 12:32] cdrage commented on #119
@kadel How do you think we should implement the different kinds?

If we want separate files, ideally i'd be:

[code]

then

[2017-07-11 12:34] cdrage opened #139 "Add nightlies"
Add nightly builds (build on each PR merge).

Using travis + bintray, similar to how it's implemented in a project contribute to here:
https://raw.githubusercontent.com/streamlink/streamlink/master/.travis.yml

[2017-07-11 12:36] cdrage commented on #101
@kadel Yup. Hence the "not typically used by itself" comment. We *could* add a manual way of creating the, but ideally, sticking to the higher-level constructs would be the best.

[2017-07-11 12:38] cdrage commented on #134
I saw the title change. :+1: Let's close this since it's been updated. :100:

[2017-07-11 12:38] #134 closed

[2017-07-11 12:40] cdrage commented on #104
@pradeepto I believe we can resolve this in https://github.com/kedgeproject/kedge/issues/136 as well as doing minor updates to the file reference doc to avoid any confusion in regards to missing keys.

[2017-07-11 13:12] surajssd commented on #65
@pradeepto we don't need architecture for website, the thing I am working on is more for developers who gonna contribute to kedge

[2017-07-11 13:13] cdrage commented on #65
I agree with @surajssd I don't think we need an architecture doc similar to http://kompose.io/architecture/ we're moving too fast that things may be outdated the next week after (including stuff such as openapi that is being added)

[2017-07-11 13:13] cdrage commented on #65
What we have so far is a:

- Quickstart
- Userguide
- Development

which I think is enough to start a rudimentary website.

Other docs such as installation should be added too.

[2017-07-11 13:14] containscafeine commented on #128
We decided to wait for user feedback before implementing this right now, but this is definitely on the radar.

[2017-07-11 13:14] cdrage opened #140 "Add installation document after a release"
Once we have #139 completed as well as a possible release, we should add a separate installation document that outlines how to get the binary, etc.

[2017-07-11 13:45] surajssd opened #141 "Strategy to support various Kubernetes versions"
### Problem:

Right now we support k8s 1.5 (if I am not mistaken). Which means the artifacts generated will work on Kubernetes 1.5 and if we don't use any new feature we in effect also support older version of Kubernetes.

But this could be a problem if we generate something that is not supported on old version then the generation is of no use.

For e.g. (assume we have already added support for `

[2017-07-11 14:14] kadel commented on #128
Even if we are not going to do anything with secrets yet, we should add documentation explaining how to work with secrets in a little bit more complicated way :-)

[2017-07-11 14:35] kadel commented on #136
I don't think that examples should reside in /docs/spec. They are examples that have nothing to do with spec. I think that /docs/examples is right place for it

[2017-07-11 17:17] cdrage opened #145 "Add kedge delete to use guide"
Need to add `kedge delete` to the user guide.

[2017-07-12 05:28] containscafeine commented on #141
@surajssd I think introducing a flag and supporting multiple releases at the same time will be a maintenance hell, especially because kedge is super new right now.

For now (and only for now), we can stick with supporting either the [latest Kubernetes](https://github.com/kubernetes/kubernetes/releases/latest) release, or the Kubernetes being used in the [latest OpenShift](https://github.com/opensh

[2017-07-12 05:32] containscafeine opened #146 "Take in input from URL"
Like we did in OpenCompose, we can also do this for kedge - https://github.com/redhat-developer/opencompose/pull/64

[2017-07-12 05:40] containscafeine opened #147 "Make kedge.yaml as the default file"
Thinking about https://github.com/kedgeproject/kedge/issues/96#issuecomment-314418866, does it make sense to have a default filename to look for when we run any kedge command?
Like, `kedge generate` will look for `kedge.yaml` in the current working directory.
Thoughts?

[2017-07-12 06:18] containscafeine opened #148 "Add bash/zsh completion support"
Would be cool to add support for bash and zsh completion like we have in kompose

[2017-07-12 06:34] containscafeine commented on #96
@kadel +1. Once #147 is resolved, will fix this.

[2017-07-12 07:02] pradeepto commented on #51
Examples need to be updated as well.

[2017-07-12 07:59] surajssd commented on #141
@containscafeine our potential users are not on latest of either

[2017-07-12 08:25] containscafeine commented on #141
@surajssd OpenShift v1.5.1?

[2017-07-12 08:33] kadel commented on #141
Multiple branches will be maintenance hell :-D and usability hell for users.

I don't think that there is other way than flags.

[2017-07-12 08:34] containscafeine commented on #93
ping @kedgeproject/maintainers, are we good with the UX on this before we proceed?

[2017-07-12 08:38] kadel opened #150 "rename deploy and undeploy to create and delete"
As discussed in https://github.com/kedgeproject/kedge/pull/129 we decided that we will use the same naming for deploy/undeploy subcommands as kubectl (create/delete)

[2017-07-12 08:41] containscafeine commented on #146
We can borrow code from - https://github.com/redhat-developer/opencompose/pull/64/commits/dc6442780f0ba9a190c61d545bcc2c65fe2ae430

[2017-07-12 08:52] kadel commented on #150
there already is PR :-D #142

[2017-07-12 09:03] kadel commented on #147
Not sure about that.
Don't know if it makes sense when using  "one file=one app" approach. And we agreed that by default we will guide users to this path.

[2017-07-12 09:04] pradeepto commented on #147
Brilliant point. Had totally missed that angle. Thanks @kadel

[2017-07-12 09:05] containscafeine commented on #147
Closing in agreement with @kadel

[2017-07-12 09:05] #147 closed

[2017-07-12 10:47] containscafeine commented on #141
@kadel if we do everything in master, we will encounter problems like different versions of vendored packages. The first one that comes to my mind is client-go. Different Kubernetes versions will require different versions of client-go, how do we vendor them?

Another problem would be the ever growing size of the binary because of multiple versions being supported.

In case of multiple branches, w

[2017-07-12 12:41] kadel commented on #119
I got to this discussion later, so I'm still a bit confused but we can't do jobs just like list list of JobSpec under jobs key?

[code]

this will also solve https://github.com/kedgeproject/kedge/issues/114

[2017-07-12 13:07] containscafeine opened #153 "Introducing: "kedge apply""
`kedge apply` will be a fitting member to our growing family of `kedge generate`, `kedge create` and `kedge delete`. It should have the same behavior as `kubectl apply`!

Thoughts?

[2017-07-12 13:09] kadel commented on #141
So If I want to convert for multiple for Kuberntes version I'll have to download multiple different binaries?
That doesn't feel  user-friendly.

This is something else, they don't add new features to the old versions, so it's easier to maintain.

[2017-07-12 13:57] cdrage commented on #119
@kadel Because it's confusing having containers as a root key *as well* as a subkey. Basically, if you defining a `service` you're using it as a root key. If you're defining jobs as per #116 you're using it as a sub-key.

It should be the same between the two. Moving `containers` as a subkey within `services` solves both problems.

[2017-07-12 14:01] cdrage commented on #93
Yup. `--namespace` and `-n` makes sense.

[2017-07-12 14:07] #150 closed

[2017-07-12 14:08] cdrage commented on #146
This would be good for downloading URL examples, etc.

However, to avoid single file = single app. We would need to implement being able to download multiple files and converting. Ex: `./kedge create -f https://foo.com/bar.yaml -f https://bar.com/foo.yaml`

[2017-07-12 18:47] #51 closed

[2017-07-13 09:28] kadel opened #155 "Allow passing whole directory as argument for `-f`"
If `kedge create -f foo` is called and foo is directory deploy all `*.yml`  files in that directory.

Same behaviour for delete, generate and apply

[2017-07-13 09:30] kadel commented on #119
I'm more and more confused :-(
What do you mean by `services`? Services don't have containers.

[2017-07-13 11:41] kadel opened #157 "Allow adding Kubernetes artifacts to Kedge file."
It should be possible to add ordinary Kubernetes object to Kedge yaml file.

This will allow extending Kedge YAML  files with any Kubernetes object regardless if we add explicit support for it or not.

Implementation:

Add new top level key that contains list of kubernetes objects.
Lets call it `extras` for now as I can't think of proper name :smile:

example
[code]

[2017-07-13 11:45] #100 closed

[2017-07-13 11:51] surajssd commented on #136
What @cdrage says also makes sense that we should have examples that show real world examples and what @kadel said also makes that these shortcut specific examples should not be in spec.

I propose that we create following directory structure:

[code]

[2017-07-13 11:56] surajssd commented on #128
@kadel The docs are present on how you can use secret, find it [here](https://github.com/kedgeproject/kedge/tree/d105270316552d8fc11397cd329cda63ed7d6ae6/examples/secrets).

[2017-07-13 12:24] kadel opened #159 "Is mention bot providing any value?"
Do you think that mention bot is useful?

I feel like it's not adding any value. Most of the commits are done by 4 people If I look at the comments made by bot, it almost always mentions all of us.

I don't think for a project of our size and stage.

[2017-07-13 12:28] kadel commented on #111
How do you propose to fix conflicting keys programmatically?

[2017-07-13 12:33] cdrage commented on #159
It helps without having to constantly ping people in the initial message.
But otherwise, yes, it's similar people each time.

On Jul 13, 2017 08:24, "Tomas Kral" <notifications@github.com> wrote:

[2017-07-13 12:37] kadel commented on #136
I don't know if I said that :D

I actually thing that spec should contain partial examples (snippets) highlighting how shortcuts are typically used.

Example directory should contain only examples of real applications.
I believe that in the example directory should be only examples that work and make sense.

I would actually remove everything that you have put in 'usage' directory.
Those can be br

[2017-07-13 13:15] cdrage commented on #136
`real` and `usage` seems a bit odd.. I'd have to agree with @pradeepto to get the current examples into `/docs` and put examples such as gitlab, mattermost, etc to `/examples`

[2017-07-13 13:25] #153 closed

[2017-07-13 13:32] pradeepto commented on #136
I think, I said this in another issue but let me try to phrase this correctly.

We should have two examples:

1. Spec examples. Look at various API documentation. Generally, there is one complete example at the top - showcasing/highlighting the important things and a general overview. Then with every class, method etc are interspersed with small snippets focusing on the method/class etc. Snippets

[2017-07-13 13:39] surajssd commented on #141
@containscafeine client-go supports all older version from which it is being used, that is what README of client go says.

See https://github.com/kubernetes/client-go#compatibility-matrix

We will have to see how do we output k8s version specific thing.

[2017-07-13 13:47] surajssd commented on #155
:+1:

[2017-07-13 13:56] cdrage commented on #119
@kadel Yeah, they do. And like how you're confused, it confuses me too:

[code]

Should be:

[code]

[2017-07-13 17:47] cdrage commented on #159
We can disable the bot for now until we have more users contributing :+1:

[2017-07-13 17:51] cdrage commented on #157
@kadel I like this... However... With further discussion in #116 wouldn't our current implementation be "too close" to what we can simply provide in `extras`? For example:

[code]

Don't mind me in-case this is for a separate discussion :+1:

[2017-07-14 09:51] kadel commented on #119
No. The second one is wrong.
Services don't have containers in it, they are Kubernetes Services. No containers there.

[2017-07-14 09:54] containscafeine commented on #157
@kadel +1 to the idea, but instead of adding a new root level field, can we just start accepting Kubernetes artifacts?
So,
file1.yml -
[code]

file2.yml -
[code]

So, if someone wants to do one file, then we have `---` separator anyway,

[2017-07-14 09:59] containscafeine commented on #111
@kadel I don't think the fixing can be done programmatically :yum:, I think those checkboxes are more of the workflow we should follow. This issue can be closed in full with #135

[2017-07-14 10:03] containscafeine opened #160 "Print help along with error if only `kedge generate` or some other subcommand is passed"
@kadel said in https://github.com/kedgeproject/kedge/issues/96#issuecomment-314418866 that -

And we all agree, but #151 does not fix this.

So let's see kubectl does it, and fix this some time later :)

[2017-07-14 10:11] kadel commented on #157
I'm looking at `---` separator as a way to put multiple applications into a single file.
`---` is separating applications.

What if you want to add something that logically belongs to a single app? It should be in the same file / section

One application as I look at it is usually one Deployment, one or multiple  Services and additional support objects like Jobs and other extras and all this shoul

[2017-07-14 12:16] kadel commented on #159
Can we maybe set it so it ping only one person?

[2017-07-14 12:17] kadel commented on #141
Yep, as @surajssd there shouldn't be any vending issues, we just have to take care of outputting right stuff

[2017-07-14 13:49] cdrage commented on #119
Ah okay. Hence the confusion because we have two definition of "services" within Kedge at the moment. One is similar to how it's the same as Docker Compose (App Services) and the other being Kubernetes (Services, networking like you said).

What implementation do you think we should go through with? @containscafeine 's or @surajssd 's?

[2017-07-14 13:56] cdrage commented on #159
@kadel Yup, PR #161 here

[2017-07-15 07:00] surajssd opened #162 "Add curl commands to download binaries"
If you download the binaries now we get the binary with name of os and arch in it for e.g. `kedge-linux-amd64`, we can have a single curl command to download the binary and rename it.

Having this in readme helps me with downloading it by copying the command.

[2017-07-17 07:13] #96 closed

[2017-07-17 07:16] kadel commented on #139
closed in https://github.com/kedgeproject/kedge/pull/154

It's not classic nightly builds. Build happens every time there is a change in master branch

[2017-07-17 07:16] #139 closed

[2017-07-17 07:24] kadel commented on #119
There should be only one service in Kedge, and that is Kubernetes Service.

In most cases, users will define Deployments. I would like to keep it as simple as possible for deployments.

Because of that I like what is @surajssd proposing as the second approach in https://github.com/kedgeproject/kedge/issues/119#issuecomment-313308792

But I don't think we need "kind" filed for Jobs. I would use thi

[2017-07-17 08:30] kadel commented on #110
We still don't know how common StatefulSets are going to be for classic applications.

I suspect that StatefulSets are going to be used mostly for databases.

I think we can put StatefulSets on hold for now.
Once we implement  https://github.com/kedgeproject/kedge/issues/157 StatefulSets could be added into Kadge as 'extras'.

[2017-07-17 09:10] kadel opened #164 "Deployment with two options (parts) - Application resources and environment resources"
We should have three options how to do deploy or generate application:

- Create just application resources
- Create just environment resources (Resources specific for each environment  - dev/test/prod..., could be also called cluster specific resources)
- Create everything as defined in Kedge yaml file.

Application resource is usually Deployment + Service but can also include Jobs, ConfigMaps, P

[2017-07-17 09:17] kadel commented on #164
We could implement this by adding a new option to `create`,`apply`, `generate` subcommand.

`kedge create --part=app` - to create just application resources
`kedge create --part=env` - to create just environment resources
`kedge create --part=all` - for everything

I'm not sure if `part` is good name for it,  but I don't have anything better for now :confused:

[2017-07-17 09:19] kadel commented on #128
After discussion last week this changed a little bit.

If we are going to do https://github.com/kedgeproject/kedge/issues/164

Than we can add secrets in the same way as what we have configMaps.

[2017-07-17 13:33] containscafeine commented on #162
@surajssd +1, and also move to to somewhere in $PATH

[2017-07-17 13:40] containscafeine commented on #157
@kadel About the UX, if someone wants to put in their Kubernetes resource, they should just be able to copy and paste it and it should work. Increasing a level of indentation will mess that up.

`---` can be used in this case IMO!

Is there some way we can do it at the root level?

[2017-07-17 13:53] cdrage commented on #119
@kadel There are other use-cases such as DaemonSets / Jobs / CronJobs which this would be useful for.

[2017-07-17 14:01] kadel commented on #119
Jobs and CronJobs are a little bit different. They are not usually standalone applications,  they complement application that is represented by Deployment (or StatefulSet or DeamonSet).

This is also why Jobs have separate root level key as they are proposed right now.

DoeamonSets are really specific, they are used for cluster wide things, as such they are rarely used by regular developers. Daemo

[2017-07-17 14:05] cdrage commented on #119
@kadel I believe adding kind would be beneficial to create extensive examples as well as deployments. StatefulSets are becoming more popular as it's beginning to be the go-to for databases. Why not add `kind`? Limiting Kedge to only Services and Deployments would be limiting to what people can do with Kedge. Isn't the whole point of it to simplify deploying Kubernetes artifacts? Having `extras` fo

[2017-07-17 14:05] kadel commented on #157
It will illogically separate one application into multiple files / sections.

IMHO it's completely OK to have it "one level deep" Not every application will use it. It will be used only for more complicated or less common things.

[2017-07-17 14:18] kadel commented on #119
I'm not saying that Kedge shouldn't do StatefulSets. Only that I wouldn't worry about it for now.
We can add it later if needed until then using 'extras' can be enough for a small percentage of people that actually need StatefulSet. Kedge have to have some form of 'extras' anyway, regardless what we do with StatefulSet.

As you are saying its used for databases. Developer's don't deploy databases

[2017-07-17 14:46] cdrage commented on #162
PR #165 fixes this.

[2017-07-18 04:24] surajssd commented on #119
I would like to see `kind` field which defines the type of controller, does not matter if `job` or `deployment` or `statefulset`. Because it makes the spec look very consistent.

If we consider making `jobs` as [root level field](https://github.com/kedgeproject/kedge/pull/116#issuecomment-315061007) and creating list of `job` object, it is confusing to see `containers` field at root level for `dep

[2017-07-18 05:00] surajssd commented on #157
My simple idea for doing this both on the user side and the implementation wise is that anything we cannot parse fairly is k8s artifact and anything we can parse is kedge.

So for example people can give a k8s artifact directly and since we know this does not look like kedge we feed the entire thing to `kubectl`. So with this we don't need to add extra level of indentation and also creates separat

[2017-07-18 10:47] kadel commented on #157
I see your point, but I still think that it will be better to do it without using document separator (`---`)

One file (one yaml document) should represent one application as a whole. This breaks this  idea.

[2017-07-18 11:44] kadel commented on #119
I feel that this will go away from the whole idea of defining an application, and stepping back closer to Kubernetes OPs view.

I'm not saying that this will be always the case, but its most common.
Kuberentes has different approach. Kuberentes is breaking everything into smallest possible pieces, you can't compare this with Kubernets approach.

[2017-07-18 11:46] kadel commented on #119
If we really add Kind object that we can go back to Kubernetes resources and just provide some additional shortcuts but keep the structure of the object intacted.

Otherwise we are creating some strange hybrid that will just be more and more confusing for everyone.
This is how this looks to me.

[2017-07-18 12:59] cdrage commented on #119
@kadel

I'm against the `kind` format, but rather changing the root keys to their respective jobs, my original proposoal of:

[code]

Thus avoiding confusion of a weird "hybrid" between Kedge and Kubernetes artifacts.

[2017-07-18 18:04] containscafeine commented on #119
@cdrage @kadel the more I think and talk about Jobs, it seems that they are generally not tied to one part of the application, in fact they are tied to multiple parts. e.g., populate the "database", so "web" can use it; train a "model", so the "API gateway" can use it. So use cases for jobs are mostly tied to >=2 parts of the broader application, and it makes more sense to me to go the "kind: Job"

[2017-07-18 18:15] containscafeine commented on #28
First off, @surajssd the issue is very detailed and has all the relevant links, it saved me a lot of time, thanks for that :+1:

---

So, this behavior has no documentation, and reading through various PRs and commits, I figured out that `kubectl kedge` is not how the plugins work (for now), they work as `kubectl plugin kedge`.

Doing the following on kubectl >= v1.7.0 works -

[code]

But now wha

[2017-07-18 19:47] cdrage opened #167 "Wordpress examples don't seem to work."
Using kedge + wordpress, the example does not seem to deploy:

[code]

Ping @surajssd

[2017-07-19 03:59] surajnarwade commented on #167
@cdrage, it's working on my machine:

[code]

[2017-07-19 06:23] surajssd commented on #167
it worked for me

[code]

kedge version

[code]

k8s version

[code]

Also the app is running

[code]

[code]

[code]

not sure what got messed up @cdrage

[2017-07-19 06:28] surajssd commented on #28
First off: `kedge generate` should remain static, and do all the plugin magic/talk to cluster only when we are doing `create`, `apply`, `delete`.

WDYT ?

[2017-07-19 06:31] containscafeine commented on #28
@surajssd yeah, I put in generate in there just to try it out. We need to decide on the input that we want from the cluster, parse it and then execute relevant commands.

[2017-07-19 06:38] surajssd commented on #28
Use cases for kubernetes plugin:

- Yes we can now add support of `envFrom` for `secrets` as well, but it will only work when it is used as plugin: see issue for more details

- You don't need to define a volume in `volumeClaims` if you are referring in pod, so here we check if the `pvc` is there in cluster already defined; but we will have to make sure that the root level `volumes` is written by

[2017-07-19 06:40] containscafeine commented on #93
Do we want to scope specifying namespace using `-n` only to `kedge deploy/apply` or do want it for generate too? `ObjectMeta` has `Namespace string` as a field, so we could substitute it there for the generated artifacts.

Btw, namespace can also be specified in the kedge spec for the application alternatively since it's a part of ObjectMeta.

[2017-07-19 06:45] surajssd commented on #93
@containscafeine do we have ObjectMeta? I don't think we have?

[2017-07-19 06:49] surajssd commented on #157
@kadel yes folks can still do the **one file one app way**, that is what I showed in example no 1 in https://github.com/kedgeproject/kedge/issues/157#issuecomment-315958508

[2017-07-19 07:07] containscafeine commented on #93
@surajssd totally missed that :) Yeah, so namespace cannot go in the spec the way it is right now.
WDYT about extending this to `kedge generate` as well?

[2017-07-19 09:03] containscafeine opened #168 "kedge does not fail when extra fields specified"
I have an extra field in my kedge definition -

[code]
Running `kedge generate` on this file does not fail and simply ignores the extra field, while it should have failed saying something like `unknown field 'batman' passed as input`

This creates a lot of room for error since a simple spelling mistake in the spec will render the generated artifacts useless and the user will never get to know abou

[2017-07-19 09:05] surajnarwade commented on #148
/me will start contributing to kedge by taking this one :)

[2017-07-19 09:22] surajssd commented on #93
I don't have problem in doing it in `generate`, but it's just that we will have to handle it when we are creating the `ObjectMeta`!

[2017-07-19 09:31] kadel commented on #93
I don't think namespace should be there for `generate`.
I don't like when a namespace is hardcoded in artifacts.

If you are deploying such artifacts you have to be extra careful to deploy it to the right namespace.

[2017-07-19 09:48] surajssd commented on #157
### `extras` vs `---`

#### with `extras`

[code]

#### with `---`

[code]

What is the problem of doing it in second approach as opposed to the first one?
In second approach there is less indentation, also i can just add three dashes and paste the file, no need of indentation.

[2017-07-19 09:51] kadel commented on #157
again:

One file (one yaml document) should represent one application as a whole. This breaks this idea.

[2017-07-19 09:52] surajssd commented on #157
I think that is up to the user to decide, how to place it and what is placed where.

[2017-07-19 09:55] containscafeine commented on #157
Talking about the workflow of the end user -

- If we use the `extras:` field -
1. They create a Kubernetes resource file
2. They deploy it on the cluster to test it
3. They copy the contents to the kedge definition
4. They fix the indentation
5. They deploy again using `kedge deploy -f filename.yaml`

- If we use a separate file (or `---`) -
1. They create a Kubernetes resource file
2. They deplo

[2017-07-19 10:31] surajssd commented on #157
We have decided in a meeting that we will refer to the files from a root level field called `extraResources`:

[code]

so `extraResources` is a list of file paths, which is relative to the application file.

[2017-07-19 10:38] surajssd commented on #157
I can take this up!

[2017-07-19 10:44] pradeepto commented on #157
@surajssd Can you please also update your comment with the workflow/error conditions? What `kedge` will ignore? When should it error out?

[2017-07-19 10:57] containscafeine commented on #28
Let's wait for this to become more stable and figure out the exact use cases for the plugin behavior. Lowering priority.

[2017-07-19 14:36] surajssd commented on #148
this is closed in https://github.com/kedgeproject/kedge/pull/169

[2017-07-19 14:36] #148 closed

[2017-07-19 17:15] cdrage commented on #167
@surajnarwade @surajssd Odd. Deleted the binary and re-builtand it works. May have used the binary form the $GOPATH folder.

It works now!

Thanks @surajssd for checking it out and @surajnarwade

[2017-07-19 17:15] #167 closed

[2017-07-19 17:24] cdrage commented on #93
I'd agree with @kadel that --namespace should be within create / delete rather than generate (makes no sense there)

[2017-07-20 04:21] containscafeine commented on #119
Okay, so we are not able to reach a decision on this.

Ping @bparees @jstrachan, would love your opinion on this, thanks!

**Problem Statement**:
Currently, we only support creating deployments in kedge, but at some point in time (when feature requests come in), we'd like to support other Kubernetes controllers as well, e.g. StatefulSets, Daemon Sets, etc.
Currently, we need a way to define "Jobs"

[2017-07-20 13:05] kadel commented on #168
This is not going to be easy thing to solve :(

[2017-07-20 13:16] cdrage commented on #119
@containscafeine To note, this also reflects other implementations such as StatefulSets, DaemonSets, CronJobs when they are implemented in the future,

for example:
[code]

[2017-07-20 20:28] bparees commented on #119
an application is what you want it to be.  if you don't want your job to be part of an existing app because it's more "global" than that, define it in a second application.  ie option 1.

this is assuming you are committed to the "application as a top level config container" concept for your DSL.

[2017-07-24 07:01] containscafeine commented on #93
ack

[2017-07-24 09:50] surajssd commented on #168
If it would have been `yaml` we could have done something like we [did in opencompose](https://github.com/redhat-developer/opencompose/blob/a38ffc5d97bb97ffc71eec26466ee665a3a4390e/pkg/encoding/v1/encoding.go#L205-L214).
Here while unmarshalling we just create another struct with our struct embedded in it and then another field for `LeftOvers` of type `map[string]interface{}`. So if there is any d

[2017-07-24 14:05] surajssd opened #176 "change init-containers to be list of our modified container struct"
`podSpec` has `init-containers` which is list of `Containers` from upstream Kubernetes. We need to change it to our modified `Container` definition. Because it has `envFrom` and `Health` support.

Just changing the list from container from upstream to our own container won't be enough we need to extract the information from our container definition to the upstream one.

[2017-07-24 14:05] surajssd commented on #176
I am taking this up

[2017-07-25 11:33] surajssd commented on #162
#165 is merged so closing it!

[2017-07-25 11:33] #162 closed

[2017-07-25 11:39] containscafeine commented on #164
@kadel thinking out loud, umm, can we solve this problem by allowing to extend kedge with another kedge files.
So, the main app file is a complete application definition in itself, but it can extended with other kedge extension files for different target environments.
I am proposing something similar to https://github.com/containscafeine/opencompose/blob/d3a3ddda5b86a73f3e0004e1447e2e8146323510/do

[2017-07-25 12:06] containscafeine commented on #119
@bparees -

do you mean option 3?

[2017-07-25 15:34] bparees commented on #119
no I mean option 1.  I would then envision having, for example, 3 files:

1) a file that defines stuff specific to microservice1

[code]

2) a file that defines stuff specific to microservice2

[code]

3) a file that defines a job that's either global, shared by both of the above microservices, or unrelated to any of them:

[code]

[2017-07-26 05:02] surajnarwade commented on #168
@surajssd @kadel , I am trying to do it with [Jsonschema](https://github.com/surajssd/kedgeSchema/blob/master/configs/appspec.json) and [gojsonschema](https://github.com/xeipuuv/gojsonschema)

[2017-07-26 05:40] surajssd opened #183 "kedge should read input from stdin"
With the above requirement following should be possible

[code]

---
OTOH, with the whole thing about enforcing different apps in separate files, should we support this? Generally reading input from stdin is when you have one huge file for everything and we are not supporting that way of doing things.

WDYT @kadel @cdrage @containscafeine

[2017-07-26 05:49] surajssd opened #184 "Validate the output using kubeval as part of functional tests"
We can use [kubeval](https://github.com/garethr/kubeval) to validate what is generated by kedge. This will help us to make sure we output correct output.

Now kubeval can be used as a [golang library](https://github.com/garethr/kubeval/blob/e6429b13e13d92424b22b91457b34adafa0c296f/README.md#library).

[2017-07-26 05:50] surajssd commented on #184
cc: @surajnarwade maybe this would be of interest to you!

[2017-07-26 07:53] kadel commented on #183
Why not? You can deploy a single application using this.

We can do this.

But this is low priority for now. We need to solve bigger problems that we are facing.

[2017-07-26 08:53] kadel commented on #164
I think that extension model like this will just bring confusions.

We should define best practices and right workflow for working with Kedge. Let's not bend Kedge to fit every use-case.
We can't make Kedge ultra flexible tool that will fit all workflows. Kubernetes is here for that.

It's OK to be opinionated here, we can make decisions what is right for working with Kedge. We should define what

[2017-07-26 12:54] #69 closed

[2017-07-26 13:14] kadel commented on #141
I think we should increase the priority of this. We can start working on this as soon as https://github.com/kedgeproject/kedge/pull/181 is merged.

[2017-07-26 15:25] #81 closed

[2017-07-26 17:55] surajnarwade commented on #184
Definitely

[2017-07-27 04:37] surajssd commented on #59
@cdrage @kadel is there a way we can run minikube or single node k8s cluster on travis ?

[2017-07-27 06:42] containscafeine opened #185 "get `ifFilesPassed` and `GetAllYAMLFiles` out of `package cmd` in `package pkg`"
This is a refactoring issue resulting from https://github.com/kedgeproject/kedge/pull/166#discussion_r129756100

We need to move the non CLI argument parsing logic out of cmd and to pkg.

[2017-07-27 06:43] #155 closed

[2017-07-27 07:23] kadel commented on #185
we will have to make whole argument handling a little bit better in general.
This problem will surface once we add more arguments that require validation

[2017-07-27 08:33] #93 closed

[2017-07-28 13:25] cdrage commented on #59
@surajssd Yes, you can create a single-node cluster using docker containers (no minikube, since that's virtualization).

See: https://github.com/kubernetes/community/blob/master/contributors/devel/local-cluster/docker.md

as well as https://github.com/projectatomic/adb-tests/blob/master/cdrage-atomicapp-ci/functional-tests/providers/kubernetes.sh

I'm working on adding this to Kompose, I could pos

[2017-07-31 08:39] containscafeine commented on #119
We've had a lot of conversation about this issue, both here and at our Slack https://kedgeproject.slack.com/.

There were 3 options and all of those were "different", there was no right or wrong.

The most pressing argument against Option 1 was that it brings about inconsistency in the spec, in the sense that Kubernetes' Deployment controller is given special treatment compared to other controller

[2017-07-31 10:42] containscafeine commented on #168
fwiw, @surajnarwade and I sat down brainstorming this issue last week, and we're 90% there, some code remains.
Let's get that in, in some time. The code is very similar to #135, so I can help review it.

[2017-07-31 10:50] containscafeine opened #188 ""Introduce root level `controller` field", and sub tasks"
This is a result of our very beloved #119

We need the following changes done -
- [x] Introduce a new optional field "controller" at the root level of the spec which defaults to "deployment"
- [x] Implement unmarshalling based on the "controller" field, e.g. if `controller: deployment` then unmarshal to struct A, and if `controller: job`, then unmarshal to struct B
- [x] refactor jobs PR to accomm

[2017-07-31 11:44] kadel commented on #188
Is there a simpler solution? Is Kubernetes doing this the same way?

[2017-07-31 12:28] surajssd commented on #188
+1 for looking at how k8s does it!

[2017-07-31 13:26] kadel opened #191 "example in file-reference.md"
Current example in [file-reference.md](https://github.com/kedgeproject/kedge/blob/master/docs/file-reference.md) doesn't make much sense.
We should replace it with something better that actually does something.

[2017-07-31 13:44] surajssd commented on #59
@cdrage minikube has this `vm-driver` called `none`, have tried that it runs as root only, so do you know if travis provides root access.

[code]

[2017-07-31 13:46] kadel commented on #59
yep, you can run stuff as root on travis

[2017-07-31 13:58] kadel commented on #45
could we create new subcommand  for generating current jsonschema?  Something like `kedge jsonschema` that will output json schema to stdout?

[2017-07-31 14:03] kadel commented on #141
I think that adding `--k8s-version` as command line argument would be the best solution for this.

[2017-07-31 14:04] #111 closed

[2017-07-31 14:08] containscafeine commented on #141
@kadel minikube has a `--kubernetes-version`, so maybe that, but yes, +1 for that flag with whatever name.

[2017-07-31 14:20] kadel commented on #164
@kedgeproject/maintainers  What are your thoughts on this?

Should we create add  `
[code]

Default will be `--part=all`

`--part=env` is going to output just `Secrets` for now.

`--part=app` is going all from  `--part=all` that are not in `--part=env`

[2017-07-31 14:43] kadel commented on #141
yes, it can be  `--kubernetes-version`

[2017-07-31 15:17] cdrage commented on #59
Hey @surajssd @kadel I added this to kompose https://github.com/kubernetes/kompose/pull/731 which uses https://github.com/kubernetes/minikube/tree/master/deploy/docker by Minikube.

I can open up a PR for this in Kedge as well.

[2017-07-31 16:03] #128 closed

[2017-07-31 16:04] #85 closed

[2017-08-01 03:38] surajssd commented on #59
@cdrage Yes that will be helpful!

[2017-08-01 12:45] #157 closed

[2017-08-01 12:59] surajssd opened #193 "We need a badge that shows coverage on homepage"
$subject

For inspiration look for kompose repo it has it on the homepage:

https://github.com/kubernetes/kompose#kompose-kubernetes--compose

[2017-08-01 13:03] surajssd commented on #164
IMHO ,`part` is really confusing name, if I don't have context of this issue the flag does make sense.

But I am cool with the approach @kadel

[2017-08-01 13:05] containscafeine commented on #188
I found the following in Kubernetes' code -
[code]

So, first all of the unmarshalling is done and then they check if `len(gvk.Kind) ==0`, and if so, return the error.

Will see how to move forward with this information.

[2017-08-01 14:11] surajnarwade commented on #193
added in this PR https://github.com/kedgeproject/kedge/pull/194

[2017-08-02 09:37] kadel commented on #45
how will #119  impact Json schema generation?

[2017-08-02 09:39] kadel commented on #164
agreed with `--part` being bad name :-(

We will have to come up with something better., till then I'm using `--part` as a placeholder for new name ;-)

[2017-08-02 11:33] #176 closed

[2017-08-02 11:37] surajssd commented on #94
If CentOS gets go version that is >= 1.7 then this is feasible on CentOS, because builds of kedge on go1.6 are failing.

[2017-08-02 11:38] surajssd commented on #83
I think this is a feasible thing now! We don't need to rely on kubectl with new client go is in.

[2017-08-02 12:56] surajssd commented on #193
#194 is merged so closing it!

[2017-08-02 12:56] #193 closed

[2017-08-07 13:47] surajnarwade opened #201 "Modify `extraResource` feature"
While discussing with @containscafeine regarding PR https://github.com/kedgeproject/kedge/pull/199 , we figure out that we need to add two things for `extraResources`

* Support for URL in extraResources

for ex.

[code]

* Error out `extraResources` if its some absolute or relative path while main input is URL

For ex.
[code]
extraResources is like:

[code]

Thoughts, @kadel @containscafeine @sur

[2017-08-07 14:16] surajssd commented on #16
I think we can close this now since this has been taken care of with the field

[code]

WDYT? @containscafeine

[2017-08-08 04:30] surajssd commented on #103
@cdrage @kadel what have we decided on doing this issue, if nothing then I think we can close this one!

[2017-08-08 04:52] containscafeine opened #203 "Example in allnomagic does not work"
[code]

[2017-08-08 04:55] surajssd commented on #55
Today I checked this issue, the behavior has changed somehow of this one:

For the same input file the only output that was generated was deployment also the volumes were not populated in the pod spec.

[code]

[2017-08-08 05:02] surajssd commented on #55
oops my bad, the input file had to be changed to following:

[code]

[2017-08-08 06:08] surajnarwade commented on #203
@containscafeine , this https://github.com/kedgeproject/kedge/pull/205 will solve this issue

[2017-08-08 06:10] surajssd commented on #123
@containscafeine can you elaborate on how would you like to see the output of the debug logs?

In short I mean define `prettyPrint` ?

[2017-08-08 07:35] #60 closed

[2017-08-08 07:38] kadel opened #207 "Order of the outputted artifacts"
When Kubernetes artifacts are generated they should be in the following order:

PVCs, Services, Secrets, ConfigMaps, Services,  others

[2017-08-08 07:46] kadel commented on #123
How would you like to pretty print it?
Why don't you like current format?

[2017-08-08 07:48] kadel commented on #123
removed user-experience label, as debug log are not something that is for users, but it is meant to help kedge developers (us)

[2017-08-08 07:59] kadel commented on #207
When Deployment that is using PVC is created before given PVC, it has fails, and waits 1 minute until it notices that PVC was created.
By simply creating PVCs before Deployments everything is deployed on the first run (at least 1 minute quicker)

The second reason is that Kubernetes automatically injects a few variables pointing to existing Services (for example for docker links compatibility). Bu

[2017-08-08 10:40] containscafeine commented on #203
Closed by #205

[2017-08-08 10:40] #203 closed

[2017-08-08 14:32] #55 closed

[2017-08-08 14:45] surajssd opened #209 "Add go report badge"
$subject similar to kompose as done in this PR https://github.com/kubernetes/kompose/pull/743

[2017-08-08 14:46] surajssd commented on #209
ping @surajnarwade @cdrage

[2017-08-08 14:50] surajssd opened #210 "generate openshift artifacts"
Right now we only create artifacts which default to kubernetes, but we should also add artifacts for OpenShift as well.

The first thing that comes to my mind is adding a flag similar to kompose called `--provider`. And generating things which are different in OpenShift like `DeploymentConfig`, if we add support for builds in kedge then support for `BuildConfig`.

- [x] [Add `--distribution` flag]

[2017-08-09 04:31] surajssd commented on #16
closing it, since I think the motive of this issue is solved!

[2017-08-09 04:31] #16 closed

[2017-08-09 04:31] surajssd commented on #12
blocked on https://github.com/kedgeproject/kedge/issues/210

[2017-08-09 06:14] surajssd commented on #209
Fixed in #211

[2017-08-09 06:14] #209 closed

[2017-08-09 06:19] surajssd commented on #115
@containscafeine maybe I would like to make name from the **image name**! Than naming anything random or else ask the user to name the container.

[2017-08-09 06:21] surajssd commented on #103
Closing this one, since we would only add new functionality than modifying the existing ones, so this proposal stands invalid.

[2017-08-09 06:21] #103 closed

[2017-08-09 08:41] kadel commented on #210
Let's skip discussions about BuildConfig, that is going to be whole another discussion.

I can see two options how we can add OpenShift support.
First one is adding flag as @surajssd described (i would use `--distribution` as it might be a better name than `--provider` - OpenShift is distribution of Kubernetes)

The second option is to have two binaries. Something like `kedge-k8s` and `kedge-opens

[2017-08-09 08:42] kadel commented on #12
What do you mean? Should kedge output be OpenShift template?

I'm not sure about that. What is the benefit of doing that?

[2017-08-09 08:51] kadel commented on #115
I'm definitely against random naming or asking a user. Everything should be defined in the file.

Image name might work. But to be honest I don't think this is such big issue. Most application is using just one container in the pod anyway, I simply think that this is not worth the work and it might bring some other consequences that we don't see now.  I think that it's ok to require specify a name

[2017-08-09 10:22] #207 closed

[2017-08-09 11:53] kadel commented on #168
Is there any progress on this?

[2017-08-09 13:13] kadel opened #215 "kedge init"
We need to make it easier for users to bootstrap new Kedge files.

One idea might be to have `kedge init` command.

example of the use
`kedge init -f kedge.yml  --name asdf  --image foo/bar --port 80`

it will create following `kedge.yml` file
[code]

[2017-08-09 13:15] kadel opened #216 "shortcut for port"
Most of the application expose at least one port. Exposing just one
port requires 2 indentations levels and 3 lines. Some shortcut for this would be nice.

[2017-08-09 13:25] kadel opened #217 "Reference Helm Chart from Kedge file"
It would be nice to have a way to refer helm charts in the Kedge file.

Chart shouldn't be tied to any given Kedge app. That means it can't be done in the way we are doing secrets or config maps.

But it should be in the way that allows deploying everything together using one `kedge` call.
Charts can have parameters, so we need a way not to define just what chart to deploy but also with what param

[2017-08-09 13:27] kadel commented on #141
I'm  bumping priority on this, as I think we should solve this soon.

[2017-08-09 13:32] pradeepto commented on #217
We can close https://github.com/kedgeproject/kedge/issues/11

[2017-08-09 13:38] pradeepto opened #218 "Rename `extraResources` to `includeResources`"
`extra` has different meaning than what we are trying to convey. Should rename it to `extrernal` which is what I think it is. What do you guys think?

[2017-08-09 13:48] kadel commented on #217
ah :-)

I thought we are going to keep it it was before :-)

I'm going to close this one, and we can continue on #11

[2017-08-09 13:51] kadel commented on #217
closed as dup of #11

[2017-08-09 13:51] #217 closed

[2017-08-09 13:52] kadel commented on #11
Agreed, we should have something like this.

A few notes regarding this:

Chart shouldn't be tied to any given Kedge app. That means it can't be done in the way we are doing secrets or config maps.

It should be done in the way that allows deploying everything together using one kedge call.
Charts can have parameters. We should be able to refer a Chart and also define what parameters has to be set

[2017-08-09 14:31] kadel commented on #218
I agree that `extra` is not the right word. But `external` seems equally strange to me.

Would it be better to have just `kubernetesResources`?

[2017-08-09 15:47] pradeepto commented on #218
But what if they are OpenShift resources?

[2017-08-09 15:52] pradeepto commented on #216
I think this is important enough to be added to 0.2.0 milestone. WDYT @kadel ?

[2017-08-10 08:40] kadel commented on #218
hmm, good point

[2017-08-10 08:49] surajssd commented on #11
Just saying:
Even Helm supports plugin model https://github.com/kubernetes/helm/blob/master/docs/plugins.md

I am not sure if we wanna leverage this one, but it is out there.

[2017-08-10 08:50] surajssd commented on #218
i think we had lot of discussion on naming this thing, so please come up with a generic name that also conveys the meaning then we can go with it, otherwise IMHO `extraResources` conveys what it does!

[2017-08-10 08:54] surajssd commented on #215
The idea of `init` SGTM, but I think having it in interactive would be more fun and easier than flags?

Like `glide` does it?

[2017-08-10 09:00] surajssd commented on #45
@kadel not sure how it will impact the jsonschema I wil need to find that because now we won't have one struct but multiple ones, so can't say anything now!

[2017-08-10 09:04] surajssd commented on #159
Can we close this one @kadel @cdrage  if the issue is resolved?

[2017-08-10 09:05] surajssd commented on #140
#139 is done, so I have added it to the milestone as well.

[2017-08-10 10:37] kadel commented on #215
I think that if there are only three flags/questions it is better to have just flags. There is no benefit having an interactive mode with three questions.

Only once we start adding more flags and this command is proven to be useful, we can add interactive mode, but right now it's not worth the effort. Let's try to do simple things right first.

[2017-08-10 10:38] kadel commented on #159
That bot still doesn't bring me any benefits. Am I alone in this?
Does it actually help someone?

[2017-08-10 10:45] containscafeine opened #219 "Change controller based unmarshalling"
We use switch case to unmarshal right now, we need to take pointers from - http://eagain.net/articles/go-json-kind/ and refactor the unmarshalling.

[2017-08-10 11:45] containscafeine commented on #119
Closed by #195

[2017-08-10 11:45] #119 closed

[2017-08-10 12:02] pradeepto commented on #45
We need to make sure the generated json schema are stored as artifacts some where in the repository. And this file should be generated by CI for every release for now.

[2017-08-10 14:40] cdrage commented on #215
One tool that does this well is Nomad with their `nomad init`: https://www.nomadproject.io/docs/commands/init.html

Although it's just boiler-plate code.

I do like the idea however for using `kedge init` and passing in variables such as the image, etc. Although this would only work with setting up a basic example.. Although this is expanding on it, perhaps a command called `kedge append` would be

[2017-08-10 14:41] cdrage commented on #215
The above ^^ would be similar to how kubectl uses `kubectl run` to create a particular image on the cluster.

[2017-08-10 15:14] cdrage commented on #159
Pings the correct people, it's helped (ish) with Kompose. I've gone ahead disable it @kadel

Let me know if people want it enabled again!

[2017-08-10 15:58] pradeepto commented on #210
@kadel @surajssd Does this issue need to be scoped out better than "generate resources". But what after that? `kedge deploy` should be able to work with `oc` instead of `kubectl`. WDTY?

[2017-08-10 15:58] aslakknutsen commented on #210
@kadel One consumer that needs both k8 and os is fabric8. It could download both binaries of course.. but

[2017-08-10 16:08] pradeepto commented on #210
Chatted with @aslakknutsen just now. He says that his use case requires DeploymentConfig and Routes.

[2017-08-10 16:59] cdrage commented on #140
Hey @surajssd I've also added this to the README when I did the 0.1.0. I think this can be closed?

[2017-08-11 05:25] #140 closed

[2017-08-11 05:32] surajssd commented on #215
@cdrage as of now I like the idea of `append`!

[2017-08-11 07:08] kadel commented on #215
Let's start simple. `kedge init` will solve our immediate problem. Base on the feedback and usefulness of this command we can add new features like `kedge append`.

[2017-08-11 12:02] pradeepto commented on #215
I really like the idea of `kedge append` but as Tomas said, let's start simple with `kedge init` and take it from there. We should definitely file an issue on `kedge append`. @surajssd @cdrage Can one of you do that?

[2017-08-14 05:14] surajssd opened #221 "kedge append"
Once we implement `kedge init` we can think of adding support for `kedge append` which takes data from cmdline and adds it to the file, without someone having to edit file manually.

In @cdrage's own words

---

One tool that does this well is Nomad with their `nomad init`: https://www.nomadproject.io/docs/commands/init.html

Although it's just boiler-plate code.

I do like the idea however for us

[2017-08-14 10:26] kadel commented on #221
Doesn't his kind of go against whole one app per file philosophy?

[2017-08-14 11:01] pradeepto commented on #221
True.

TBH, my understanding of `kedge append` was that it will append to the configuration of the current service.  But then the question is what is the use of `kedge apply` then?

[2017-08-14 11:11] pradeepto commented on #215
@kadel @surajssd @cdrage @containscafeine

Do we have a list of options that we want for `init`? We have discussed these:
- name
- image
- port

Anything else? And how do we handle this for controllers other than `Deployment`? Do have only those options that might be common for various controllers? Or should we be be opinionated and build this only for Deployment?

Thoughts?

[2017-08-14 11:51] kadel commented on #215
Let's not complicate this too much from start.
We should start with just deployments with name, image, and port as options.

[2017-08-14 11:54] kadel commented on #221
I'm afraid that I'm getting lost :-(
How this is related to  `kedge apply`?
You can always do `kedge apply` on the whole directory. Do you mean that?

[2017-08-14 12:02] pradeepto commented on #215
Sure. But, I wanted this decision to be made and logged here on GH before
the implementation. So we agree that the first cut will be simple and with
only the above options and just for `Deployment`.

On Aug 14, 2017 5:21 PM, "Tomas Kral" <notifications@github.com> wrote:

[2017-08-14 12:35] kadel commented on #136
The first part  ("Move `examples` to file reference") of this is being taken care of in #222

[2017-08-16 05:08] containscafeine commented on #215
I really like the idea, but do we need flags at all, because then _not_ supporting all flags makes it weird.
How about simply running `kedge init` generates a heavily commented boiler plate that folks can start uncommenting and editing and start using. Something like a `vagrant init`

[2017-08-16 05:59] containscafeine commented on #221
What will be the use for this? :( Are we talking about generating YAML files from the command line? How does this lower the barrier to entry?

[2017-08-16 06:24] containscafeine commented on #218
- externalResources
- providerResources
- clusterResources
- mergeResources

[2017-08-16 06:27] containscafeine commented on #168
@surajnarwade let me know whenever you have time, we can sit and finish this off

[2017-08-16 06:32] containscafeine commented on #115
@kadel almost nothing in Kubernetes refers to containers in the pod, so not sure if this will have any consequences.
@surajssd everywhere else we are using the root level name field to auto generate names, and I think that should be fine here too.

This should be a quick fix.

[2017-08-16 08:14] pradeepto commented on #215
@containscafeine The idea looks great initially but if you think about it, Vagrantfile is a Ruby DSL so it looks fine with bunch of comments.  But a YAML file with loads of comments doesn't make it easier to read I think. So I am not sure about heavily commented boiler plate.

WDYT @kadel ?

Having said that, perhaps a bare `kedge init` is fine if we populate it with sane defaults. But I am not su

[2017-08-16 08:54] kadel commented on #215
I don't think that not supporting all flags makes it weird. Those are just flags that every application will use.
Users then can build on top of it. Similarly to `kubectl run`/`oc new-app`. You don't have options for everything there, but it's enough for most applications.

I'm afraid that if we generate big YAML file with comments it will be hard to read, especially if you would like to put more

[2017-08-16 08:58] containscafeine commented on #215
Okay. Ideally I'd want it to be on the lines of `/etc/ssh/sshd_config` or a `Vagrantfile`, but I can live with the approach being suggested too.

[2017-08-16 08:59] kadel commented on #218
If you want to rename it that I would go with externalResources. But it kind of sounds like it's something that is external to the application, which doesn't have to be true, as is usually part of the application.

So don't know which one is better externalResources/extraResources. I'm fine with both. For me they are both equally strange :-D

[2017-08-16 09:09] containscafeine commented on #216
+1

How about -
[code]
can be replaced by -
[code]
where in portMapping, port is required, targetPort is optional, protocol is optional

[2017-08-16 10:33] kadel commented on #216
One service can have multiple ports so it should be some kind of array

[2017-08-16 10:48] pradeepto commented on #218
@kadel @surajssd how about `include` or `includeResources` or `import` ?

Pradeepto

On Aug 16, 2017 2:29 PM, "Tomas Kral" <notifications@github.com> wrote:

[2017-08-16 11:23] containscafeine commented on #216
@kadel makes sense, how about -
[code]

[2017-08-16 12:22] kadel commented on #215
Required arguments: name and image
Optional: port
there  can be multiple ports

[2017-08-16 12:33] pradeepto commented on #218
@kadel @surajssd @containscafeine We discussed this and we came to a conclusion that we will use `includeResources`.

[2017-08-16 13:36] kadel commented on #216
Looks good.
I'm not sure if portMappings is the right name, but don't have anything better :-(

possible values :
- `8080` - the same as `8080:8080/tcp`
- `8080:80` -  the same as 8080:80/tcp`
- `8080:80/udp`

[2017-08-16 13:41] kadel commented on #115
One place where you are referring to containers are commands like `kubectl exec` or `kubectl logs`

[2017-08-16 15:35] jstrachan opened #223 "support environment specific resources with environment specific overrides"
some resources should not be distributed with your app's Kubernetes YAML (or OpenShift Template or Helm chart) and may be maintained separately & out of band in a per environment basis.

For `Secrets` folks may want to import them from something like Vault or some other file system. But for other things like `ConfigMaps`, `Services` (e.g. to point to external services via the `Service.externalName

[2017-08-16 16:41] kadel commented on #223
@jstrachan can you also look at  https://github.com/kedgeproject/kedge/issues/164?
The idea behind that is that you have common environment specific resources together with your application, but if you want to deploy to the different environment you can use flag to switch environment specific resources. But It doesn't solve the issue how to define env specific resources in some uniform way.

I kin

[2017-08-16 16:46] jstrachan commented on #223
gonna have a look at that issue.

One challenge is knowing if a resource is part of the app or a resource is part of the environment specific resources; e.g. a Service / ConfigMap / Secret / Ingress/Route could be in either; so putting it into the main app.yml may cause confusion; so I was thinking using separate files in a separate folder was cleanest

[2017-08-16 16:50] jstrachan opened #224 "version numbers / image tags in kedge YAML"
whats the current approach for replacing version numbers in a kedge YAML? Am thinking of CI / CD pipelines that tend to generate new unique release numbers for each new version and tend to put those versions in the YAML as a version label and then use the docker image tag of the same name as the version

should we use environment variable expressions or something? e.g.

[code]
then we can specify

[2017-08-17 04:56] surajssd commented on #215
We need to definitely create flags for the required fields like `image` and name of app.

Other very essential flag would be `port`.

We can create flags which are similar to what `kubectl run ...` has. There is lot of intelligent choice of flags and what gets generated when any flag is selected.

Intelligent choice can be understood from this one particular instance of flags:

[code]

For more de

[2017-08-17 04:59] surajssd commented on #216
Please decode the mapping ? What is `8080` and what is `80`? Which is service `port` and which is `targetPort`

[2017-08-17 05:54] surajssd commented on #224
None, as of now.

Supporting substitution of env var like that SCTM!

[2017-08-17 06:15] containscafeine commented on #216
@surajssd it's there in https://github.com/kedgeproject/kedge/issues/216#issuecomment-322740656

[2017-08-17 08:06] jstrachan commented on #224
cool - we'd just need to be a little careful that whatever expressions we use for env var substitution we don't clash with possible OpenShift Template / Helm parameter expressions

[2017-08-17 08:21] pradeepto commented on #164
@jstrachan Please have a look. We could use more input on this based on https://github.com/kedgeproject/kedge/issues/223

[2017-08-17 09:37] containscafeine opened #227 "Developer docs/notes"
Besides code architecture, etc, we need to add the conventions that we follow in this project to maintain consistency throughout the code.
We need to add topics testing structure, certain libraries that we use, and why (e.g. ghodds/yaml), other caveats and hacks that we have in code, so that everyone can follow the same set of rules.

[2017-08-17 09:38] containscafeine commented on #227
This is different from #62 since that is more about code layout, design and structure, and this is about the conventions being followed in the project.

[2017-08-18 05:23] surajssd opened #230 "name functions with the typename and version"
We have functions like `createDeployment` and `createCronJob`, we should actually name them with the version.

`typename group version`

For e.g. `createDeploymentAppsV1Beta1` or `createCronJobV2Alpha1`.

This will be helpful in supporting multiple versions of Kubernetes feature we will be working on.

This is inspired from the source code I was looking in Kubernetes [k8s.io/kubernetes/pkg/kubectl

[2017-08-18 08:10] surajssd commented on #216
One thing about string magic here is that it won't show up in the auto complete in LSP kinda thing.

[2017-08-18 09:00] containscafeine commented on #216
We've done similar shortcut for endpoints in ingress.

[2017-08-18 09:35] kadel commented on #216
8080:80
means
port:8080
targetPort:80

[2017-08-18 09:58] kadel commented on #141
I'm not sure if this design was good decision. We should try find better solutions for it that this.

[2017-08-21 06:20] containscafeine commented on #146
@surajnarwade did some great work on this in https://github.com/kedgeproject/kedge/pull/199 but that was closed since priority is low, let's reuse that in due time.

[2017-08-21 07:50] surajssd commented on #113
This will work because the pod spec in jobs will be our own `PodSpecMod` so the naming thing will be taken care of there.

[2017-08-21 09:54] #215 closed

[2017-08-21 09:55] containscafeine opened #231 "kedge init should not allow non int values for port"
[code]

ping @surajnarwade

[2017-08-23 07:52] surajssd opened #233 "Make controller a field in App struct"
Right now `controller` is a separate struct:

[code]
see [here](https://github.com/kedgeproject/kedge/blob/5283d948443de4ab7c94006fb360963872b1a217/pkg/spec/spec.go#L84-L86)

We should put it in `App` struct as well because right now looking at the `app` struct it is not possible to make out if `controller` is field in there or not. This will help with the OpenAPI generation of code. So I suggest

[2017-08-23 08:44] kadel commented on #233
I think that this was done like this to make parsing YAML file easier.  Am I right @containscafeine .

When we added `controller` field we basically started accepting multiple different YAML files (each controller has its own structure) and we had to start doing two-pass Unmarshalling ([first](https://github.com/kedgeproject/kedge/blob/61545e4d0f122945eeb012f97a2c42f4b6314a5a/pkg/encoding/encoding

[2017-08-23 08:56] surajssd commented on #233
We can have it like the way it is, just add this field also in `App`, so that the automatic parsing of the `spec.go` works just fine.

[2017-08-23 09:57] pradeepto opened #235 "Fix roadmap document"
The roadmap [doc](https://github.com/kedgeproject/kedge/blob/master/ROADMAP.md) is horribly broken. Let's fix it. It gives a vision into the project, it should represent the roadmap and its milestones correctly.

[2017-08-23 11:44] kadel commented on #233
I'm afraid that it won't be possible, as there will be no `App` struct once #116 gets in.
Check [spec.go](https://github.com/containscafeine/kedge/blob/05d4e1a9b82b7908f8e7c94e1c96ba1d29b6b2c8/pkg/spec/spec.go) in that PR

[2017-08-23 17:04] containscafeine commented on #231
closed in #232

[2017-08-23 17:04] #231 closed

[2017-08-29 13:04] pradeepto opened #237 "Support OpenShift DeploymentConfig"
Kedge should generate and deploy/undeploy/apply OpenShift `DeploymentConfig`.

[2017-08-29 13:06] pradeepto opened #238 "Support OpenShift Routes"

[2017-08-29 13:10] pradeepto commented on #210
Created smaller tasks for `DeploymentConfig` and `Routes` and linked them in the original description.

[2017-08-30 06:07] containscafeine commented on #141
We could also leverage Kubernetes plugins for this.
So if `--kubernetes-version` flag is not set, and if kedge is being used as a plugin, then we can get the version from the cluster itself.
But this is for laters, just putting it out.

[2017-08-30 09:04] containscafeine commented on #141
Okay, so we need to figure out multiple things. Here is my brain dump.

So, like @surajssd pointed out earlier, client-go has a compatibility matrix - https://github.com/kubernetes/client-go#compatibility-matrix, so
1. We need to figure out which versions of Kubernetes do we need to support, which will decided on the client-go version we will end up using. [Godeps.json](https://github.com/openshif

[2017-08-30 09:22] containscafeine commented on #141
We can derive information about the API objects in a given release from https://kubernetes.io/docs/reference/#api-reference and https://kubernetes.io/docs/reference/api-overview/
- https://kubernetes.io/docs/api-reference/v1.5/
- https://kubernetes.io/docs/api-reference/v1.6/
- https://kubernetes.io/docs/api-reference/v1.7/

[2017-08-30 11:35] containscafeine commented on #216
Should we also introduce something for the endpoint shortcut in portMappings?

[2017-08-31 04:40] containscafeine commented on #233
@kadel yep, Controller is a separate struct for 2 pass unmarshalling, that's the only way I could find when I looked around :(
But after the refactor, the App struct will be renamed to DeploymentSpecMod, but I'm okay with having this extra Controller field in all the Controller structs like in DeploymentSpecMod, JobSpecMod, etc if it's absolutely required for the OpenAPI stuff, but it will be a no

[2017-08-31 10:02] #233 closed

[2017-09-01 03:11] surajssd commented on #59
This is partially done by #77 because it has enabled the tests to run on local running cluster the work to make it working on CI is still remaining!

[2017-09-01 15:21] cdrage commented on #59
@surajssd I'll take this up! Will have to add a way to bring up a Kubernetes docker cluster, I'll probably copy scripts from https://github.com/kubernetes/kompose

[2017-09-01 17:40] cdrage commented on #145
Merged in here: https://github.com/kedgeproject/kedge/pull/220 so let's close

[2017-09-01 17:40] #145 closed

[2017-09-04 11:36] kadel commented on #210
The first smaller task should be introducing `--distribution` switch to allow switching between k8s and OpenShift.

[2017-09-04 11:39] kadel opened #245 "Add `--distribution` flag"
We need new `--distribution` flag  for `apply`, `generate`, `create` and `delete` commands.

This flag will control if Kubernetes or OpenShift artifacts should be used.

The flag will have two choices `openshift` or `kubernetes` . Default value if `--distribution` is not  set is `kubernetes`

this is part of the bigger goal #210

[2017-09-04 12:03] kadel commented on #216
don't know what you mean :-(

[2017-09-04 12:33] kadel commented on #141
because we are also doing #210 we need also think about supporting multiple OpenShift versions, so this issue should also take into account that.

[2017-09-04 12:34] kadel commented on #210
We also need to support multiple OpenShift versions similarly to #141

[2017-09-04 12:47] kadel commented on #168
@surajnarwade are you working on this? What is progress?

[2017-09-05 08:26] kadel commented on #216
ah, right :-( we forgot that.

With current structure, it is not possible to use `portMappings` together with `entrypoint` :-(

[2017-09-05 16:28] cdrage opened #247 "Odd issues with e2e tests"
@surajssd

Finding some odd issues with the e2e tests with the first test.

Despite configmap running (running the first test):
[code]

And using:

[code]

It ends up timing out... :-1:

Any ideas?

[2017-09-05 16:32] cdrage commented on #247
Also, is this dependant on `kube-dns` and `kube-dashboard` running?

Running this on minikube (instead of the docker kubernetes deployment) seems to work, however, I'm still not getting the verbose logging :( Any way to do the verbose logging WHILE the tests are being ran so you know exactly what's happening?

[code]

[2017-09-05 17:05] cdrage commented on #247
@surajssd I believe it may have something to do with requiring DNS;

[code]

However, it was difficult to see what was happening since there we no logs. Another thing as well, is there any way to reduce the timeout? The timeout was exactly 600seconds, is this hardcoded within Go or do you have it within your e2e cluster tests?

So two suggestions from me:
 1. Add more logging to see what is happen

[2017-09-06 09:51] containscafeine commented on #141
Cabal log -

- First step - Kubernetes has functions that can convert between versions
- We will need to have different versions of Kedge spec as well, later on, but for now we can move forward kith Kubernetes 1.7
- We should only support Kubernetes v1.6 and v1.7, since latest OpenShift is based on v1.6

[2017-09-06 10:39] containscafeine commented on #141
And had the following conversation with @kadel on our slack -
[code]

[2017-09-06 11:05] kadel opened #248 "stop emulating envFrom and start using it directly"
Right now we are doing some magic to allow envFrom to work for k8s versions <=1.5 (we are expanding it , which is quite limited in what it can do compare to native `envFrom`)

1.5 is getting older, and I think it might be time to drop support for this.
If users want to use kedge with 1.5 and below they still can, they just can't use `envFrom` as they can't use it when writing Kubernetes artifacts.

[2017-09-06 14:27] containscafeine commented on #141
- [ ] Add a new optional field `kubernetesVersion:`, which defaults to Kubernetes latest version i.e. 1.7 right now, version the current Kedge spec for latest version. Make the kedge+Kubernetes version being used depend on the value of `kubernetesVersion`

[2017-09-06 17:00] cdrage commented on #247
Argh, opened up an upstream issue here: https://github.com/kubernetes/minikube/issues/1908

[2017-09-07 06:40] surajssd commented on #216
@kadel what is decided on this one?

[2017-09-07 09:23] containscafeine commented on #141
Okay, so as per the current resources that we support in spec.go, there are only 2 beta v1 resources, which are Deployment and Ingress, except those all are v1 resources. None of these resources have changed between the versions 1.6 and 1.7.
The only thing that has moved from beta v1 to v1 is NetworkPolicy, which we don't support anyway.

Talking to @surajssd, we were thinking if we actually have

[2017-09-07 09:44] containscafeine commented on #216
@surajssd I don't think we are doing endpoitns with portMappings

[2017-09-07 13:14] ashetty1 commented on #247
@cdrage seems like we see this errors on minikube. I ran `make test-e2e PARALLEL=1`, and got the same errors.

[2017-09-07 13:16] cdrage commented on #247
@ashetty1 what errors did you get? Could you post them too?

[2017-09-07 13:20] surajssd commented on #247
@cdrage yes DNS is needed, minikube already gives it to you using add-on manager.

Yes even I was looking for alternatives to get real time output.

Also the timeout you got there after 10mins was by go test suite since all tests were just hung!

[2017-09-07 13:24] cdrage commented on #247
@surajssd do you think you're able to add:

* timeout
* not relying on DNS
* real-time output

?

[2017-09-07 13:25] ashetty1 commented on #247
@cdrage the same errors you saw (could be a timeout issue?):

[code]

[2017-09-07 14:12] cdrage commented on #247
@ashetty1 Yup :( Now we know it's an e2e issue.

[2017-09-07 14:12] cdrage commented on #247
Do you mind doing me a favour and running `kubectl get po --all-namespaces` once you're brought up minikube on your machine? I wanna see if DNS is running. @ashetty1

[2017-09-08 06:25] ashetty1 commented on #247
@cdrage  yes, it is:
[code]

[2017-09-08 07:00] surajssd commented on #141
Can we please finalize the priority of this issue? If it is `high` is there a justifiable reason to put all our efforts to do this ?

[2017-09-08 08:43] containscafeine commented on #141
ping @kadel @pradeepto

[2017-09-08 09:45] containscafeine commented on #141
So we talked, and we will put in maybe a maximum of 2 days into this and see if we can come up with a non-convoluted solution to this since we've already investigated a bit into this. If we cannot, we put it on the backburner since this is not a problem we're facing right now.

[2017-09-08 12:30] cdrage commented on #247
Yeah.. odd how it fails even though you're running DNS. Same thing happens on my machine.

[2017-09-08 14:36] cdrage commented on #159
Since I've disabled this, i'm going to close the issue! Let's stick with GitHub

[2017-09-08 14:36] #159 closed

[2017-09-11 10:52] pradeepto commented on #245
This is being worked on via https://github.com/kedgeproject/kedge/pull/250

[2017-09-11 11:24] surajnarwade commented on #168
@kadel , I wasn't working on it, I did some investigation though, rather than code hack as @surajssd mentioned, if we add `additionalkey: false`, something like this in Jsonschema only which will identify the extra key and will give an error

[2017-09-11 19:09] cdrage commented on #237
@pradeepto This will be solved in #250 I am going to modify my PR to implement DeploymentConfig.

[2017-09-13 14:01] containscafeine opened #262 "Add annotations support"
While trying to define an application manifest (Eclipse Che) using Kedge, I'm needing to add annotations to the Deployment, and at other sub levels.

The entire deployment file can be found at https://github.com/containscafeine/kedge-fabric8-platform/blob/master/fabric8/kubernetes/che-starter-deployment.yml

Related piece is -

[code]

With our current implementation, we cannot add annotations, an

[2017-09-13 14:10] containscafeine commented on #262
This also opens up a broader discussion about supporting `ObjectMeta`. There are multiple fields like `DeletionGracePeriodSeconds` or `ClusterName` and plenty more which we do not support and could be limiting for an end user.
Does it make sense to merge `ObjectMeta` with the Controller or make it a part of `ControllerFields` (like we merge PodSpec and ControllerSpec` and bring everything at the s

[2017-09-14 06:10] #216 closed

[2017-09-14 08:43] kadel commented on #262
We already handle labels. Annotations should be done in the same way.

[2017-09-14 09:17] surajssd commented on #245
Closing via https://github.com/kedgeproject/kedge/pull/250

[2017-09-14 09:17] #245 closed

[2017-09-14 09:43] containscafeine commented on #262
I'll try merging ObjectMeta with ControllerSpec and see if we hit any issues. If not, maybe we can proceed that way.

[2017-09-14 14:04] containscafeine commented on #262
@kadel I've started work on this in #267.
So, nothing conflicted when I added ObjectMeta to ControllerFields and removed Name and Labels since those are covered in ObjectMeta.

How do we want to do this?
Do we want to add support only at the top level with the controller, or at every level where specs are merged?

And is it a good idea to trickle down the annotations defined at the root level to e

[2017-09-14 15:26] kadel commented on #237
I think that before we start implementing this in #257 we should figure out how we are going to do that.

Are we going to add fields from DeploymentConfig to Deployment?
Are we going to create new controller and leverage new controller field?
Or some other solution that?

Because each of those approaches has different cons and pros.

[2017-09-14 16:08] kadel commented on #237
If we use new `controller` filed that it means that Kedge file will be always tied to specific distribution.
That doesn't have to be necessarily bad. As it can have different behaviour for OpenShift and Kubernetes.
We also wouldn't need `--distribution` switch as distribution could be detected from `controller` field.

If we merge DeploymentSpec with DeploymentConfigSpec it will create a mess with

[2017-09-14 16:11] cdrage commented on #237
@kadel What I was thinking:

- Implement DeploymentConfig as a separate controller (generates both Deployment + DeploymentConfig since both are required)
- By default, when specifying `--distribution openshift` it will change the default controller of `deployment` to `deploymentconfig` as what we have now with `controller:`

[2017-09-14 16:16] kadel commented on #237
Why is Deployment required?

If  `--distribution` flag would only change default I would rather remove it.
Example:
You write Kedge with DeploymentConfig (without setting controller) and used some DC specific field.
Then you run kedge without `--distribution` flag, what then?

[2017-09-14 16:19] cdrage commented on #237
@kadel Ah, you're right. Perhaps we can instead create enough docs / information that we can specify deploymentconfig as a controller, removing the --distribution flag instead.

[2017-09-14 16:20] kadel commented on #237
I've quickly compared DeploymentSpec and DeploymentConfigSpec and it looks like the main difference is in DeploymentStrategy, otherwise base of those objects looks the same.

Kubernetes:
[code]

openshift:
[code]

[2017-09-14 18:59] cdrage opened #268 "General UX/UI/Website update tracking card"
A few things!

- [x] Update the website with a clear-forward tutorial
- [x] Increase the amount of examples on the website / main page
- [x] Add colour / spice things up
- [x] General look-over Kedge UX (output to files?)
- [x] Setup syncing of Github docs to gh-pages
- [x] Update second section / paragraph
- [x] Two lines at the top need to be merged

[2017-09-15 03:16] containscafeine commented on #237
Okay, I'm a tiny bit confused here.

I'm fine with doing DeploymentConfig only with the controller field and not using `--distribution`.

However, we will have different controller structs for both, right? Right,
[code]
and something like -
[code]

There won't be any merging of these structs, and one won't be derived from another, etc, right?
Maybe I misread something.

[2017-09-15 05:29] kadel commented on #237
@containscafeine yes, that is one of the options that we are currently discussing

[2017-09-15 05:32] kadel commented on #237
Also, we shouldn't forget that adding OpenShift's DeploymentConfig  also means that we have to add ImageStreams

[2017-09-18 06:39] surajssd commented on #58
We have some fixtures for corner cases in [tests/cmd](https://github.com/kedgeproject/kedge/tree/5de239ca03c1832c0827aed834b5825c4f127601/tests/cmd), we should add code that will run conversion checks like we have in kompose, but let's do this in golang than in bash.

[2017-09-18 06:40] containscafeine opened #269 "Use certain testing libraries to write better tests"
A lot of other projects use libraries like `assert` and `testify`, and I've seen that their tests' logic is a lot more readable than ours.
We could leverage those to write better tests.
Thoughts?

[2017-09-18 06:46] ashetty1 commented on #58
@surajssd how urgent is this? I'd love to take this up.

[2017-09-18 06:49] surajssd commented on #237
Yes create a separate struct like @containscafeine mentioned.

And let's keep `--distribution` flag. We should not tie down the `controller` field to logic of detecting the distribution. Making these implicit ties will increase complexity and confusion for everyone(users and devs of kedge).

[2017-09-18 06:51] surajssd commented on #58
@ashetty1 we want this, not sure of the urgency! The most urgent thing we would like to see is a wrapper around e2e tests, that will show what is happening in cluster while e2e tests are running.

[2017-09-18 07:29] surajssd commented on #168
@surajnarwade can you try whatever you are doing with the jsonschema at https://github.com/kedgeproject/kedge-jsonschema/blob/master/configs/deploymentspecmod.json

[2017-09-18 10:50] containscafeine opened #270 "Add e2e tests for Jobs"
Instead of exposing some ports and checking connection, we need to add different sort of e2e tests for Jobs since the nature of the same is to perform tasks (like population) in cluster for other services to consume, instead of getting exposed themselves.

[2017-09-18 12:16] containscafeine opened #271 "Figure out a to and fro "Kedge <--> Kubernetes" conversion mechanism"
Since we do not have any leaky abstractions, and with `extraResources` support, we can support any Kubernetes resource definitions with Kedge.
It would be great to have a "to and fro" mechanism to between Kubernetes and Kedge files, i.e. throw a huge Kubernetes file, and we analyze it and convert it to a much simpler Kedge definition. Some of the many things we could do is -
- see if we can remove

[2017-09-18 12:54] jstrachan opened #272 "support the generation of OpenShift Templates and Helm Charts"
i.e. figure out a way to define `parameters` and then refer to them in the kedge file using some kind of syntax, such as `${FOO}` that then gets passed through into the generated OpenShift Template or Helm Chart - but get replaced by environment variables and/or default values when generating a vanilla kubernetes YAML.

We need to be careful that parameter expressions don't clash with environment

[2017-09-18 12:56] jstrachan commented on #223
We should look at generating Service Catalog YAML to describe the environmental resources we need (e.g. a database, a secret, a ConfigMap with some key/value pairs inside etc).

Then the app can be deployed along with its 'service dependencies' which then get provisioned via the Service Catalog.

Though it might be nice to also be able to define the default implementations of those service depende

[2017-09-18 13:04] jstrachan opened #273 "create a command for creating docker images via kedge"
on the fabric8-maven-plugin we have to handle the case that:
* the user is running on kubernetes or OpenShift with access to the docker socket; so perform docker builds via the docker CLI tool  using a Dockerfile (or a default ONBUILD Dockerfile for various standard languages like node / go / dot net etc).  e.g. https://github.com/fabric8io/fabric8-jenkinsfile-library/blob/master/golang/ReleaseAnd

[2017-09-18 13:46] jstrachan opened #276 "automate the inclusion of kedge into the fabric8 builder-clients docker image"
the https://github.com/fabric8io/fabric8-pipeline-library and https://github.com/fabric8io/fabric8-jenkinsfile-library use a docker image called [fabric8/builder-clients](https://github.com/fabric8io/builder-clients) which contains common CLI tools used in jenkins pipelines like `docker, kubectl, oc`.

It'd be nice whenever there's a kedge release to automate the generation of a PR against https:/

[2017-09-18 13:54] jstrachan commented on #224
it'd be nice to move this to 0.2.0 to raise its importance so we can try versioned YAML generation in Jenkins pipelines soon

[2017-09-18 14:00] jstrachan opened #277 "more frequent releases?"
there's already 7 issues fixed since 0.1.0 over a month ago; wonder if we should start doing releases every few weeks when new stuff is added/fixed?

[2017-09-18 14:04] jstrachan commented on #276
we've got kedge now inside builder-clients https://github.com/fabric8io/builder-clients/blob/master/Dockerfile#L16 - we just need to automate the generation of the PR to change this line https://github.com/fabric8io/builder-clients/blob/master/Dockerfile#L16 via a PR so that we can automatically use the new kedge releases inside fabric8

[2017-09-18 14:26] kadel commented on #277
Yep. It was a mistake to wait more than a month to do a new release.

The plan is to release every 3 weeks starting today.
0.2.0 release is already scheduled to go out later today.

[2017-09-18 14:29] jstrachan commented on #277
awesome thanks!

[2017-09-18 14:29] #277 closed

[2017-09-18 15:44] kadel commented on #224
0.2.0 will be released today.
We will work on this in coming sprint and it will be added in 0.3.0 release

[2017-09-19 09:06] containscafeine commented on #262
gentle ping @kadel @surajssd

[2017-09-19 09:27] kadel commented on #262
I think it should have the same rules as names.
If there is no labels or annotations specified, then the top level one should be used.

[2017-09-19 10:13] surajssd opened #280 "Auto generate Kedge JSON schema for every PR"
On every merge of PR we need to update the JSONschema for kedge, right now the JSONSchema resides in https://github.com/kedgeproject/json-schema/tree/master/schema Right now it is done manually, we need to automate it.

So two things need to be done right now:

- [x] Do generation of schema as mentioned in docs [here](https://github.com/kedgeproject/json-schema-generator#doing-it-the-easy-way).
-

[2017-09-19 10:13] surajssd commented on #45
Generation code resides in https://github.com/kedgeproject/kedge-jsonschema

The repo has documentation of how to generate the configs, also the way code works can be understood by reading comments in code

This needs to be done filed an issue for this one https://github.com/kedgeproject/kedge/issues/280

right now it is based on k8s 1.7 https://github.com/kedgeproject/kedge-jsonschema/blob/master

[2017-09-19 10:14] #45 closed

[2017-09-19 10:29] surajssd commented on #273
I would like to take a stab at the build story for kedge!

[2017-09-19 10:30] surajssd commented on #273
This needs to be discussed though, with one approach at a time.

[2017-09-19 12:47] kadel commented on #280
we could use Bintray for hosting JSON schema similarly to what we are doing with latest builds
https://bintray.com/kedgeproject/kedge/kedge

[2017-09-19 12:49] kadel commented on #168
the link is not valid

[2017-09-19 12:55] pradeepto commented on #280
@kadel That does make sense to me. Except that I would rather call `master` as `master`. Latest is generally the last released version, at least in most places I see.

[2017-09-19 12:56] kadel commented on #280
you are right, 'master' is much better

[2017-09-19 12:57] kadel commented on #45
Is there a place where I can find JSON schema for the latest release?

[2017-09-19 13:43] surajssd commented on #45
@kadel here:
https://github.com/kedgeproject/json-schema/tree/master/schema

[2017-09-19 13:46] surajssd commented on #52
Since https://github.com/kedgeproject/kedge/pull/253 is merged closing this one!

[2017-09-19 13:46] #52 closed

[2017-09-19 13:47] surajssd commented on #188
Since https://github.com/kedgeproject/kedge/pull/253 is merged closing this one!

[2017-09-19 13:47] #188 closed

[2017-09-19 13:49] surajssd commented on #113
This is invalid issue, since it does not hold true also job support has been added!

[2017-09-19 13:49] #113 closed

[2017-09-19 13:50] surajssd commented on #113
Since https://github.com/kedgeproject/kedge/pull/253 is merged closing this one!

[2017-09-19 13:51] surajssd commented on #114
@containscafeine can you confirm is this is valid still ?

Since https://github.com/kedgeproject/kedge/pull/253 is merged I think this is right time to close this one?

[2017-09-19 13:58] containscafeine commented on #114
Yes, #253 closes this.

[2017-09-19 13:58] #114 closed

[2017-09-19 14:03] surajssd commented on #168
@kadel this should work https://github.com/kedgeproject/json-schema/blob/master/schema/deploymentspecmod.json

Today I separated the configs/schema from the schema generator!

[2017-09-19 16:36] kadel commented on #276
That would be great.

I've tried to create simple Jenkins that runs just unit tests for now. I thought I will be able to use `goCI` as in your example, but if I understand it correctly looking into [goCI source](https://github.com/fabric8io/fabric8-pipeline-library/blob/master/vars/goCI.groovy#L24) it also builds container which we are not doing right now.

This is what I've come up with - https:/

[2017-09-20 08:12] kadel commented on #237
Strongly disagree here. Confusing will be requiring user to set `--distrubtion` flag. see https://github.com/kedgeproject/kedge/issues/237#issuecomment-329533190

It is not needed. Setting `controller: deploymentConfig ` is all we need to know that users want to generate for OpenShift.
Why complicate things with `--distribution`?

[2017-09-20 08:21] kadel commented on #237
There is a small blocker. There is an [openshift/clinet-go](https://github.com/openshift/client-go) but apparently, it is not yet ready for use (I didn't try that personally)

Teoreticaly we could use [opensfhit/origin](https://github.com/openshift/origin/). The problem is that we are already using [kubernetes/client-go](https://github.com/kubernetes/client-go) and openshift/origin is [importing k

[2017-09-20 08:24] kadel commented on #168
I'm confused from content of that directory :-(
Do we need all the other files?

[2017-09-20 08:25] kadel commented on #280
part of this PR should also be documentation on how json-schema generation works and describing generated files

[2017-09-20 08:46] kadel commented on #237
Someone should look into this. Maybe be it will be possible to use openshift/client-go as it is. All we need is structs for DeploymentConfig and Routes nothing more

[2017-09-20 08:57] surajssd commented on #168
@kadel not sure yet so keeping them!

[2017-09-20 09:10] surajssd commented on #280
@kadel marked it!

[2017-09-20 09:17] surajssd commented on #59
@cdrage I think this done, we can close this one!

[2017-09-20 09:17] #59 closed

[2017-09-20 09:31] ashetty1 commented on #270
We probably should be checking job and pod status for this.

[2017-09-20 09:45] pradeepto commented on #273
@surajssd We probably will have to break this task into smaller tasks before you start implementing it.

[2017-09-20 10:06] jstrachan commented on #273
yeah, we could separate out the different strategies...

* lazily create if required a S2I binary build on the fly (like fabric8-maven-plugin's build goal does if using OpenShift)
* use the OpenShift Docker binary build strategy if its available (usually its not) ;)
* use the docker socket if its available (e.g. on kubernetes) and use the `docker build` CLI to do it
* use Google Container Builder

[2017-09-20 10:39] containscafeine commented on #2
Can we close this since envFrom is supported now?
ping @kadel @surajssd

[2017-09-20 10:42] surajssd commented on #2
Yes I think so we can close this one!

[2017-09-20 10:46] #2 closed

[2017-09-20 10:47] surajssd commented on #11
Is there an issue for generating Helm Charts ? Because this issue talks about only using Helm charts from kedge!

@pradeepto and what is the priority of this ?

[2017-09-20 10:49] pradeepto commented on #11
Not for 0.3.0 or 0.4.0.

[2017-09-20 10:50] surajssd commented on #12
Again this is like the Helm issue https://github.com/kedgeproject/kedge/issues/11 here it is not clear if we need to generate or use OpenShift template from kedge?

[2017-09-20 10:52] containscafeine commented on #56
IMO this is a practice that we should follow, and we're following right now. Let's continue that, and closing this since this is more of a meta/tracking issue.

[2017-09-20 10:52] #56 closed

[2017-09-20 10:52] #24 closed

[2017-09-20 10:53] containscafeine commented on #28
We do not have a use case for this, yet.
priority--

[2017-09-20 10:56] containscafeine commented on #41
@pradeepto does it make more sense for this issue to track parametrization, in general, instead of only ingress host?

[2017-09-20 10:56] surajssd commented on #12
Oops my bad so we have an issue about generation of OpenShift template https://github.com/kedgeproject/kedge/issues/272

[2017-09-20 10:57] surajssd commented on #11
So there is issue about generation of Helm charts https://github.com/kedgeproject/kedge/issues/272

[2017-09-20 10:58] containscafeine commented on #44
@pradeepto is the priority still high?
Also, could you explain more on what sort of questions do we want to be a part of this?

[2017-09-20 11:03] containscafeine commented on #49
@surajssd can we close this? We have separate validation functions now.

[2017-09-20 11:05] surajssd commented on #272
There was some discussion of parameterization of ingress https://github.com/kedgeproject/kedge/issues/41

We can have a general parameterization support in Kedge for kedge files and then some parameterization support that is carried forward in OpenShift templates.

[2017-09-20 11:06] containscafeine commented on #50
@surajssd we have populators now, can we close this?

[2017-09-20 11:10] #49 closed

[2017-09-20 11:11] containscafeine commented on #57
We are fine with Travis + Semaphore for now, do we still need this one here?

[2017-09-20 11:11] #50 closed

[2017-09-20 11:12] surajssd commented on #57
I think this was created when we had no CI setup so this is kinda old so we should close this one!

[2017-09-20 11:12] #57 closed

[2017-09-20 11:13] pradeepto commented on #41
@containscafeine https://github.com/kedgeproject/kedge/issues/224 is in milestone 0.3.0. So, yes ingress bit can be handled there. Keep this open, it can be closed when #224 is closed.

[2017-09-20 11:13] containscafeine commented on #47
@pradeepto most of this is done and a few are being tracked in separate issue, can we close this one?

[2017-09-20 11:14] pradeepto commented on #224
Ingress bits can be parameterised  as well as per #41

[2017-09-20 11:21] containscafeine commented on #89
Closing in favor of #276

[2017-09-20 11:21] #89 closed

[2017-09-20 11:22] containscafeine commented on #98
Closing since we use populators now

[2017-09-20 11:22] #98 closed

[2017-09-20 11:22] surajssd commented on #115
What are we decided on this ? @containscafeine @kadel

If we are not doing this let's close it maybe?

[2017-09-20 11:25] containscafeine commented on #115
Need more time to think about this, lowering priority.

[2017-09-20 11:27] containscafeine commented on #123
Now that we have `prettyPrintObjects()` function, I think we can reuse that to pretty print log messages.

[2017-09-20 11:30] surajssd commented on #115
Or we can normalize the image name and give it to the container, that is the sanest thing to do.

[2017-09-20 11:32] containscafeine commented on #168
@surajssd @surajnarwade correct me if I'm wrong, but the JSON schema is not helping here, right? Is this because Kubernetes does not support this?
If this is the case, we need to do this via reflect.
This is bug, let's fix this soon-ish.

[2017-09-20 11:44] surajssd commented on #271
Can you elaborate on what do you mean by IDE integration?

[2017-09-20 11:47] containscafeine commented on #271
i.e. when the IDEs start understanding Kedge, i.e. LSP support goes in, etc.
We could make IDEs aware what's going on in the file and expand/shrink definitions.

[2017-09-20 11:49] containscafeine commented on #269
@kadel I found some useful instances of `testify/assert` here - https://github.com/kubernetes/kubernetes/search?utf8=%E2%9C%93&q=assert

[2017-09-20 13:27] kadel commented on #269
can you show example where it is going to help in our tests?
how it is different from doing
[code]

I'm just trying to undersnad how is this going to help us.

[2017-09-20 13:39] kadel commented on #247
@containscafeine  @cdrage
can please one of you estimate how complicated/time consuming this is going to be?
and add `size/`label

S - simple chage, just few lines (no more than 1 day of work)
M - a little bit more change but still fairly strait forward
L -  a bit more complicated to solve, maybe requiring small refactoring of existing code
XL - complex change, new big feature, requiring big refac

[2017-09-20 13:43] cdrage commented on #247
Hey @kadel it seems that this only happens 50% of the time and it really depends on the host machine as well as whether or not minikube is running as a VM or Docker cluster.

There's so many variables that it's complicating how to diagnose this issue.

I'd say we mark it as medium, however, fix this in the next sprint / release cycle as well as label this as "blocked" until  https://github.com/kub

[2017-09-20 13:45] kadel commented on #247
OK, thx.
Does it make sense to have it in this milestone if it is currently blocked?

[2017-09-20 13:45] containscafeine commented on #247
@kadel I think we can remove it

[2017-09-21 06:33] surajssd opened #285 "Auto Populate the popular health checks"
## Problem statement

Devs won't care much of Health checks, but it is a good practise for hassle free application deployment.

## What should we do?

Auto populate the readinessProbe and livenessProbe.

## How should we do it?

Most popular applications are exposed on well known ports. In kedge we maintain a mapping of port against livenessProbe and readinessProbe. So we read what port the servic

[2017-09-21 06:37] surajssd commented on #285
This was suggested by @kameshsampath when we were demoing kedge to him, to understand how it is happening in fabric8 maven plugin, we can take help of @hrishin.

[2017-09-21 06:47] surajssd opened #286 "Add validation to see if docker image exists"
Before we deploy to cluster using `kedge create ...` or `kedge apply ...` see if the provided image exists in registry.

If we decide on adding this, it should be only **WARNING** if the image does not exist, because a user machine may not have access to that container registry but the machine that is running k8s cluster might have access to such a registry.

For implementing this feature we can t

[2017-09-21 07:41] surajssd opened #287 "`kedge build` subcommand which is alias to docker build"
We can have something like this:

[code]
For starters we are doing local build and push like @cdrage has implemented in kompose

Attempts to solve one specific use case mentioned in https://github.com/kedgeproject/kedge/issues/273

@kedgeproject/maintainers need your opinions here

[2017-09-21 10:53] kadel commented on #285
From my short experimenting with fabric8-maven-plugin this is not something that it is doing.

What if someone explicitly doesn't want health checks?

[2017-09-21 11:14] kameshsampath commented on #285
@kadel - the auto generation of health checks are done using fabric8 maven plugin enrichers/generators, right now we have enrichers/generators for Spring Boot, Vert.x, Karaf, Web and Jar..  to answer your questions if someone does not want healthchecks, we can add a flag say healthchecs: true|false in the def.. wdyt ?

[2017-09-21 11:15] surajssd commented on #287
Multiple things:

- Are we doing just `kedge build` which is just a command line option?
- Are we doing a `kedge create` and the build info is in kedge spec ?

[2017-09-21 11:52] kadel commented on #285
@surajssd

What if someone uses port 6379 for something else than redis?

[2017-09-21 11:53] kadel commented on #285
But that expects that you know type of the applications (Spring Boot or Verte.x...) right?
User sets that? Or it is somehow detected automaticaly?

[2017-09-21 12:06] kameshsampath commented on #285
For maven projects it does some smart detecting via maven dependencies/plugins, when nothing found for HTTP it defaults to `8080`

User can still override it via config

So IMHO - if we are able to detect lets set it, next try to do apply some intelligence to see if we can  set, last resort leave it without setting .. may be  warning in the log to make user know that they need to use health/livlin

[2017-09-21 12:10] kadel commented on #285
My only concern here is what happens if we set wrong health check.
The application won't run / will get killed just because Kedge Chose the wrong health check.

If we can somehow minimalize possibility of setting wrong health check than it makes sense. But if not that it will cause more problems than helping someone.

[2017-09-21 12:15] kameshsampath commented on #285
+1

[2017-09-21 12:17] kadel commented on #287
I don't think that docker-compose is a right project to get inspiration from.

I think that it would be better to abstract away the build type from Kedge file.

Kedge file should contain only generic information regarding build, but it should set how is build done.

Build type should be detected automatically, with manual overwrite from the command line.

[2017-09-21 12:23] kadel commented on #287
I would skip adding anything to Kedge file for now. (BTW: I'm not sure if  we should take inspiration from docker-compose)

We could start with `kedge build` as James suggested
we can add command like this:
`kedge build --dockerfile=Dockerfile myuser/myimage:${VERSION} ./build/mybinary`

Thing is that it should automaticly detect what kind of the build should be used based on envrionment where it

[2017-09-21 12:46] surajssd commented on #287
@kadel will this also include pushing image to some repository ? Because just doing build won't suffice, cause the cluster won't know where to pull that image from!

[2017-09-22 15:01] cdrage commented on #237
New PR moved to #288

[2017-09-25 09:55] containscafeine opened #290 "Generated Kubernetes Job should default to "restartPolicy: OnFailure""
I just created a job using the following kedge file -

[code]

But I got the following error -

[code]

I fixed it by specifying the restartPolicy explicitly, but does it make sense to auto populate `restartPolicy: OnFailure` by default?

[2017-09-25 14:18] surajssd commented on #290
I think this makes sense, that we create a job with restart policy as `OnFailure`, looking at the behavior of `kubectl run ...` for some inspiration I found that if you specify flag `restart OnFailure` to `kubectl run ...` then it creates job instead of `Deployment`.

See official docs: https://lukemarsden.github.io/docs/user-guide/kubectl/kubectl_run/

[2017-09-25 14:33] kadel commented on #290
+1 for `OnFailure` but it has to be well documented, as it differs from Kuberentes default.
If I remember correctly Kubernetes always defaults `restartPolicy` to `Always` even for Jobs.

[2017-09-25 14:33] kadel commented on #290
removing the bug, as it is not a bug, it is the same behavior as Kubernetes.

[2017-09-25 15:27] kadel commented on #224
I was thinking about best syntax that we can use for parameters so it doesn't conflict with Helm charts variables or OpenShift templates.

We probably shouldn't use the Bash way of specifying variables (`${VARIABLE}" ). This might conflict with OpenShift templates.
If we will add Helm support in the future we shouldn't use Go templates syntax for variables (`{{ variable }}`), as this will conflict

[2017-09-25 15:38] #218 closed

[2017-09-26 05:18] containscafeine commented on #286
IMO this will make `kedge create/apply` a lot slower since we will need to talk to registry every time.
Also, it's maybe best left to Kubernetes to take care of this, since maybe local machine where kedge runs has the access to the registry, while the cluster where the application is being deployed to does not.
Maybe we could wait if there is ever a feature request for this.

[2017-09-26 06:45] surajnarwade opened #293 "add support for `kedge update`"
kedge should have option to update or should prompt that latest version is available like minishift or gofabric8.

something like,

[code]

For Reference minishift has,

[code]

or gofabric8 has,

[code]

[2017-09-26 08:33] containscafeine commented on #293
+1, we could also do this like -
`kedge get-versions` returns all the releases available on GitHub.
`kedge update` updates to the latest available release.
`kedge update --version xx.xx` updates to the specific release.
`kedge update --version master` updates to the master binary.

[2017-09-26 12:40] mohammedzee1000 commented on #290
Hey, i wish to pick up this issue, if that is ok.

[2017-09-26 13:05] surajssd commented on #293
we might need to have `sudo` in some cases

[2017-09-26 14:18] cdrage commented on #293
:-1:

Cons:
 - I have effectively not seen any other tool use this functionality other than `minishift`
 - This command will confuse users who are used to the `kubectl update` command
 - Requires sudo privileges / it replaces binaries
 - Could introduce a host of security issues (man-in-the-middle attacks, URL spoofing for binaries)

I'm voting a hard no.

I'd rather notify the user that there is

[2017-09-27 05:49] surajssd commented on #293
:+1:

[2017-09-27 08:55] containscafeine commented on #290
@mohammedzee1000 sure thing

[2017-09-27 13:36] containscafeine commented on #262
[code]

[5:08 PM]
[code]

[5:08 PM]
this will create deployment with label foo: bar and also service with the same label

[5:09 PM]
annotations should do the same

[5:09 PM]
concaf @tkral yeah, but why do we need to set it for every generated Kubernetes resource?

[5:09 PM]
tkral why not? :smile:

[5:09 PM]
concaf :stuck_out_tongue:

[5:10 PM]
So, maybe the user wants to set labels only for one th

[2017-09-27 14:33] kadel commented on #293
I personally, don't like this functionality.
Updates and notification about new version should be handled by some package management tool like dnf, apt, brew, chocolatey etc..

[2017-09-28 09:21] surajssd commented on #224
@kadel

SGTM!

[2017-09-28 09:23] surajssd commented on #286
How about we add a flag which enables this functionality?

This feature will save lot of time for people, because they realize later after waiting for sometime, just to know image does not exist. This is not erroring out, but more of a warning!

[2017-10-03 11:22] kadel opened #301 "Clean up `pkg/cmd` and create `parser` package"
We have a lot of logic in `pkg/cmd` package that is not related to command line in any way.

We should clean this up.
We can create new `parser` package that will include all functionality related to parsing, handling, and unmarshalling Kedge files.

[2017-10-03 16:21] snoby opened #304 "imagePullSecrets are dropped on the floor"
While generating a template that used imagePullSecrets I determined that the kedge templating engine drops the "imagePullSecrets" on the floor and doesn't bring them over to the final rendered output.
The debug output is of very little use
the template:
[code]
the output result:
[code]

This along with the lack of passing annotations limits the effectiveness of this potentially wonderful tool!

[2017-10-03 17:01] surajssd commented on #304
@snoby thanks for trying out kedge.

`imagePullSecrets` is a pod level field, not a container level field. So please modify the yaml to look like this:

[code]

And now run generate, it will generate it for you.

[2017-10-03 17:06] snoby commented on #304
AH yes indeed.  I thought I had tried that.  Man guys just get annotations to work and it's exactly the tool I need!!!!!
Thank you

[2017-10-03 17:06] #304 closed

[2017-10-03 17:57] surajssd commented on #304
We are in discussion of how do we add support of annotations!

@containscafeine you might wanna link this as a feature request from user!

[2017-10-04 07:33] kadel opened #305 "Allow specifying default values for variables"
We should be able to set a default value for a variable if a variable is not set.

One of the possible syntaxes is something like this:
[code]
if `$VARIABLE_NAME` is not set that `default value` will be used.

related to #224

[2017-10-04 08:24] kadel opened #306 "Name is not propagated to single Ingress"
If only one ingress is defined and doesn't have name the top name level should be used.
This is correctly happening for Services, but not for Ingresses.

input:
[code]

output:
[code]

generated ingress:
[code]

[2017-10-04 09:27] containscafeine opened #307 "Move from Glide to dep"

[2017-10-04 09:30] kadel commented on #307
I don't think that dep is going to solve any of our vendoring issues :-(

[2017-10-04 09:32] containscafeine commented on #307
@kadel agree, but in general we can make this move later on since glide is supported only for now.

[2017-10-04 09:33] kadel commented on #304
Mistakes like this should be cached by Kedge. This goes back to https://github.com/kedgeproject/kedge/issues/168
We should start working on solving this.

[2017-10-04 09:41] containscafeine commented on #306
Yeah, I realized that there is not `fixIngresses` function while doing ObjectMeta PR.

[2017-10-04 12:38] surajssd opened #308 "Test the `kedge build` functionality"
Once https://github.com/kedgeproject/kedge/pull/295 is merged, write tests to see if the `kedge build` functionality is valid.

TODO:

- [ ] See if the image is built
- [ ] See if the image is pushed to docker registry

Above things will be again done by using docker client libs

[2017-10-04 12:45] surajssd opened #309 "Add build support of S2I build"
This is again a specific use case that solves the build story https://github.com/kedgeproject/kedge/issues/273 for kedge using OpenShift S2I.

- When provider is OpenShift then do builds using S2I
- Generate `buildconfig` and `imagestream`

[2017-10-04 12:47] surajssd commented on #309
Right now this is blocked on the openshift support https://github.com/kedgeproject/kedge/pull/299 and https://github.com/kedgeproject/kedge/pull/288

[2017-10-05 06:04] #224 closed

[2017-10-05 06:06] surajssd commented on #304
@kadel

ping @surajnarwade

[2017-10-05 06:21] containscafeine commented on #306
Closed in #310

[2017-10-05 06:21] #306 closed

[2017-10-05 08:34] containscafeine opened #312 "Update our examples to leverage new kedge shortcuts"
The examples that we have in our repo are not updated to leverage all Kedge shortcuts, etc like portMappings or endpoint or health. We need to update the same.

[code]

[2017-10-05 16:43] containscafeine opened #313 "Evaluate integration points with `ocd` (?)"
AFAIK, `ocd` (OpenShift for developers) is a tool to ease a developer's entry to the Kube/OpenShift world, and provides simple CLI commands to manage your application lifecycle. It'd be interesting to evaluate if we could integrate with it in some way.

Link - https://github.com/openshift-evangelists/ocd

I've not put any real thought into this, but putting it out so we don't lose track of this.

[2017-10-05 16:59] #287 closed

[2017-10-05 17:04] surajssd opened #314 "stop using docker client in `kedge push`"
Right now kedge uses docker client to do image push, see if you can use library or tool like [skopeo](https://github.com/projectatomic/skopeo).

We can use skopeo because it builds rightly on [Mac OSX](https://github.com/projectatomic/skopeo#building-without-a-container) as well. So I am assuming it will take care of the use cases on Mac.

[2017-10-06 09:42] #262 closed

[2017-10-06 19:53] cdrage opened #317 "Implement ImageStream"
After implementing DeploymentConfig, we should implement ImageStream.

However, is it possible to supply multiple image stream triggers in the same DeploymentConfig file rather than splitting it up into separate files?

[code]

Would that work?

@kadel

[2017-10-09 11:19] ashetty1 commented on #308
Picking this up if nobody is working on it yet.

[2017-10-09 11:20] ashetty1 commented on #308
Picking this up if nobody is working on this yet.

[2017-10-09 13:08] kadel commented on #317
Yes, DC can have multiple triggers even multiple even of the same type.

[2017-10-09 14:37] concaf opened #318 "Add a comparison doc to Kedge"
@kadel suggested and I agree that it'd really help to have a comparison doc with other projects in the same space and point out the difference in how is Kedge different in approach towards solving the _application definition_ problem.

The tone of the doc should be only to point out the differences and comparing technical approaches.

Some projects I can think of that are generally thought of as o

[2017-10-09 14:57] kadel commented on #318
The most important part of the document should be what is the main problem that each of those projects is trying to solve.

Each project is looking at *the application definition problem* slightly differently. What I would like to see is what problem in that space is each project trying to solve with what approach.

My **suspicion** is that each project is trying to solve a different subset of the

[2017-10-09 17:04] surajssd opened #319 "Import all API related dependencies from github.com/kubernetes/api"
So came accross this repo, which is gonna be a

We can import all our API deps from this one repo.

https://github.com/kubernetes/api

[2017-10-10 04:28] surajssd opened #320 "Central location to keep Kedge manifests"
Helm has charts repo, also there is maven central that fabric8 folks use to store OpenShift artifacts. Are we planning to have a similar central place for all standard application's Kedge artifacts?

[2017-10-10 04:40] surajssd opened #321 "Generating Kedge maifests from Kubernetes and OpenShift"
Right now kedge does this

[code]

Do we plan to also do the reverse?

[code]

[2017-10-10 06:31] kadel commented on #321
Isn't this duplicate of https://github.com/kedgeproject/kedge/issues/271

[2017-10-10 06:35] kadel commented on #319
It is still in an experimental stage.
Kedge now depends on OpenShift, so we can start using this only if OpenShift is using it.

[2017-10-10 09:02] kadel commented on #318
Should we also consider ksonnet for comparsion?

[2017-10-10 10:34] surajssd commented on #321
oops my bad closing this one!

[2017-10-10 10:34] #321 closed

[2017-10-10 10:41] containscafeine commented on #320
I think this will make more sense if we have versioning of artifacts, else it should maybe suffice to version control with your application.

[2017-10-10 12:04] surajssd opened #322 "add flag `--save-config` to `kubectl create`"
Right now if you do `kubectl apply` on the object that was created using `kubectl create`, it gives warning saying:

[code]

So let's add this flag to `kubectl create`.

[2017-10-10 13:22] surajssd opened #323 "name service ports to make it work with openshift routes"
## Issue desc:

So if you have a kubernetes service with unnamed port and when you create a route for this service on openshift, openshift gives you a warning in the web console saying

So what this means is that if you update the service later to have multiple ports and if they are unnamed, then route traffic will be sent to all of them.

## Steps to reproduce:

[code]

Now goto the service `web`

[2017-10-10 14:20] surajssd commented on #290
@mohammedzee1000 did you have any progress with this one? Do you need help with this then please ping !

[2017-10-10 14:28] surajssd opened #324 "Move to using kedge schema structs in `kedge init`"
Right now we use golang templates, so we should think of moving to using kedge schema a.k.a. structs that kedge has defined. Golang templates tend to get complex very soon. With structs we can add more features and have easier control on what is to be generated.

[2017-10-10 14:39] surajssd opened #325 "create job using kedge init"
Add flag `--restart` to `kedge init`, if the value of this flag is `OnFailure` or `Never` a kedge job manifest is created. If nothing given it defaults to `Always` and creates `deployment`.

Here is a help string from `kubectl run -h`

[2017-10-10 14:44] surajssd opened #326 "Automatic port info from container image"
We can query the entire manifest of the container image to find out what ports it is exposed on while building that image. We can use that info, we then don't need to ask for port info to user. This is what even OpenShift does.

For querying the image information we can use libraries that skopeo uses.

[2017-10-10 14:46] surajssd opened #327 "Query image information to find out if the user in image is root"
We can query the entire manifest of the container image to find out if the user inside the image is root, if it is root we can warn user that this won't run on OpenShift by default, if OpenShift is chosen as deployment platform.

For querying the image information we can use libraries that skopeo uses.

[2017-10-10 14:49] surajssd opened #328 "Query the image to find what volume is exposed"
We can query the entire manifest of the container image to find out if user has provided any volume mount info while building the image, if so we can create a PVC by default in there, with some default size of some MiBs, like we did in kompose.

For querying the image information we can use libraries that skopeo uses.

[2017-10-10 14:52] kadel commented on #323
This will become relevant when we add support for Routes.

related to #238

[2017-10-10 14:56] kadel commented on #324
When we start doing more complex generation it might become a bit complex with templates, I agree.

The thing is that we actually lose control over what is generated if we start serializing Kedge schema. For example, we lose ability to add comments.
The idea was that generated Kedge file should also contain some comments when we start doing a little bit more than just image and ports.

[2017-10-10 14:59] kadel commented on #326
One important thing is that this should be only in  `kedge init`.

[2017-10-10 15:01] kadel commented on #327
I don't think that this is something that is in the scope for Kedge.
OpenShift cluster can be configured to allow root and then we are showing a warning that doesn't make sense for the user.

[2017-10-10 15:01] ashetty1 commented on #308
@surajssd How do you think we should manage the authentication bit for pushing images in test scripts. Any ideas?

[2017-10-10 15:07] kadel commented on #328
related to #326  and the same comment here: This applies to `kedge init`

[2017-10-10 15:10] kadel commented on #324
I'm marking this as a low priority. What we have is working right now. We can start thinking about this once it becomes an issue, or we need add more stuff to `kedge init`

[2017-10-10 17:54] surajssd commented on #308
@ashetty1 maybe spin up a local docker registry and then try to push the image to that registry?

[2017-10-11 06:32] surajssd opened #331 "Build construct in kedge manifests"
Kedge support doing build using docker daemon. Which takes input of `Dockerfile`, `build context` and container image name.

To support build using OpenShift, we will need to figure out the way to take input of build data. If we define our own way of taking input then we are limiting folks who wanna do builds and wanna use the full fledged functionality of OpenShift builds.

So what I propose is t

[2017-10-11 06:33] surajssd commented on #309
Also before doing this, we should implement https://github.com/kedgeproject/kedge/issues/331

[2017-10-11 06:34] surajssd commented on #331
This is blocked on https://github.com/kedgeproject/kedge/pull/315

[2017-10-11 06:55] surajssd opened #332 "Start using kedge in fabric8 pipelines"
Since now we have support to do [builds using kedge](https://github.com/kedgeproject/kedge/tree/master/docs/examples/build) like @jstrachan [suggested](https://github.com/kedgeproject/kedge/issues/273#issue-258471922). Also we have support for doing [parameterization](https://github.com/kedgeproject/kedge/blob/f9c6b378a5a3c6dbfb907281f2e1d6268bab35c9/docs/file-reference.md#variables) in the kedge

[2017-10-11 07:05] surajssd opened #333 "some tests don't run when you do `make test`"
I saw a test failing in travis CI, since a test is only run in travis and not locally when you do `make test`.

In particular `go test -i -race -cover ./cmd/... ./pkg/... ./tests/... .` test is failing in travis in PR https://github.com/kedgeproject/kedge/pull/315

So add above test to list of `make test`, it only runs when you do `make travis-tests`.

[2017-10-11 07:09] surajssd opened #334 "move the 'saasherder' configs to kedge"
So [openshiftio/saasherder](https://github.com/openshiftio/saasherder) has openshift templates, let's help them to move to kedge. Using kedge in their scripts. This would be a great validation for kedge showcasing it's usage to other folks.

[2017-10-11 07:22] surajssd opened #335 "Local developement workflow"
Create a doc that explains the local development workflow with Kubernetes that we suggest.

The doc should do following:

- take someone from doing local iterative development in minikube like environment
- then pushing that image to a remote registry
- and finally deploying to a environment which is prod like

I have created a video for demoing the kedge build functionality ["Kubernetes Native de

[2017-10-11 07:22] jstrachan commented on #332
great stuff ;)

probably the best place to start is creating a fork of a quickstart - such as for .Net or go:
https://github.com/fabric8-quickstarts/dotnet-example

then adding a sample pipeline:
* .net https://github.com/fabric8io/fabric8-jenkinsfile-library/blob/master/dotnet/ReleaseStageApproveAndPromote/Jenkinsfile
* go https://github.com/fabric8io/fabric8-jenkinsfile-library/blob/master/golan

[2017-10-11 09:51] containscafeine commented on #327
I'm a bit apprehensive on the story where we extract information from the container images. I think this is something that should be left to Kubernetes/OpenShift and we should stick to the application definition part for now. Maybe this is feature creep, at least for now.

[2017-10-11 12:55] kadel commented on #334
this is blocked by OpenShift support

[2017-10-11 12:58] kadel commented on #335
You have to push image under a new tag. You should never use latest! That is bad practice!

[2017-10-11 13:15] kadel opened #337 "Finish issue labeling guide"
It is hard to orient in issues.
It would help us with planing if we have some labeling system so we know what is epic, what is task or a dicussion.

Lets finish with labeling system https://github.com/kedgeproject/kedge/pull/284

[2017-10-11 13:50] surajssd commented on #327
I think we should stick to end user experience, no matter what!

[2017-10-11 19:37] surajssd opened #339 "Post a blog on every release"
We(mostly @cdrage) used to do this on every release of atomicapp.

For every release we should post blog on some platform.

To make the work less, maintain a google doc for that where team contributes and blog post goes out on the day of release with release.

[2017-10-11 19:58] cdrage opened #340 "SemaphoreCI failing (changing some settings, bear with me)"
So SemaphoreCI is failing due to the 10-minute "go test" timeout.

I'm going to add a much-longer timeout to see if it helps at all!

This is a general issue if there's any other problems within SemaphoreCI that needs to be addressed.

[2017-10-11 20:00] cdrage commented on #339
@surajssd

I agree. Our main site would be *great* for it (http://kedgeproject.org).

[2017-10-12 08:08] kadel opened #341 "use oc insetad of kubectl for OpenShift artifacts"
It is not possible to create OpenShift specific objects with `kubectl`

[code]

For OpenShift artifacts `oc` has to be used instead of `kubectl` when calling `kedge apply`

[2017-10-12 08:51] surajssd commented on #341
this should be fixed in https://github.com/kedgeproject/kedge/pull/315 isn't it?

[2017-10-12 11:20] surajssd opened #343 "Create hacktoberfest labels"
As we discussed in the meeting that we are gonna create some hacktoberfest labels

cc: @containscafeine

[2017-10-13 05:31] surajssd opened #348 "e2e test invocation script passes even if test fails"
This is leading to false positives. See logs of run from https://semaphoreci.com/cdrage/kedge/branches/pull-request-297/builds/6

Script says it passed even if the e2e test failed:

[code]

[2017-10-13 05:33] surajssd commented on #348
@ashetty1 do you mind looking at this?

[2017-10-13 05:52] containscafeine commented on #341
No, I think this can be a separate PR.

[2017-10-13 05:53] #333 closed

[2017-10-13 06:23] containscafeine commented on #343
Related ![GitHub Labels Notification](https://i.imgur.com/lex60Vz.png)

[2017-10-13 06:26] containscafeine opened #349 "Figure out GVK mechanism for OpenShift"
@cdrage pointed out at https://github.com/kedgeproject/kedge/pull/315#discussion_r144059874 that the SetGVK and GetScheme functions only work for Kubernetes, and not for OpenShift. We need to figure out what is the mechanism that OpenShift uses and use that instead of hardcoding the values.
Because hardcoding will not scale once we reach the use case for different Kubernetes/OpenShift versions.

[2017-10-13 06:55] surajssd commented on #343
cc: @surajnarwade

[2017-10-13 06:55] surajssd commented on #349
Need to see how kompose is handling it!

[2017-10-13 07:42] kadel commented on #327
I don't think this will improve user experience!

[2017-10-13 08:12] containscafeine opened #350 "Abstract Fix code for DeploymentConfig"
Coming from - https://github.com/kedgeproject/kedge/pull/315#discussion_r143995872

[2017-10-13 08:39] ashetty1 commented on #348
@surajssd the `customvol` tests have succeeded and have been marked as PASS, while `--- FAIL: Test_Integration/Normal_Wordpress_test` has FAILed. What exactly needs to be investigated?

[2017-10-13 09:18] #322 closed

[2017-10-13 09:26] kadel opened #352 "generated DeploymnetConfig is invalid!"
Generated DC by #315  is invalid.
Selector is missing

[code]
[code]

[code]

[2017-10-13 10:43] surajssd commented on #352
I think it has to match the labels!

[2017-10-13 10:55] surajssd opened #354 "Jobs controller type has no documentation"
Add a README to this location: https://github.com/kedgeproject/kedge/tree/master/docs/examples/jobs

Also document the behavior of Job being `OnFailure` by default that is being added in this PR https://github.com/kedgeproject/kedge/pull/347

[2017-10-13 11:14] kadel commented on #352
selector should match pod labels.

spec.selector = spec.template.metadata.labels

[2017-10-13 11:15] kadel commented on #352
plus deployment config is completely missing labels. It should have autogenerated `app` label

[2017-10-13 11:16] kadel commented on #352
Labels are not working at all. Even if I put labels to kedge they don't show up in DeploymentConfig

[code]

[code]

[2017-10-13 11:28] containscafeine commented on #354
Jobs have documentation here - https://github.com/kedgeproject/kedge/blob/master/docs/file-reference.md#controller

Yes, we need to add it to examples.

[2017-10-13 11:52] kadel opened #357 "replicas set to 0 if not specified"
If replicas is not set in Kedge file, the generated output shouldn't have it either.

Now it defaults to 0, which leads to a confusing situation where your containers are not started when DC id deployed.

[code]

[code]

replicas shouldn't be set if it's not set in Kedge file, OpenShift default will be used on the cluster side.

[2017-10-13 12:01] kadel opened #358 "Documentation for deploymentConfig"
Documentation should say that this is OpenShift specific.
OpenShift is not mentioned anywhere in the docs.

[2017-10-13 12:06] containscafeine opened #359 "DeploymentConfig defaults to 0 replicas, should be 1"
Specifying no replicas in DeploymentConfig results in 0 replicas. It should be 1, like in case of Kubernetes.

[code]

Similar discussion in https://github.com/kedgeproject/kedge/pull/315#discussion_r143998519

[2017-10-13 12:06] surajssd commented on #357
@kadel the structs we are importing should have `omitempty` in structtag

https://github.com/surajssd/kedge/blob/3ade8541e2209148c21c636464e12aea75e35e3a/vendor/github.com/openshift/origin/pkg/deploy/apis/apps/v1/types.go#L50

[2017-10-13 12:07] surajssd commented on #357
We are not setting the value anywhere inside the code!

[2017-10-13 12:16] surajssd commented on #354
it is not consistent witht the way we have doc or README in all the examples in https://github.com/kedgeproject/kedge/tree/master/docs/examples

[2017-10-13 12:17] kadel commented on #359
duplicate of https://github.com/kedgeproject/kedge/issues/357

[2017-10-13 12:19] kadel commented on #357
If there is no other solution than We will have to default to 1 manually.

But we have to be careful and correctly recognize if replicas in kedge wasn't set or it was explicitly set to 0

[2017-10-13 12:35] surajssd commented on #348
@ashetty1 the tests failed, but still the test invocation script exits with status 0, rather it should also fail!

[2017-10-13 12:37] surajssd commented on #327
User having to input less information I think will better user experience! That's what openshift also tries to achieve!

[2017-10-13 12:58] cdrage commented on #349
@surajssd We specify it manually in TypeObject :100:

[2017-10-13 13:06] cdrage commented on #357
@kadel @surajssd

I originally had this in the code, you can access replicas by reading in the variable `deploymentConfig.Replicas`

Checking to see if the default is 0 and change it to 1..

[2017-10-13 13:16] #352 closed

[2017-10-13 13:46] #359 closed

[2017-10-13 15:07] #248 closed

[2017-10-16 05:41] surajnarwade opened #362 "Reduce size of repository"
We can reduce size of repo by polulating `vendor` directory after cloning the repo.

Current size of repo:

[code]

After removing vendor,

[code]

[2017-10-16 06:35] containscafeine commented on #362
Is 737M the size when we first clone the repo?

[2017-10-16 08:00] containscafeine commented on #341
@kadel added this to the milestone, I think we should fix this to make OpenShift support usable.

[2017-10-16 08:06] containscafeine opened #363 "Document all the auto populations and shortcuts in one place"
We auto populate some fields like `restartPolicy` for jobs, names of resources if not given like ServicePorts, Ingresses, etc.
We also have some shortcuts like `endpoint`, `health`, etc

It'd be great to have these documented together in a separate file maybe, to give a higher level view of all the fields that Kedge adds.

[2017-10-16 08:22] kadel commented on #362
If we remove vendor from git, it is not guaranteed that we can build Kedge.

Kedge depends on a lot of libraries (transitively because of Kubernetes an OpenShift). What if some of the libraries are deleted from github? Or tag or commit we depend on is deleted? Then it won't be possible to build Kedge.

By having vendor in git we can always be sure that we can build Kedge regarding what happens wit

[2017-10-16 08:30] kadel commented on #237
Issues that need to be closed before we can consider initial support for DeploymentConfigs finished:

- [ ] use oc insetad of kubectl for OpenShift artifacts #341
- [ ]  Documentation for deploymentConfig #358
- [ ] replicas set to 0 if not specified #357

[2017-10-16 09:07] #357 closed

[2017-10-16 09:30] kadel commented on #327
How will users thanks to this input fewer informations?

[2017-10-16 09:51] containscafeine commented on #323
So, first I created a Service with the file -
[code]

I exposed this service like -
[code]

The endpoint port is 80.

I then add a service port like -
[code]

Then -
[code]

The route I created earlier continues to work since it's not bound to a Service Port name, but to the port number itself, 80 in this case.

I create a new route -
[code]

This route also works fine, and the endpoint is the Ser

[2017-10-16 14:06] surajssd commented on #323
@containscafeine ^^

The warning does not say it won't work!

[2017-10-17 06:27] containscafeine commented on #323
Hmm, so why should we be populating all names?

[2017-10-17 09:54] containscafeine opened #367 "Generate routes for endpoint shortcut"
We should generate an OpenShift route when the endpoint shortcut is specified with controller set as DeploymentConfig.

[2017-10-17 12:27] ashetty1 commented on #308
@surajssd have something like this now: https://gist.github.com/ashetty1/7f8f3832bebae9f9bcdf50466c6fadd0

Where would you like to have it reside?

[2017-10-17 14:49] pradeepto commented on #367
Duplicate of https://github.com/kedgeproject/kedge/issues/238 and relates to https://github.com/kedgeproject/kedge/issues/323

[2017-10-18 06:07] containscafeine commented on #367
Not a dup, since that OpenShift routes are being fixed in #366. This is only about the endpoint shortcut to work with routes. Thought it could go in another PR instead of the same one.
I should have given more context :)

[2017-10-23 02:04] surajssd commented on #323
Right now we are auto-generating name for ports when more than one port is given, if we are doing it for more than one port why should we even wait for that why not do it anyway be it one port or multiple port. What I am trying to imply here is that if one port is given is not a special case here that we should be checking.

In other places like this where we are doing similar checks is in case of

[2017-10-23 02:07] surajssd commented on #308
@ashetty1

I think along with e2e tests

Please send a PR that way it is easier to check and test!

[2017-10-23 05:20] #238 closed

[2017-10-23 07:59] surajssd opened #371 "All e2e tests are broken - semaphore is showing false positives"
So the entire e2e is broken, right now due to the vendored dependencies. Right now please don't merge PR's trusting semaphore's green symbol. Run tests locally to test if it is actually passing.

On master:

[code]

[2017-10-23 09:14] surajssd opened #373 "kedge does not filter duplicate input data"
Here is a kedge file

[code]

doing conversion, it does not filter duplicate data,

[code]

even this is not validated by kedge, I can give same file multiple times and it takes those as input.

[code]

I am using

[code]