[2017-10-23 09:28] surajssd opened #375 "add support for openshift in e2e tests"
Right now we generate openshift configs like `DeploymentConfig` and `Routes`, add tests to e2e test suite to test this.

- We can start using `oc cluster up` openshift cluster to run the test suite
- And then find a way to talk to openshift cluster to query the openshift objects to write the tests for openshift

[2017-10-23 09:31] surajssd opened #376 "Move from the kubernetes cluster to `oc cluster up` cluster"
Right now e2e tests on semaphore CI run on a Kubernetes cluster running in a VM, we should move to Kubernetes cluster which is spawned using `oc cluster up`, so that adding tests for openshift objects become easier.

[2017-10-23 09:35] surajssd opened #377 "Expand on DeploymentConfig documentation"
We would like to have an elaborate documentation of what deploymentconfig in this path: [docs/examples/deploymentconfig](https://github.com/kedgeproject/kedge/tree/359a377167b95bdce72134a6f39e63a173c3cc0e/docs/examples/deploymentconfig)

Right now there is just one file which does not mean anything to user landing there. In the same directory we have multiple examples which can show case how to do

[2017-10-23 10:10] #371 closed

[2017-10-23 10:28] kadel commented on #373
I don't think that we can safely catch this :-(

[2017-10-23 10:54] containscafeine commented on #323
I think our behavior should be consistent with the way OpenShift deals with this.
If we add more service ports to OpenShift later on, then it routes traffic to all of them, so should we.
We should not be auto naming the first port and bind the route to that port, when OpenShift does not do that.

[2017-10-23 11:12] surajssd opened #379 "make e2e tests not run in verbose mode"
Based on the discussion [here](https://github.com/kedgeproject/kedge/pull/372#issuecomment-338618955), we should move from verbose mode of running e2e tests to running tests in normal mode. We don't necessarily need verbose because golang test suite will dump the output of the failed test anyway if any test fails.

[2017-10-23 11:13] surajssd commented on #373
@kadel we can atleast fix this one

[code]

[2017-10-23 12:08] #341 closed

[2017-10-24 05:49] #349 closed

[2017-10-24 06:39] containscafeine commented on #168
Related PR #192
Well, the PR is blocked on kubeval, which is blocked on a couple of Kubernetes issues, this is going to take some time :|
Idk if we should push a temporary fix for now and later switch to upstream, or remain blocked!

[2017-10-24 06:40] kadel commented on #323
I don't understand where is the problem if we start naming ports from begging if `name` is not set.

[2017-10-24 07:21] kadel commented on #168
how is this blocked on kubeval?

[2017-10-24 07:50] containscafeine commented on #323
@kadel @surajssd -

- User specifies one unnamed service port:

In Kedge - The generated route will be bound with that service port name. On addition of subsequent service ports, the route will not direct traffic to the newer ports.

In OpenShift - The generated route will not be bound with that particular service port. On addition of subsequent ports, the route will direct traffic to newer ports.

[2017-10-24 07:56] containscafeine commented on #168
ping @surajnarwade

we could validate using reflect magic on golang structs, but I'm not aware of anything to validate against the JSON schema.

[2017-10-24 10:41] kadel commented on #323
It depends on how you define Route/Ingress. Nothing to do if port is named or not.
Both cases can be set to behave either way.

[2017-10-24 10:45] kadel commented on #379
big +1
it is impossible to find anything useful in current output.
verbose output should be dumped only if there is an error

[2017-10-24 10:52] kadel commented on #168
Why we can't use one of those?:
- https://github.com/xeipuuv/gojsonschema
- https://github.com/lestrrat/go-jsschema

There is even talk about it from one really smart guy https://www.slideshare.net/surajssd009005/jsonschema-with-golang ?

@surajssd

Or Am I missing something?

[2017-10-25 07:57] surajssd commented on #168
LOL :see_no_evil:

@surajnarwade told the library has some additional checks wrt kubernetes and openshift specifically!

[2017-10-25 12:18] kadel commented on #323
@containscafeine I don't really see the problem in naming ports if the name is provided.

[2017-10-25 13:54] containscafeine commented on #323
Okay, we can move ahead with one.
I don't agree completely, but I understand your point.
Yay :tada:

[2017-10-25 15:31] surajnarwade commented on #168
@surajssd @containscafeine  @kadel , once https://github.com/garethr/openapi2jsonschema/issues/4 gets solved, we are ready to sort out this issue.
(it will not take much time)

[2017-10-25 15:37] surajnarwade commented on #168
Problem is not with `gojsonschema` module, problem is with json schema of kubernetes, there is no mechanism to validate root level extra fields.
kubeval does upto some extent. I have opened up an issue there, https://github.com/garethr/openapi2jsonschema/issues/4
once it gets resolved, we are good to go

[2017-10-26 06:13] surajssd commented on #280
Right now blocked on https://github.com/garethr/openapi2jsonschema/issues/5

Will have to debug our OpenAPI maybe if that is causing problems!

[2017-10-26 06:54] kadel opened #385 "Add support for BuildConfig and ImageStreams"
BuildConfig should be a new type in Kedge file.

We should do it the same way as other types. Merging `BuildConfigSpec` with `ObjectMeta` and adding it under new root level key `buildconfigs`

This will also require adding ImageStreams in the same way (merging `ImageStreamSpec with `ObjectMeta`.

full example of Kedge file with BuildConfig (using cusom s2i) and ImageStreams:
[code]

`imageStreams`

[2017-10-26 07:00] #323 closed

[2017-10-26 07:02] kadel commented on #168
Can we create work around and fix it in our end?
Can we inject `"additionalProperties": false` ourselves?

[2017-10-26 09:06] pradeepto commented on #385
Related to / Duplicated of https://github.com/kedgeproject/kedge/issues/309

Sort of related to https://github.com/kedgeproject/kedge/issues/331

cc @kadel @surajssd

[2017-10-26 09:13] #325 closed

[2017-10-26 09:17] containscafeine commented on #271
I have put some thoughts at https://github.com/containscafeine/kedgify

[2017-10-26 10:26] surajnarwade commented on #168
@kadel, we can do this, I will send temporary fix which will validate everything except root level extra fields.
when upstream issue gets fixed, it will automatically reflect in our jsonschema (so no extra work in future )
@kadel, @surajssd WDYT ?

[2017-10-26 10:40] kadel commented on #331
not blocked anymore

[2017-10-26 10:40] kadel commented on #331
For OpenShift builds we shouldn't be creating anything special, just adding BuildConfig support as described in https://github.com/kedgeproject/kedge/issues/385

don't understand what do you mean?

[2017-10-26 10:44] surajssd commented on #385
The only problem with root level bc is that how do we tell it which container it should build for if pod has multiple containers?

[2017-10-26 10:44] kadel commented on #168
It means that it will validate extra keys that are in deeper levels, just root level's won't be validated?
That would be great 👍

There was no movement in the upstream repo. If it doesn't change maybe we should fork and fix it ourselves.

[2017-10-26 10:47] surajssd commented on #385
Because the amount of information in your proposal, someone has to give is way too much and I think some of it can be auto generated/populated if we put/embed the buildconfigspec inside containerspec

[2017-10-26 10:47] kadel commented on #385
That is defined inside BuildConfig. See output section in BuildConfig definition.
It can be either ImageStream or any other docker registry (https://docs.openshift.com/enterprise/3.2/dev_guide/builds.html#build-output)

DeploymentConfig is hooked to that ImageStream so it triggers deployment what IS changes

[2017-10-26 10:48] kadel commented on #385
This is the typical way how it is done in OpenShift. We need to support this either way.
After we add this we can start thinking about improving it with shortcuts.

[2017-10-26 13:48] kadel commented on #94
I've started with this.
I would like to create simple spec file that we can automatically update each release without working about it much.

work in progress is here; https://github.com/kadel/kedge/blob/copr/build/rpm/kedge.spec

[2017-10-26 15:05] surajssd commented on #94
@kadel 👍

[2017-10-26 18:33] cdrage commented on #47
Hey @pradeepto Can we close this now? I believe the last two have been knocked out / completed.

[2017-10-26 18:33] cdrage commented on #44
@pradeepto Can we close this?

[2017-10-26 18:34] cdrage commented on #12
@pradeepto Are you able to elaborate on this? Seeing if we should close this now that continuous effort is being put towards collaborate OpenShift integration.

[2017-10-26 19:42] cdrage commented on #362
Yeah, vendor is required :-1:

[2017-10-26 19:42] #362 closed

[2017-10-26 19:44] cdrage commented on #268
Syncing is setup, and the rest of the tasks are completed. Going to go ahead and close this :+1:

[2017-10-26 19:44] #268 closed

[2017-10-27 06:06] kadel commented on #94
currently it is beeing build on copr https://copr.fedorainfracloud.org/coprs/tkral/kedge/

[2017-10-27 06:19] containscafeine opened #394 "merging multiple kedge definitions"
I think merging multiple Kedge definitions for the same application will be a pressing use case for scenarios like -
- applying patches to kedge files and deploy in real time
- managing different values for different fields for different environments, e.g. env variables/secrets will differ for dev, staging, prod
- storing the core application in one kedge file, and storing the other information li

[2017-10-27 07:04] containscafeine commented on #12
@cdrage I think we should keep this one open, we should be outputting OpenShift templates - some day.

[2017-10-27 08:11] kadel commented on #394
Don't understand this part, can you elaborate more?

[2017-10-27 08:14] kadel commented on #394
why do you need `kubectl patch`?

[2017-10-27 08:20] #348 closed

[2017-10-27 08:25] kadel commented on #44
I think this it still valid.

Questions like:
 - How is Kedge different from Helm
 - How it is different from docker-compose (now when you can deploy it directly do Kubernetes)
 - Why I would use Kedge over normal Kubernetes definitions.

[2017-10-27 11:31] containscafeine commented on #394
@kadel -

By this I meant that the application has been deployed to the cluster, and we want to patch just a small part of it, let's say update the container image name. Then, the user should be able to write a patch file -
[code]
and tell kedge to patch the running application.

If I understand it correctly you want to merge two kedge files, one will essentially overwrite some values from the oth

[2017-10-27 13:28] pradeepto commented on #332
Linking https://github.com/kedgeproject/kedge/issues/223 because it seems related.

[2017-10-27 14:51] kadel commented on #394
If someone wants to update image they shouldn't crate patch. You just update original kedge file that was used to deploy given an application in the first time and call `kedge apply`.
Creating patches like this just create inconsistencies. Kedge file should reflect what is deployed.

[2017-10-27 14:59] kadel commented on #394
If this is proposed solution for https://github.com/kedgeproject/kedge/issues/223 that we should discuss it there.

Otherwise, it looks like that issue doesn't have progress and also so James knows about it.

[2017-10-27 15:06] kadel commented on #394
It would be nice to show it on an example and describe how it will look like from users point of view.

Kubernetes uses Strategic merge patch, which can be sometimes a bit tricky.
Some documentation about Strategic Merge Patch:
 - https://kubernetes.io/docs/tasks/run-application/update-api-object-kubectl-patch/#use-a-strategic-merge-patch-to-update-a-deployment
 - https://github.com/kubernetes/com

[2017-10-30 13:00] kadel opened #396 "kedge init generates invalid kedge file"
[code]

I believe this is one of the side effects of using structs to create kedge file :-(
https://github.com/kedgeproject/kedge/pull/353

ping @surajssd

[2017-10-30 13:05] kadel opened #397 "Output generated by `kedge init` is human unfriendly :-("
The file generated by `kedge init` is not friendly for new users :-(
[code]

currently, it looks like this
[code]

But something like this would look much better.

[code]

[2017-10-31 04:38] containscafeine commented on #331
@surajssd could post a snippet of how bc spec + container spec look like, and which fields will auto populate using the merge?

[2017-10-31 11:09] kadel commented on #396
Why there are the same types defined again in init.go https://github.com/kedgeproject/kedge/blob/master/cmd/init.go#L41 ?

It should reuse types from types.go. Otherwise, what is the point of using structs?

The current approach duplication and it is error-prone. This bug is a great example of errors this can lead to.

[2017-10-31 14:05] #396 closed

[2017-10-31 20:19] cdrage opened #401 "File reference is unfriendly / unorganized"
We should add a Table of Contents to File Reference as well as clean it up / make it more readable.

For example, changing the smaller headers to __bold__ instead of `###` as well as changing font-sizes tables / make it friendlier to the eyes.

Context: http://kedgeproject.org/file-reference/

[2017-10-31 20:30] cdrage opened #402 "Need to clarify ingresses / routes examples better."
So we've got two places for `routes` examples, and both of them are conflicting / confusing.

For example: https://github.com/kedgeproject/kedge/tree/master/docs/examples/routes

In the README.md we define routes as:

[code]

Yet in the example it's defined as:

[code]

Which is a tad bit confusing.

In "examples" for Ingresses and Routes, we don't actually reflect it in the spec..

From reading t

[2017-10-31 20:34] cdrage opened #403 "$ should be in-front of commands in the user guide"
See: http://kedgeproject.org/user-guide/#kedge-init

We should have `$` in-front of all user commands.

[2017-10-31 20:36] cdrage opened #404 "Clean up user guide"
Need to format the CLI commmands to headers instead of ex. `kedge init` for more clarity.

Context: http://kedgeproject.org/user-guide/
Make it similar to: http://kompose.io/user-guide/

[2017-10-31 20:36] cdrage opened #405 "Automatically generated TOC for documentation"
Automatically generate tables of content for Kedge documentation.

[2017-11-01 03:48] pradeepto commented on #397
@kadel Does make sense to me but my first and only thought was - "will it make users think that vertical space is mandatory?"

[2017-11-01 03:57] pradeepto opened #407 "Add version field to the directive and also generate associated metadata based on version"
Here's an example:

[code]
Note: `appversion` is just an example, we can have a better name.
Note: Also, this is not kedge version but the application/service version.

This field can be used to generate some kind of annonation metadata that can be used later. e.g

- `openshift/generated-by:  kedge-init`
- `openshift/appversion: 0.4`
- `kubernetes/generated-by:  kedge-init`
- `kubernetes/appversio

[2017-11-01 09:17] kadel opened #408 "kedge init: Use structs from types.go"
Why there are the same types defined again in init.go https://github.com/kedgeproject/kedge/blob/d6c365baeed607fb0767b4890b38fdde1304d90e/cmd/init.go#L38d/init.go#L41 ?

It should reuse types from types.go. Otherwise, what is the point of using structs?

The current duplication approach is error-prone. see #396  as example.

[2017-11-01 12:43] kadel commented on #397
I don't think that.
But if that is a concern, we can remove those empty lines. For me personally, it creates nice logical blocks, but it just something that I like to do. I don't have a strong opinion about that.

I'm convinced that ordering is important, it doesn't change anything, but it is much more logical.

[2017-11-01 14:09] cdrage commented on #407
This'd work with OpenShift Service Catalogs and Helm charts, right?

For example, when creating a Helm chart, it'll populate the `version` section.

Just `version` seems good instead of `appversion` (I know you said it's temporary :+1: )

[2017-11-01 14:13] kadel opened #409 "Quickstart examples for fabric8"
the first part of  https://github.com/kedgeproject/kedge/issues/332

copy/paste from #332:

creating a fork of a quickstart - such as for .Net or go:
* https://github.com/fabric8-quickstarts/dotnet-example
* https://github.com/fabric8-quickstarts/golang-example

then adding a sample pipeline:
* .net https://github.com/fabric8io/fabric8-jenkinsfile-library/blob/master/dotnet/ReleaseStageApproveAndP

[2017-11-01 14:37] pradeepto commented on #377
Duplicate of #358

[2017-11-01 14:37] #377 closed

[2017-11-01 14:55] kadel commented on #407
yes this can be one of the places where it can be used

I think that in future will have to start versioning kedge format (probably based on kubernetes api versions). Calling it just version might be confusing and easily mistaken for kedge format version.

This field should indicate Application version (or version of given application definition). `appversion`, `applicationVersion` or something al

[2017-11-01 15:05] kadel commented on #403
closed in #410

[2017-11-01 15:52] #403 closed

[2017-11-02 09:26] containscafeine opened #412 "Kedge OpenShift artifacts failing on older server versions"
I just tried deploying to an older OpenShift cluster, but kedge failed like the following.

[code]

The route definition is causing the problem -
[code]
which I don't think is supported on the older OpenShift versions.

Need to evaluate is this is working on all the versions we are planning to support.

[2017-11-02 09:30] ashetty1 commented on #412
Yes. I got the same error too. Worked perfectly fine with oc v3.6.1

[2017-11-02 15:10] cdrage opened #413 "Elaborate / emphasize that Kedge is an "extension" of Kubernetes."
One of the **best** features of Kedge is the fact that you are able to add Kubernetes constructs easily to the Kedge file.

For example:
- The *entire* Kedge file is an extension of PodSpec.
- Most of the Kedge objects that we have are also extendable (for example, service is extended from serviceSpec).

We *need* to emphasize this in the README as well as the documentation that the Kedge-specific

[2017-11-03 07:34] kadel commented on #412
I thought that we are officially supporting only Kubernetets 1.6 and up and OpenShift 3.6 and up.

This should be stated in Readme somewhere.

If not that we have to change api group for Routes to old `v1` (this should still work in 3.6)

[code]

[2017-11-06 15:26] cdrage commented on #401
Closing after generating "slate" and pushing an updated file reference to kedgeproject.org

http://kedgeproject.org/file-reference/

[2017-11-06 15:58] #401 closed

[2017-11-06 15:59] cdrage commented on #405
Closed via: https://github.com/kedgeproject/kedge/pull/421

[2017-11-06 15:59] #405 closed

[2017-11-06 15:59] cdrage commented on #404
Cleaned up the user guide by adding a TOC and renaming the headers.

[2017-11-06 15:59] #404 closed

[2017-11-06 16:14] kadel commented on #409
Golang example work in progress : https://github.com/kadel/golang-example/tree/kedge

[2017-11-06 18:34] cdrage commented on #402
Hey @containscafeine @surajssd Mind helping me explain what's going on here? Tad-confused.

[2017-11-06 18:46] cdrage opened #426 "Add Kubernetes/OpenShift table to file-reference"
Relates to #413

Update the file-reference.md document with a table for what *else* can be defined. For example, `service` extends `ServiceSpec`. We should include the following: https://kubernetes.io/docs/api-reference/v1.8/#container-v1-core

[2017-11-06 18:48] cdrage opened #427 "Rename objects"
Within file-reference.md we have different names for different objects.

For example: http://kedgeproject.org/file-reference/#containerspec

We have containerSpec, service and then.... routeObject.

Names should be consistent.

Either:

containerSpec, serviceSpec, routeSpec

or

containerObject, serviceObject, routeObject

:+1: for Object.

[2017-11-06 18:48] cdrage commented on #427
Thoughts @kadel @pradeepto

[2017-11-06 18:48] cdrage commented on #375
What's the status on this @ashetty1 I could possible help with this.

[2017-11-06 18:49] cdrage commented on #290
@surajssd @mohammedzee1000 any progress on this? let's pick this back up

[2017-11-06 18:50] cdrage commented on #358
Going to self-assign this. Opened a PR here: https://github.com/kedgeproject/kedge/pull/424

[2017-11-07 04:21] surajssd commented on #290
@cdrage https://github.com/kedgeproject/kedge/pull/347

[2017-11-07 06:01] surajnarwade commented on #168
it seems there's some problem with JSON schema, they are reported here
https://github.com/kedgeproject/json-schema-generator/issues/15,
https://github.com/kedgeproject/json-schema-generator/issues/14

[2017-11-07 10:14] pradeepto commented on #427
Good catch. We should be consistent with our object naming. This is definitely an UX issue.

[2017-11-07 12:38] kadel commented on #427
There is a difference between `routeObject` and `routeSpec`

`routeObject` refers to Kedge struct that includes OpenShift's `routeSpec` and `objectMeta`
https://github.com/kedgeproject/kedge/blob/master/pkg/spec/types.go#L78

[2017-11-07 13:09] cdrage commented on #427
@kadel Problem is that most people won't be looking at the code-names, but rather the documentation names. Could we refer to it as a routeSpecObject instead within the documentation?

Are you good with the other parts being renamed (containerObject, serviceObject, etc..)

[2017-11-07 13:49] kadel commented on #427
We should distinguish between what is referring to our `RouteSpecMod` and what is referring upstream `RouteSpec`. We have to careful and not to interchange them. It can have whatever name but we just can't interchange them.

[2017-11-07 14:36] cdrage commented on #427
Hmm. so in the docs, let's go with routeSpecObject? @kadel

[2017-11-07 15:03] kadel commented on #427
You are talking about what will be in the sidebar in Objects section, right?

I would actually go with just 'route' and 'ingress'

[2017-11-07 15:43] cdrage commented on #358
https://github.com/kedgeproject/kedge/pull/424 merged, going to close this.

[2017-11-07 15:43] #358 closed

[2017-11-07 15:44] cdrage opened #430 "Add examples page"
Instead of pointing to `/examples` we should have an examples page within the `/docs` folder that points to the separate examples as well as explains them.

[2017-11-07 16:36] cdrage opened #432 "A better way / shortcut for labels."
I'm noticing in many examples that "labels" is copied-and-pasted into multiple areas such as `services`, `secrets`, `volumeClaims`, etc.

Is there a way that we can implement the root-level `labels` key to simply apply this label to all parts of the Kedge file?

For example:
[code]

Instead, we'd simply remove `labels` from the sections (secrets, services) and have the root-key apply-all.

[code]

[2017-11-07 16:41] cdrage opened #433 "Implement `env` shortcut"
Instead of defining `name` and `value` why not this:

[code]

Instead of:
[code]

[2017-11-07 16:44] cdrage opened #434 "Hard-code API details / what versions of Kubernetes to point to"
For example:

[code]

Will output a "deployment" file based on v1, however, previous versions (ex. 1.4 Kubernetes) will deploy as `kind: extensions/v1beta1`.

Hard-coding the file will help companies / users deploy to Kubernetes efficient by:

[code]

[2017-11-07 17:00] cdrage opened #436 "`kedge generate` should create files, rather than go to stdout"
IMO, `kedge generate` should create files in the root directory. `--stdout` command should be added (or `-o` for short) to output to STDOUT.

[2017-11-07 18:41] cdrage commented on #413
Fix in https://github.com/kedgeproject/kedge/pull/437

[2017-11-07 20:41] cdrage commented on #379
PR updated here: https://github.com/kedgeproject/kedge/pull/388

[2017-11-08 09:59] containscafeine commented on #436
I'd disagree here. I don't think we should be creating files by default. Maybe we could add an `-o` flag to specify a directory or a filename to save the files to.

[2017-11-08 10:02] containscafeine commented on #434
Duplicate of #141

[2017-11-08 10:02] #434 closed

[2017-11-08 10:06] containscafeine commented on #433
I don't think we can implement a shortcut by the name of `env`, since this comes in directly from the ContainerSpec, and we should be overwriting that key.
About the idea of `var: value`, does this add a lot of value as a shortcut wrt saving LoC, improving UX? I'm divided on this :(

[2017-11-08 10:10] containscafeine commented on #432
Root level labels come from the controller's ObjectMeta, and are only applied to the controller's artifacts, so we cannot use the key `labels` for applying to all the resources in the kedge file.

However, in the generated artifacts, kedge does apply the label `app: <app name>`, in this case `app: redis` to all the generated resources, so if someone needs to do the grouping based on that, they can

[2017-11-08 10:17] containscafeine commented on #237
All PRs merged, closing this.

[2017-11-08 10:17] #237 closed

[2017-11-08 10:52] kadel commented on #436
agree

I don't think that we should do this.
Purpose of `generate` command is for debugging and advance use cases where you want to pipe it to `kubectl` or `oc`.

Most users should use `apply`.

[2017-11-08 14:29] cdrage opened #438 "portMappings errors with `80`, success with `80:80`"
Looks to be an int / string parsing issue.

To replicate:

[code]

[code]

Work-around is to use:

[code]

[2017-11-08 19:09] cdrage commented on #340
Going to close this :+1: managed to fix the CI issues.

[2017-11-08 19:09] #340 closed

[2017-11-08 19:09] cdrage commented on #247
I don't believe this is a problem anymore. Going to close this as e2e tests have been running pretty well the past week or so.

[2017-11-08 19:09] #247 closed

[2017-11-08 19:09] cdrage commented on #104
Now that http://kedgeproject.org/file-reference/ has been created, it's quite clear that you are able to "extend" the Kedge file with Pod concepts, and thus, replicas is clearly documented. Closing this issue.

[2017-11-08 19:09] #104 closed

[2017-11-08 19:10] cdrage commented on #136
Examples have mostly been added to http://kedgeproject.org/file-reference/ although, it would be nice to have an #430 examples page.

[2017-11-09 07:11] kadel commented on #438
This is because of YAML parser kind of sucks :-(
If you specify number it forces `int` type.

If you do `- "80"` it will work.

I think that only way to avoid having to use quotes in this is defining new type something  `intOrStr` and using that in Yaml marshaller. I think that Kubernetes is already doing that for `targetPort` in Services. It might be worth to check how it is done.

[2017-11-13 09:14] containscafeine opened #440 "TestConflictingFields() in pkg/spec/types_test.go is broken"
`func TestConflictingFields(t *testing.T)` in [`pkg/spec/types_test.go`](https://github.com/kedgeproject/kedge/blob/master/pkg/spec/types_test.go) is broken since we are not testing all the structs in `types.go` for conflicting fields.

We should make this test pick up any new struct that is added to `types.go` for checking for conflicting fields to maintain integrity of our spec.

[2017-11-13 13:27] surajssd commented on #397
@kadel so we are [marshalling](https://github.com/kedgeproject/kedge/blob/16d1c7f2e716f1582fc281ad23f104408ba456c9/cmd/init.go#L86) this [struct `App`](https://github.com/kedgeproject/kedge/blob/16d1c7f2e716f1582fc281ad23f104408ba456c9/cmd/init.go#L42) so we don't control order of the fields marshalling, the library takes care of doing that. Inside struct I have defined the fields in the [order yo

[2017-11-13 15:47] kadel commented on #309
First version of this should allow to set image name and builder image

```kedge build --context directory --image output-image --builder-image builderImage:tag```

this command should generate something similar to this:

[code]

and than run
```oc start-build output-image --follow --from-dir directory```

[2017-11-13 16:02] kadel commented on #397
But the important is how it looks like in the output file.

The way we have implemented this is maybe making it a bit easier for us, but it definitely makes it harder for new users and first-time kedge users. I don't think that this is a good tradeoff @pradeepto

[2017-11-14 05:53] surajssd commented on #397
@kadel then we can move back to golang templates, if you suggest so!

[2017-11-14 06:20] surajssd commented on #402
In README the placement of the routespec is wrong WRT kedge file httpd.yaml, I think we should explain definition of route in kedge considering `httpd.yaml` as the reference in README.

[2017-11-14 06:38] surajssd commented on #309
It is hard for a developer to know the builder image, so not sure about the flag where user provides the builder image.

What do you mean by git autodetection? I think what is done right now in the code is similar to what openshift/oc does.

We can even be alias to the `oc new-build ...` and `oc start-build ...`, we don't even need to create the configs. For the repo: https://github.com/surajssd/l

[2017-11-14 09:38] surajssd opened #446 "Upgrade vendor to openshift v3.6.1"
We have the vendor update script, I think peroidic upgrades will help us validate the script works. One more thing I saw that kompose is facing right now is that since kompose vendor has not been updated for long they are having hard time moving to newer Openshift.

[2017-11-14 09:43] #413 closed

[2017-11-14 10:02] surajnarwade commented on #183
I will take this up

[2017-11-14 11:39] kadel commented on #409
While working on this I found a couple of OSIO issues:
 - https://github.com/openshiftio/openshift.io/issues/1300
 - https://github.com/openshiftio/openshift.io/issues/1315

And fabric8-pipeline-library issue:
  - https://github.com/fabric8io/fabric8-pipeline-library/pull/360

[2017-11-14 11:40] kadel commented on #183
We don't need to worry about this right now its is low priority

[2017-11-14 12:19] cdrage commented on #402
@surajssd Mind doing a PR or going into more detail? Still confused.. which example is wrong?

[2017-11-15 08:20] piyush1594 commented on #407
Just a suggestion to keep it appversion, as 'key' we are using for name is 'app' in labels. (Maybe I am wrong). Please let me know the final key name we should keep.

And we want to add the key-value pair in labels or annotations?

[2017-11-15 09:15] kameshsampath opened #451 "Adding support for istioctl"
it will be nice if kedge is extended to support istioctl `kubeinject` to enable deployment of istioctl sidecar enabled deployment/configs

[2017-11-15 11:14] surajssd commented on #451
@kameshsampath can you give some pointers where should I look at and what are you suggesting?

[2017-11-15 11:56] kameshsampath commented on #451
@surajssd check it out here https://github.com/istio/istio/tree/master/pilot/cmd

[2017-11-15 13:19] containscafeine opened #453 "Documentation mentions "Name" field instead of ObjectMeta"
![screenshot from 2017-11-15 18-47-05](https://user-images.githubusercontent.com/9133660/32837966-7f94a3fa-ca35-11e7-815a-9d315c43102b.png)

This is screenshot from [here](https://github.com/kedgeproject/kedge/blob/master/docs/file-reference.md#routeobject)

We have mentioned _Name_ as an additional Kedge field. We should be instead mentioning that _Name_ comes from _ObjectMeta_ which is merged wi

[2017-11-16 12:57] kadel commented on #337
fixed in https://github.com/kedgeproject/kedge/pull/284

[2017-11-16 12:57] #337 closed

[2017-11-16 16:30] kadel commented on #409
After some troubles and with workarounds I have first working Pipeline for golang example (without Kedge) - https://github.com/kadel/golang-example

[2017-11-16 18:08] cdrage commented on #453
@containscafeine Mind opening a PR for this? :sweat_smile:

[2017-11-16 19:27] cdrage commented on #430
Closing this as we already have pointers to the "examples" directory within the kedge site as well as GitHub.

[2017-11-16 19:27] #430 closed

[2017-11-16 19:28] cdrage commented on #427
PR here: https://github.com/kedgeproject/kedge/pull/429

[2017-11-16 19:35] cdrage opened #457 "Update documentation regarding separate controller constructs with PodSpec, ControllerSpec, etc."
So...

Within our documentation we've said that the "Kedge" file "extends" PodSpec.

Yet for example:

[code]

We use "Parallelism" which is considered part of the JobSpec, not PodSpec.

Should we indicate in the documentation that depending on what controller is defined, it changes what you can define in the Kedge file?

Instead of saying that the Kedge file is simply an extension of PodSpec..

[2017-11-16 19:35] cdrage commented on #457
ping @pradeepto @kadel

[2017-11-16 19:54] cdrage commented on #426
Hey @kadel @pradeepto what's your opinion on including the tables?

I was trying to find a way to auto-generate this, but it's a bit difficult to parse all the information through the doc website. Perhaps a simple Go script though (go through each key/value?).

Should we still include the tables or just a simple link to the documentation on the Kubernetes site?

[2017-11-16 19:55] cdrage commented on #270
Hey @ashetty1 @containscafeine What's the status on this? I could help if-need-be!

[2017-11-17 07:51] ashetty1 commented on #270
@cdrage PR here waiting to be merged: https://github.com/kedgeproject/kedge/pull/297

[2017-11-17 08:51] surajssd commented on #457
https://github.com/kedgeproject/kedge/blob/c64b0fd7a69edc4db5ef9aab0c52c97a0c9cf10e/pkg/spec/types.go#L188-L192

so above you can see that we have DeploymentSpec, but PodSpec is already coming from `ControllerFields`, see below:

https://github.com/kedgeproject/kedge/blob/c64b0fd7a69edc4db5ef9aab0c52c97a0c9cf10e/pkg/spec/types.go#L171-L179

Similarly we have done for all controllers, so is Job con

[2017-11-17 08:54] surajssd commented on #426
@cdrage this is the hard problem, we need someone from docs team to help on this particular problem.

[2017-11-17 09:11] pranavgore09 opened #458 "is it possible to use oc instead of kubectl while doing `kedge create/apply` ?"
I am running `kedge apply -f filename` and facing following error.
```failed to execute command: failed to execute command: exec: "kubectl": executable file not found in $PATH```

yes, I do not have `kubectl` installed, but is it possible to use `oc` here?

[2017-11-17 09:29] containscafeine commented on #458
If the end user does not want to install `kubectl` binary and wants to use `kedge create/apply/delete` commands using `oc`, one hack is to alias `kubectl` to `oc`, and it should work.

Later on, when we'll be moving to `client-go` for Kubernetes and OpenShift, then these binaries won't be required.

However, this is somewhere the end user experience breaks and flags like `--provider kubernetes/ope

[2017-11-17 09:32] containscafeine opened #459 "Using ImageStreams with Kubernetes resources"
TIL that [ImageStreams can be used with Kubernetes resources as well](https://docs.openshift.org/latest/dev_guide/managing_images.html#using-is-with-k8s)

Kedge can set the `alpha.image.policy.openshift.io/resolve-names` annotation to Kubernetes controllers if an ImageStream is specified in the file, to support this feature.

[2017-11-17 09:35] containscafeine commented on #457
@surajssd explained pretty well.

Essentially, Kedge spec == ControllerFields (contains PodSpec) + ControllerSpec (job controller contains parallelism field).

[2017-11-17 09:44] surajssd commented on #458
I think we should fallback to `oc` if `kubectl` not found in path, if nothing found then error out!

[2017-11-17 09:45] surajssd commented on #458
Also `oc` can create all objects that kubernetes supports.

I was doubtful of ingress but tried that and it worked:

[code]

[2017-11-17 10:39] containscafeine opened #460 "[shortcut] add imageStream shortcut to pod.spec.containers"
If something like this -
[code]

could generate something like this -
[code]

It would be pretty :cool:!

[2017-11-17 11:56] cdrage commented on #457
@containscafeine Thanks :) Yeah, that's what I thought. So essentially it's a combination of both PodSpec + ControllerSpec in the "root" of the Kedge file. For example, ContainerSpec is within `containers` key, ConfigMapSpec within `configmaps` key, etc.

[2017-11-17 11:57] cdrage commented on #457
Let's keep this issue open so we can track regarding adding extra documentation to clarify all of this :+1:

[2017-11-17 12:13] cdrage commented on #460
neat :100:

What about:

[code]

?

Would it make more sense to make it an array?

[2017-11-17 12:43] #290 closed

[2017-11-17 13:03] containscafeine commented on #402
@cdrage do we need to keep https://github.com/kedgeproject/kedge/blob/master/docs/examples/routes/README.md and https://github.com/kedgeproject/kedge/blob/master/docs/examples/routes/httpd.yml in sync.

Both the definitions are correct, README.md just shows an example which uses more fields from the RouteSpec while the httpd.yml example uses just a couple of fields from RouteSpec.

When we use -
[

[2017-11-20 04:12] surajssd opened #462 "Automatic vendor update"
It would be really cool, if we do the vendor update automatically whenever a new version of Openshift is released. So we don't need to think of this thing and we interfere the process if the test fails or kedge could not build because of some import changes.

[2017-11-20 04:16] surajssd commented on #460
https://github.com/kedgeproject/kedge/pull/445 is blocker for this issue to go forward!

[2017-11-20 04:47] surajssd commented on #312
@containscafeine are you working on this? Or who else is working on this one?

[2017-11-20 04:48] surajssd commented on #270
Fixed via https://github.com/kedgeproject/kedge/pull/297

[2017-11-20 04:48] #270 closed

[2017-11-20 08:12] kadel commented on #458
Agree this might be the best way how to do that right now.

[2017-11-20 08:13] kadel commented on #458
@pranavgore09
Are you creating any OpenShift objects, like  DeploymentConfig? Or just Deployment?

[2017-11-20 08:52] kadel commented on #446
Closed in #448

[2017-11-20 08:52] #446 closed

[2017-11-20 12:45] kadel commented on #458
**TASK**:
Kedge should fallback to `oc` if `kubectl` is not found in path. If `oc` is not found either then error out!

[2017-11-20 13:39] cdrage opened #468 "Add BuildConfig integration tests"
So we don't forget, add some BuildConfig integration tests after #467 #466 has been merged.

@containscafeine

[2017-11-20 17:26] cdrage commented on #407
IMO appversion should be without quotes `appversion: 0.3` but eventually we will updates `types.go` so we can allow both int and string input similar to #438

[2017-11-21 06:03] surajnarwade opened #469 "How to test documentation PR locally ?"
It's very difficult to try documentation changes and preview locally, any additional documenation will help.

[2017-11-21 08:10] surajssd opened #470 "OpenShift config creation fails: no matches for apps.openshift.io"
**Problem:**

Kedge fails on creating OpenShift artifacts with error: `error: unable to recognize "STDIN": no matches for apps.openshift.io/, Kind=DeploymentConfig`

**Steps to reproduce:**

Using this kedge file:

[code]

Now feeding it to openshift cluster:

[code]

**Other info:**

Kedge version:

[code]

---

**Possible solution**:

I think we can solve this or atleast try it out, we hardcode

[2017-11-21 08:55] surajssd opened #471 "Shortcut to create a route, like endpoint is for ingress"
Right now in a service if you specify a field called [`endpoint`](https://github.com/kedgeproject/kedge/tree/001f0911e87d6d6d991abf5fc70b839cdef5f9aa/docs/examples/endpoint) then an ingress is created automatically for you, similarly we need some sort of shortcut from service to OpenShift routes.

[2017-11-21 08:59] surajssd opened #472 "Separating the Kubernetes vs OpenShift configs"
For a user who is only dealing with Kubernetes and has no clue of OpenShift, how do we facilitate that she does not mix the OpenShift artifacts in between? Right now there is no way to know which config is meant for which cluster. We will only find that out when we are trying to deploy the configs using `oc` and oc binary is not available.

[2017-11-21 09:32] containscafeine commented on #472
Currently, everything is structured in a provider agnostic manner, the same config can take both Kubernetes and OpenShift specific definitions.
Do you see a problem with the current approach where we don't take the provider into account? If the end user is writing OpenShift definitions using Kedge, then we expect them to have the `oc` binary anyway.

[2017-11-21 09:34] containscafeine commented on #471
I think we should extend the `endpoint` shortcut itself.
One possible solution could be - when `endpoint: true` is set for a service, we create a route.
But yes, we will never know what to generate in case of `endpoint: example.com`, a route or an ingress.
I don't think we should have another shortcut field for generating routes.

This is somewhere a flag like `--provider openshift` will really he

[2017-11-21 09:37] containscafeine commented on #470
@surajssd what's the `oc version`?

[2017-11-21 09:39] containscafeine commented on #469
Do you mean how to test markdown changes locally? There are plugins for IDEs which can help with that.

[2017-11-21 10:03] surajssd commented on #471
As `endpoint` is implemented right now we cannot assign boolean values to endpoint, we will have to implement a type of our own to make endpoint work as string and boolean or put in double qoutes as a workaround.

About overloading the `endpoint` to do routes, kedge has no way right now to know what are we generating configs for? Yeah if we had provider we could have known what we are doing.

[2017-11-21 10:11] containscafeine commented on #471
For this use case, I really want kedge to be provider aware and take a decision instead of adding another shortcut for similar behavior.

[2017-11-21 10:34] kadel commented on #472
If the users is dealing with only Kubernetes and doesn't have a clue about OpenShift that he will use just Kubernetes types in his Kedgefile. I don't see any problem there.

[2017-11-21 10:35] kadel commented on #470
You are using OpenShift 3.5. But kedge is creating artifacts for 3.6 and up

[2017-11-21 14:08] hrishin opened #473 "[Improvement] Kedge should block until application pods comes up"
Current Experience:
'kedge create ---' deploys the application on Kubernetes/OpenShift. But to check whether deployment is happening or not, the developer needs to check it through to Kubernetes/OpenShift (either login to console or query through CLI).
It always may not be the case that application deployment will get successful as well.

Would it be nice if kedge can wait till actually applicatio

[2017-11-21 15:11] cdrage commented on #312
@containscafeine @surajssd I've already pushed a PR here: https://github.com/kedgeproject/kedge/pull/435 which is waiting for port mappings to go in: https://github.com/kedgeproject/kedge/pull/455

[2017-11-21 16:15] pradeepto commented on #271
@containscafeine

expand endpoint field to separate ingress resource

You mean the opposite, right? Because, we should be able to do that now with Kedge schema and once the LSP is done because `health` is a Kedge concept while `liveness` & `readiness` are Kubernetes concepts. Same question for the next bit. Or did I misunderstand your point?

[2017-11-21 16:35] cdrage opened #477 "Make "shortcuts" clear to the user within file reference."
Shortcuts are powerful in Kedge and we need to make them clear.

For example, http://kedgeproject.org/file-reference/#service for `endpoint`, let's add a notice / larger header that goes into detail that this will auto-generate an ingress.

Another thing as well is to perhaps add these "shortcuts" to the main example here: http://kedgeproject.org/file-reference/#kedge-keys

[2017-11-21 16:35] cdrage opened #478 "Shortcut for ConfigMaps and ImageStreams"
Similar to #471 we should figure out a way to do this with ImageStreams as well as ConfigMaps.

Similar to how we currently do this with `endpoint`.

[2017-11-21 16:38] #402 closed

[2017-11-21 16:40] cdrage commented on #469
You can just push the docs to your branch and view it on GitHub.. for example:

https://github.com/cdrage/kedge/blob/documentation-updates/docs/file-reference.md

[2017-11-21 22:30] cdrage opened #479 "No documentation on apply / should start using "apply" as a default program."
As I'm working my way through the "Kubernetes: Up and Running" book, I see that most, if not, all the default commands use `kubectl apply` instead of `kubectl create`.

Going through the kubernetes.io documentation, you can see that most tutorials also use the apply command: https://kubernetes.io/docs/tasks/run-application/run-stateless-application-deployment/ + https://kubernetes.io/docs/tasks/

[2017-11-22 09:10] containscafeine commented on #385
This has been merged in #445 and #466 and #467

[2017-11-22 09:10] #385 closed

[2017-11-22 09:20] #427 closed

[2017-11-22 09:41] pradeepto opened #480 "Blog about Kedge"
- Write a use case story on how Kedge is used by developer who is developing microservice running on Kubernetes
- How does the developer start the project?
- How does the developer maintain the microservice, how does the developer maintain the kedge files?

We need a common medium account for Kedge.

Please feel free to add more ideas.

[2017-11-22 09:42] kadel commented on #480
Important is answer the question why should developer use Kedge

[2017-11-22 09:48] kadel commented on #479
Agreed 100%, `apply` should be a default command

[2017-11-22 10:15] kadel commented on #478
What we can do for ImageStreams is that we can automatically create IS for BuildConfigs.
If BuildConfig's output IS  doesn't exist Kedge will create it automatically.

If BC is defined like this:
[code]

The following IS should be automatically created:

[code]

One issue that I can see with this is that we can't know if IS already exists in the cluster or not :-(

[2017-11-22 10:15] kadel commented on #478
@cdrage What do you propose for ConfigMaps?

[2017-11-22 10:29] containscafeine commented on #460
@cdrage I think we should remain consistent with how `image` is defined. So, similar to -
[code]
we can have -
[code]
 WDYT?

[2017-11-22 10:29] containscafeine commented on #460
@kadel @surajssd WDYT about this issue?

[2017-11-22 10:31] kadel commented on #317
@cdrage  can we close this. #445 was merged

[2017-11-22 12:33] kadel commented on #469
@surajnarwade is probably asking how to generate file-reference webpage locally, right?

It is using https://github.com/lord/slate
You can check [./scripts/sync-doc.sh](https://github.com/kedgeproject/kedge/blob/feb9899909ece478ae6d0c82966a5fd46f3d2784/scripts/sync-docs.sh#L96) to se how its generated for kedgeproject.org webpage

[2017-11-22 12:34] kadel commented on #460
The most important part is what will be generated by `imageStream` shortcut.
We need to clearly define that

[2017-11-22 12:47] surajssd commented on #478
I think we should limit this issue to discuss only shortcut for buildconfig because there is another issue for imagestream https://github.com/kedgeproject/kedge/issues/460

[2017-11-22 12:49] surajssd commented on #478
Oh I misread the configmap to buildconfig, sorry my bad, yeah now I am confused about the how configmaps and imagestreams fit ?

[2017-11-22 13:41] kadel commented on #478
we can move all IS shortcut discuss to #460 and leave this issue only for ConfigMaps ;-)

[2017-11-22 14:07] #438 closed

[2017-11-22 14:42] cdrage commented on #469
@surajnarwade Right now we generate slate using a docker image. Generating the static build:

docker run --rm -v $PWD:/usr/src/app/source -w /usr/src/app/source cdrage/slate bundle exec middleman build --clean

If you run the above command and then: `jekyll serve .` in the same directory, you should be able to view the docs at `localhost:4000`

I should add a command within the Makefile for this..

[2017-11-22 16:26] cdrage commented on #317
Yup. Thanks!

[2017-11-22 16:26] #317 closed

[2017-11-22 17:28] #436 closed

[2017-11-22 17:28] cdrage commented on #136
I think we can close this now. Anyone else agree @kadel @pradeepto ?

[2017-11-22 17:31] cdrage commented on #312
Assigning this to myself, PR is now unblocked and ready for review at #435

[2017-11-23 08:39] kadel opened #483 "FIX Examples"
email from Burr:

3 for 3 fails with my first attempt.  Here are my notes:

likely dumb user error :-)  Also, I am trying to use minishift, perhaps it just does not work for minishift.

Try Kedge on Minishift v1.9.0+a511b25

started minishift with
MINISHIFT_ENABLE_EXPERIMENT=y minishift start --profile minishift-1.9.0 --metrics --cpus 3 --memory 8192 --vm-driver virtualbox --openshift-version v3.7

[2017-11-23 08:56] surajssd commented on #483
The way I see at this problem exists because we have tried those examples on minikube or minishift with addons like `anyuid` and `admin` user enabled. Now how do we solve this problem as kedge devs?

- Should we go and fix the images (which is lot of work, which also involves maintaining those images). But this will make our examples run anywhere no matter what, without user having to do any extra

[2017-11-23 09:01] kadel commented on #483
Ideally, we should make sure that all our examples use images that don't require root

[2017-11-23 09:07] surajnarwade commented on #483
As of Now, I think updating README with respective example is enough I guess

[2017-11-23 10:01] kadel commented on #483
simple, newer use anyuid on openshift ;-)

[2017-11-23 10:03] kadel commented on #483
I've fixed guestbook-demo example - https://github.com/kedgeproject/kedge/pull/484

[2017-11-23 10:07] kadel opened #485 "Refactor how we handle global labels and annotations"
Currently, we have one label and one annotation that we add to each generated artifact.
The way we do it is not nice. It is done separately for each object :-( This can lead to a lot of errors when we add new object/controllers

We should refactor our code so operations like adding a label to each object can be done in one place.

see discussion in #454 for more

[2017-11-23 11:38] ashetty1 commented on #483
Also, this issue is somewhat related to #376 ?

[2017-11-23 11:59] cdrage commented on #483
Yup, let's get #376 up and running so we don't run into this issue in the future :+1:

[2017-11-24 06:52] #479 closed

[2017-11-27 10:00] containscafeine opened #488 "We don't delete temporary build tarballs"
I have huge residual tarball files in my `/tmp` from my previous `kedge build` runs. I think we should clean these before exiting -

[code]

[2017-11-27 10:05] surajnarwade opened #489 "Is it possible to simplify `routes` defination"
Can we simplify `route` defination,

Currently it looks like,

[code]
Instead of that, something like this,

[code]
Or maybe, simpler than this ?

[2017-11-27 10:11] containscafeine opened #490 "kedge build returns - unable to create a tarball: archive/tar: write too long"
My current directly size is -
[code]

And I have simple Dockerfile in the current directory -
[code]

Upon running `kedge build -i imagename` I expect a simple image to be built, instead I get the following error -
[code]

This error does not occur when the current directory size is small.
I don't think so building an image should be dependent on the size of the current directory.

[2017-11-27 11:00] kadel commented on #489
It should be possible to do the same shortcut for Kubernetes

[2017-11-27 11:27] kadel opened #491 "Specifying default value for Kedge variable"
Allow specifying a default value for a variable if it is not set.

example kedge file:
[code]

If `TAG` variable is not set, it `latest` will be used.

The rule for detecting default value should be: use everything between `:` and `]]` and trim whitespaces from both ends.

[2017-11-27 14:55] kadel commented on #409
Started working on .NET example
https://github.com/kadel/dotnet-example

[2017-11-27 15:50] cdrage commented on #489
@surajnarwade Good suggestion, I agree it's a bit messy ATM.

[2017-11-27 18:14] cdrage commented on #457
PR #492

[2017-11-27 18:15] cdrage commented on #312
PR merged. Closing.

[2017-11-27 18:15] #312 closed

[2017-11-27 18:20] cdrage commented on #426
IMO, including the links to Kubernetes seems like the safest option so-far without the file-reference page getting massively big. But then again, I've only done docs for a short-amount-of-time. We could wait for a professional opinion on getting tables from https://kubernetes.io/docs/api-reference/v1.8/#container-v1-core to kedgeproject.org/file-reference/

[2017-11-27 18:50] kadel commented on #471
My suggestions would be to rename `endpoint` to something else, that makes it clear that it is creating Ingress and create a new shortcut for Route.

I don't think that it will be wise to create a different object with one shortcut based on the cluster type.
Ingres and Route might be similar but they have different capabilities and structures.

I believe that what type of the object will be genera

[2017-11-27 19:34] cdrage commented on #376
So first test right now seems to fail (I believe because we cannot create multiple namespaces using `kubectl` with the OpenShift cluster...)

[code]

[2017-11-27 19:35] cdrage commented on #41
@pradeepto @kadel Can we close this since #224 has been merged?

[2017-11-27 19:40] cdrage commented on #65
Comprehensive user guide as well as an elaborate file reference guide has been added, going to go-ahead and close this :+1:

[2017-11-27 19:40] #65 closed

[2017-11-27 19:40] cdrage commented on #47
Just closed https://github.com/kedgeproject/kedge/issues/65 so two-more to go (https://github.com/kedgeproject/kedge/issues/62 and https://github.com/kedgeproject/kedge/issues/58)

[2017-11-27 19:41] cdrage commented on #210
Routes have been added now: https://github.com/kedgeproject/kedge/issues/238

Can we close @surajssd ?

[2017-11-27 19:46] cdrage commented on #201
This would be a good idea in order not have to include additional resources in the same folder (for example, being able to reference and deploy an already-stable cassandra cluster from https://github.com/kubernetes/examples/tree/master/cassandra since we don't yet support statefulSet...), and continue from there.

I believe @containscafeine implemented something similar in OpenCompose regarding do

[2017-11-28 05:41] surajnarwade commented on #201
@cdrage I have also sent same PR previously https://github.com/kedgeproject/kedge/pull/199

[2017-11-28 06:51] kadel commented on #457
#492 was merged, can we close this?

[2017-11-28 06:55] surajnarwade opened #495 "Command line test (similar to kompose)"
we should have command line tests like kompose, https://github.com/kubernetes/kompose/tree/master/script/test in kedge.

[2017-11-28 07:05] surajnarwade commented on #488
I would like to do this issue

[2017-11-28 08:27] kadel commented on #41
#224 will solve this.

https://github.com/kedgeproject/kedge/issues/491 will improve this further

I think that we can close this, as main problem is solved.

[2017-11-28 08:29] kadel commented on #191
yes, closing

[2017-11-28 08:29] #191 closed

[2017-11-28 08:35] kadel commented on #201
First, let's think about all possible combinations that can happen.

- main kedge file is loaded from http, `extraResources` also loaded from http
- main kedge file loaded from http, `extraResources` are specified as relative path
- main kedge file loaded from http, `extraResources` are specified as absolute path
- main kedge file from local file, `extraResources` also loaded from http
- main kedg

[2017-11-28 10:15] containscafeine commented on #471
I like `ingressHost` and `routeHost`

[2017-11-28 11:23] kadel commented on #490
This issue is not caused by size of the directory but because there are symlinks in it!

[2017-11-28 11:26] kadel commented on #168
any progress on this?

[2017-11-28 11:50] surajssd commented on #489
so this issue or RFE suggests a path that goes from

[code]

the other issue https://github.com/kedgeproject/kedge/issues/471 about creating shortcut takes a reverse path

[code]

[2017-11-28 11:50] surajssd commented on #489
What are we planning to implement?

[2017-11-28 12:16] kadel commented on #489
Nothing is preventing us from having both.

We should look no how most of the ingresses/routes are defined.

#471 is nice and easy, but it doesn't allow you to specify any additional properties for ingres/route

[2017-11-28 12:24] kadel opened #499 "add label `app.kubernetes.io/name`"
There is the [App Resource Grouping Proposal](https://docs.google.com/document/d/19t31XPqnWhjlrVim1Y9cAQzULArtCvQb8FqspHnnwHA/edit)

That says that label `app.kubernetes.io/name` should be used to for all k8s objects (components) that make up an application.

We should add this label.

Every object will have `app` and `app.kubernetes.io/name` label with application name as a value.

---
We still n

[2017-11-28 12:33] surajssd commented on #201
Guys first of all it is `includeResources` and not `extraResources`. We moved on from `extraResources` long time back.

Read at: https://github.com/kedgeproject/kedge/tree/master/docs/examples/includeResources

That being said, I agree with @kadel that we should support heterogenous methods of input. Right now you can already give input of relative path and absolute path.

For adding support of th

[2017-11-28 12:39] #210 closed

[2017-11-28 12:40] surajssd commented on #495
This is duplicate of https://github.com/kedgeproject/kedge/issues/58

[2017-11-28 12:44] surajssd commented on #376
@cdrage login to the cluster as `system:admin`, a normal user cannot create multiple ns in openshift by default.

[2017-11-28 13:08] surajnarwade commented on #168
@kadel , here is the PR https://github.com/kedgeproject/kedge/pull/481, I am trying to keep this validation as a optional part, something like

[code]
Because, our JSON schema is not stable yet

[2017-11-28 13:18] kadel commented on #201
what about following two cases?
- main kedge file loaded from http, includeResources are specified as relative path
- main kedge file loaded from http, includeResources are specified as absolute path

[2017-11-28 13:20] kadel commented on #58
This needs to be broken down to smaller tasks

[2017-11-28 13:20] kadel commented on #495
closing as duplicate

[2017-11-28 13:20] #495 closed

[2017-11-28 13:21] kadel commented on #376
don't do that ;-) it is like running commands as root.

Normal user can create multiple namespaces/project, using `oc new-project`

[2017-11-28 13:24] kadel commented on #168
We should validate it automatically by default, and have flag for disabling it if needed.

We need to work on stabilizing it.
What can we do stabilize it?
Is there another way to detect extra fields other than jsonSchema?

[2017-11-28 13:42] surajssd commented on #201
@kadel we convert relative path to absolute path so there is no distinction of local files to kubectl binary.

[2017-11-28 13:43] cdrage commented on #376
@surajssd @kadel

Already tried using `oc login`, doesn't do anything / still can't create namespaces.

[2017-11-28 14:08] kadel commented on #201
how? to what root they will be relative if main kedge file is loaded from http?

How we are doing it right now with `includeResources`? files in `includeResources` are relative to `kedge` binary or to main kedge yaml file?

[2017-11-28 14:17] surajssd commented on #376
@kadel the test suite uses client-go so it creates namespaces and there is no going away from it, because all things happen after that and are heavily dependent on namespace.

[2017-11-28 14:20] surajssd commented on #201
@kadel it is relative to the kedge file

https://github.com/kedgeproject/kedge/blob/8325e5e2507c9faf4bd1e97a2f324a2da402034b/pkg/cmd/commands.go#L103-L104

[2017-11-28 14:21] surajssd commented on #201
I am not sure about this one!

[2017-11-28 14:21] kadel commented on #376
@surajssd
hmm :-( than the only option might be to switch to `system:admin` as you said.

But please make sure that you switch back to regular user after namespace is created.
I think that some permission setting will be also required for newly created namespace.

Please don't run tests as `system:admin`

[2017-11-28 14:24] kadel commented on #201
then this might work. If we say that relative paths in `includeResources` are relative to Kedge file that we can convert  relative path in `includeResources` to absolute even if Kedge is loaded from http

[2017-11-28 15:20] cdrage commented on #376
After some discussion we are going to split-up the tests to run in two separate instances.

- 1: Using minikube
- 2: Using minishift or `oc cluster up`

Both using the same set of examples (with the exception of OpenShift-specific ones using DeploymentConfig).

[2017-11-28 15:21] #41 closed

[2017-11-28 15:27] cdrage commented on #457
Yup :+1:

[2017-11-28 15:27] #457 closed

[2017-11-28 19:16] cdrage commented on #426
Ping @surajssd @kadel what's your opinion? Should we put this in the unfinished milestones as well (until we get a professional opinion)

[2017-11-28 20:46] cdrage opened #501 "Gaps in documentation (add getting started guide, update user guide and examples)"
Some gaps within the documentation at the moment.

 - [x] Need a Getting Started guide in order to facilitate different development scenarios (against bare-metal, minikube, minishift, etc.)
 - [x] Update the User Guide with more information / elaborate on all commands
 - [x] Highlight examples / make examples more prominent within Kedge.

[2017-11-29 15:51] kadel opened #502 "Fix portMappings documentation"
Current documentation of `portMappings` in file reference is really bad.

I don't say what it does and what different parts of the value mean.

We should take some parts from https://github.com/kedgeproject/kedge/tree/master/docs/examples/portMappings and add it to http://kedgeproject.org/file-reference/#serviceobject

[2017-11-29 16:07] cdrage commented on #502
Bit confused, it does? http://kedgeproject.org/file-reference/#serviceobject

Scroll down below to portMappings and it's the exact same as https://github.com/kedgeproject/kedge/tree/master/docs/examples/portMappings

[2017-11-29 16:33] cdrage commented on #480
For clarification, should we have this on the main website? Github / PR push-a-able. Or is this more of a generic / overview goal in terms of maintainers / group members posting on Medium, etc. @pradeepto

[2017-11-30 08:16] kadel commented on #480
I think that separate blog on medium will give us a slightly bigger exposure than standalone blog on kedge site. Maybe I'm wrong, but I was convinced that medium platform could attract a bit more visitors

[2017-11-30 08:30] surajnarwade commented on #469
@kadel @cdrage cool, thanks :)

[2017-11-30 11:53] kadel commented on #469
can we close this?

[2017-11-30 12:41] surajnarwade commented on #469
@kadel sure

[2017-11-30 12:41] #469 closed

[2017-11-30 13:11] cdrage commented on #480
@kadel agreed :+1:

[2017-12-01 06:25] kadel commented on #499
Looks like there is a new proposal https://docs.google.com/document/d/1EVy0wRJRm5nogkHl38fNKbFrhERmSL_CLNE4cxcsc_M/edit that is suggesting `app.name` and `app.version`. Let's wait and see where this goes.

[2017-12-01 12:04] kadel opened #504 "Research openshift/client-go"
Do Spike on how complicated it will be to start using https://github.com/openshift/client-go instead of relying on `kubectl` and `oc` binary

[2017-12-01 12:20] kadel commented on #407
@cdrage
I disagree with this, to be honest. `portMapping` is a different story because that can be a real integer.
But his has to be always a string. If we do this for `appversion` than we should do that for every string field to be consident and that is not feasible.

[2017-12-04 06:25] surajssd commented on #397
To maintain the sequence what we can do is that we define multiple structs:

[code]

Now we define objects of each and define value as needed, now marshal each struct object into yaml and now keep those marshalled bytes, keep marshalling each struct object and appending up bytes, as we need keep adding empty lines or instructions in bytes.

So basically carefully craft the file. This might seem ov

[2017-12-04 14:01] #488 closed

[2017-12-04 19:06] cdrage commented on #501
PR for getting started guide added here #508

[2017-12-04 20:03] snoby opened #510 "Feature-Request: Pass namespace through"
I know that this has been discussed before.  However Would there be any harm in passing passing a defined metadata namespace object through to the output?  If the incoming "kedge" yaml file has a metadata object with a subobject named "namespace"  can that key value pair pair get sent through to the output yaml?

Thanks for your consideration.

[2017-12-04 20:42] cdrage opened #511 "Our guestbook example isn't the same as the official example"
So https://github.com/kedgeproject/kedge/tree/master/examples/guestbook-demo has a description that links to https://kubernetes.io/docs/tutorials/stateless-application/guestbook/

However, both examples differentiate drastically, one uses mariadb, the other one uses redis, as well as custom containers for both examples.

We should either remove the link or make the examples similar in nature :+1:

[2017-12-04 20:53] cdrage commented on #501
@kadel Creating something similar to https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands for examples + kedge CLI reference, what do you think?

We will essentially have two slate sections (similar to how they do it within http://kubernetes.io).

My thinking is that by creating a separate one for `kedge` CLI (converting http://kedgeproject.org/user-guide/ to slate) we can also

[2017-12-05 03:34] pradeepto commented on #501
LGTM

[2017-12-05 09:44] surajssd commented on #510
[code]

I am using above kedge file, I would expect both the configs to be created for namespace `apache`, but only deployment is created for that namespace while service is namespace less.

[code]

I know I can define namespace in each and every object, but it is very unintuitive. What I would like to propose here is that we create a shortcut for the namespace at root level, so if root level name

[2017-12-05 13:38] surajnarwade commented on #470
Works for me,

[code]

and oc version is,

[code]

[2017-12-05 13:45] surajnarwade commented on #511
@cdrage , I think we should make examples similar in nature so that any new comer will not feel any difference (as he will be familiar with official kubernetes guestbook example)

[2017-12-05 14:08] cdrage commented on #511
@surajnarwade Exactly, hence why our example should follow the same as the official one (using redis, etc.) similar to what you did with Gitlab :+1:

[2017-12-05 14:21] cdrage commented on #510
@surajssd Yeah.. this needs to be addressed. If we define a namespace, it should create the service, etc associated with that file (in your example, the `kedge.yml` file) for everything.

[2017-12-05 15:12] surajnarwade commented on #511
@cdrage I would like to work on this :)

[2017-12-06 12:18] surajnarwade commented on #407
since PR is merged, we can close this issue ?

[2017-12-06 15:16] cdrage commented on #407
I believe so :+1:

[2017-12-06 15:16] #407 closed

[2017-12-07 06:27] containscafeine opened #520 "guestbook example is broken"
[code]

[2017-12-07 13:17] cdrage commented on #520
Ummm. Confused what example you're using.

It says: `kedge create -f examples/guestbook/db.yaml`

Yet our folder-name is `guestbook-demo` ?

https://github.com/kedgeproject/kedge/tree/master/examples/guestbook-demo

[2017-12-07 13:22] cdrage commented on #520
Nvm, I am getting the same error too:

[code]

[2017-12-07 13:30] cdrage commented on #520
@containscafeine

The old-example works (using the bitnami container). We'll have to trouble-shoot this and fix up the current container we use.

[code]

[2017-12-08 10:17] #343 closed

[2017-12-08 12:27] surajnarwade commented on #491
I will pick this up

[2017-12-08 18:32] aditya-konarde opened #523 ""File Reference" broken link in Documentation - Quick Start"
Towards the end of the Quick Start page:

Here, the link to file reference is http://kedgeproject.org/docs/file-reference.md which results in a 404.
![fileref-404](https://user-images.githubusercontent.com/6318164/33779748-21938ac2-dc74-11e7-91eb-6545929c84be.png)

Plus, clicking File Reference in the sidebar takes me to pages that have an entirely different theme, but I guess its part of the migr

[2017-12-11 11:27] debloper commented on #458
As it's already mentioned in the [kedge-docs](http://kedgeproject.org/file-reference/#controller), mentioning the `controller` should ideally be good enough (given, the values were intuitive enough to express the container orchestrators) to invoke the correct tool for the purpose.

I agree, that on a system that has either `kubectl` or `oc` then it's best to not complain about not finding the cont

[2017-12-11 12:41] kadel commented on #397
I still don't see what is the benefit of approach compare to templating.
It would make sense if we could use types from `type.go`. But without that, I don't see any benefit of doing it like this.

[2017-12-11 12:48] kadel commented on #458
Yes, `controller` should still be primary indicator.

Only problem is when someone uses OpenShift but and deploys Deployment or Jobs on it. And they don't have `kubectl` installed as they don't need it.
For this, we should fallback to `oc` if `kubectl` is not found.  But only this. Kedge can **never** do fallback in other direction from `oc` to `kubectl`.

[2017-12-11 13:42] surajssd commented on #397
@kadel we are not using structs from types.go because

https://github.com/kedgeproject/kedge/blob/0f5093e8c6fbca005082a79cdaf0a60bbc41ada7/cmd/init.go#L34-L45

[2017-12-11 13:46] kadel commented on #397
yes I know. What is a benefit of using separate structs over templating new file?
There are still two different places where the structure of the file is kept.

[2017-12-11 14:50] kadel commented on #309
closed in #452

[2017-12-11 14:50] #309 closed

[2017-12-11 15:50] kadel commented on #520
hmm, that is strange it works on OpenShift but not on Kubernetes (minishift/minikube). We should report it so it can be fixed. Those CentOS images are in really bad shape.

[2017-12-11 16:02] kadel opened #525 "Research Integration with Service Catalog"
Kedge should have a way how developers can define the relationship between their application and standard services like databases, caches, proxies, etc...

Developers should have to write Kedge definition for such services.

We could solve this with [Service Catalog](https://github.com/kubernetes-incubator/service-catalog) OpenShift and Kubernetes both support Service Catalog.

Let's do spike.
- R

[2017-12-11 17:52] #523 closed

[2017-12-12 08:17] kadel commented on #510
As a rule, we don't want to redefine the behavior of keys from Kubernetes artifacts.
We have Deployment (or other controllers) at the root level of Kedge YAML, that means that namespace is for the controller.

Can we come up with some new name for key defining a global namespace that will be applied to all objects?

[2017-12-12 14:31] kadel opened #531 "Using google analytics to track visits to kedgeproject.org"
What do you think about setting up Google Analytics for kedgeproject.org
It would be great to have some numbers on how much is site visited, and who is visiting it.

[2017-12-13 08:40] kadel commented on #141
It migh be time to reopen discussion on this.

Here are some information  changes in Workloads API in versions 1.8 and 1.9 https://kubernetes.io/docs/reference/workloads-18-19/

With default selector changes and introducing apps/v1  in 1.9 we should start thinking how we are going to handle all this.

The first question that we should answer is how many versions of Kubernetes are going to support.

[2017-12-13 11:16] kadel commented on #480
can ve close this?
blog post has been posted here: https://medium.com/kedge/journey-of-a-developer-developing-on-kubernetes-bdb338dea7b4

[2017-12-13 11:40] kadel commented on #308
@ashetty1 what is state of this?

[2017-12-13 11:41] #480 closed

[2017-12-13 11:49] ashetty1 commented on #308
@kadel reviews done. Waiting to be merged: https://github.com/kedgeproject/kedge/pull/381

[2017-12-13 11:49] kadel commented on #504
related #83

[2017-12-13 15:14] cdrage opened #532 "SemaphoreCI is currently broken"
SemaphoreCI hasn't been passing lately and it's due to our tests.

Our examples we use for ConfigMap, HealthCheck, etc are using the Wordpress containers which are too resource-intensive for the CI platform, resulting in containers being `evicted`.

When the containers are being `evicted`, kube-dns and kube-system are sometimes removed, resulting in  negatives in our testing suite.

Hence the reas

[2017-12-13 20:05] cdrage commented on #531
Merged in https://github.com/kedgeproject/kedge/pull/533

[2017-12-13 20:25] #531 closed

[2017-12-13 20:25] cdrage commented on #502
Should we close this @kadel ?

[2017-12-14 05:55] kadel commented on #502
ok, closing.

[2017-12-14 05:55] #502 closed

[2017-12-14 06:32] containscafeine commented on #313
Here are my thoughts about this integration:

1. Like the atomic unit for Kubernetes is a _pod_, the atomic unit for Kedge can be an _app_. This will let us operate and perform application level functions like scaling an entire app, or bringing up/down an entire app.
I really like the idea of having subcommands like `kedge logs <appname> -f <filename>`, `kedge ps -f <filename>`, `kedge start/stop/

[2017-12-14 08:35] kadel commented on #511
I don't know how it got there, but the guestbook example that is there is guestbook that I created for some demo while back.
It has nothing to do with Kubernetes example. Problem whit Kubernetes example is that it doesn't work on OpenShift. So if we want to use that one we will have to modify images so they work without root.

[2017-12-14 08:46] ashetty1 opened #534 "Adding tests for s2i"
Add tests for validating s2i build using kedge: `kedge build --s2i`

[2017-12-14 11:33] surajnarwade commented on #520
@cdrage @kadel @containscafeine , I  have started working on it.
so @cdrage , I am following this official example https://kubernetes.io/docs/tutorials/stateless-application/guestbook/

[2017-12-14 15:00] cdrage commented on #520
Okay! Push to a fork or GitHub PR if you need help. I started on it for a
bit before I realized that you had already began.

On Dec 14, 2017 06:33, "Suraj Narwade" <notifications@github.com> wrote:

@cdrage <https://github.com/cdrage> @kadel <https://github.com/kadel>
@containscafeine <https://github.com/containscafeine> , I have started
working on it.
so @cdrage <https://github.com/cdrage> , I am

[2017-12-14 15:31] cdrage commented on #501
Going to close this :+1: Since I've completely each-task.

[2017-12-14 15:31] #501 closed

[2017-12-14 15:33] cdrage commented on #511
@kadel Could we have two? One that works with Kubernetes and is the exact same as the Kubernetes demo, and another go-to example for OpenShift that uses non-root containers?

[2017-12-14 21:04] bmicklea commented on #313
Interesting - is the idea that kedge verbs would operate equally on `kubectl` or `oc` perhaps by setting some env variable?

[2017-12-18 09:04] kadel commented on #511
sure we can. We have to clearly state somewhere in the demo (probably in the readme and also in comments in Kedge file) that given example is not universal, and will only run Kubernetes or on OpenShift with lifted restrictions on root containers.

[2017-12-18 10:53] containscafeine commented on #510
@kadel how about adding root level namespace to every generated Kubernetes object if it is not passed in explicitly. That is what the user will expect when he/she will be specifying namespace at the root level anyway. We are not altering the behavior, we are auto-populating. WDYT?

[2017-12-19 10:01] kadel commented on #510
That we could do. But I would rather see `--namespace` parameter for `kedge apply/create/delete`. I think that person who is deploying should be the one deciding to which namespace the application will be deployed to.

[2017-12-19 10:04] containscafeine commented on #510
I agree that namespace should not be a part of the application definition but should be a part of cluster operations passed via command line, but since ObjectMeta has namespace anyway, we could add auto population as well as a `--namespace` flag

[2017-12-19 13:57] cdrage opened #539 "Using NodePort in portMappings"
So as of right now when defining portMappings, it's always `port:targetPort`. However, for some users, they may want to use `port:nodePort`.

For example, if a user were to convert:

[code]

to

[code]

It would be incorrect (as portMappings is using targetPort not nodePort).

However... isn't the idea of this a bit unconventional and niche? I believe most users use loadBalancer instead of NodePor

[2017-12-20 07:17] surajssd commented on #510
@containscafeine auto-population from where ? I am not sure what you mean here?

[2017-12-20 08:32] kadel commented on #510
@surajssd, what @containscafeine means is that we should do the same thing with with `namespace` as what we are doing with `name` (if not set use `namespace` from controller).

@containscafeine I'm ok with that as long as `--namespace` flag can always overwrite that.

[2017-12-20 13:57] surajssd opened #540 "An easy way to define global annotations, labels"
**Type**:

/kind RFE

**Description**:

I am trying to kedgify the configurations which consists of lot of annotations and labels which are same. So it is really hard/redundant to copy those config parts to each and every type of object defined in one kedge app file. I would like to see a simple and easy way to define annotations and label which is populated across all the configs that are generat

[2017-12-21 09:20] kadel commented on #540
How you propose to do that?
We can't use Deployments annotations/labels, as that will make it impossible to add Deployment specific labels without adding them to other objects.

One way we could do that would be adding something like `globalLabels` and `globalAnnotations`

[2017-12-21 10:38] surajssd commented on #540
Can't we make `labels` and `annotations` a global field like `name` field is. If you think about it `name` does a global setting unless someone wants to set anything else in some specific resource they still have way of doing it using respective `name` field.

But yeah not sure how do we enable controller/deployment only labels or annotations with this approach.

[2017-12-21 10:50] kadel commented on #540
`name` is a bit different case, as it is a required field, it has to be set for every object, and it is just single value.

`labels` and `annotations` are lists, there is a lot of complications when handling this if we try to use `annotations` and `labels` from controller object. For example, how would kedge handle cases where different labels are set in for the controller and for service? Should

[2017-12-21 11:37] kadel opened #541 "Changing structure? (Kedge v2) - Creating controllers section"
We are starting to see some cases that are complicated because of our decisions to have controller objects on the root level.

- #540 is one of the cases,
- other is JSON schema with our current design it is not possible to describe Kedge spec with one JSON schema file. This will complicate doing LSP for editors.
- we are also putting and treating controller objects as a special object that is mor

[2017-12-21 12:53] kadel opened #542 "Build test fails"
build test fails when there is an image without tag
[code]
[code]

this is caused by
[code]

[2017-12-27 10:06] surajnarwade commented on #397
@kadel templating will allow us to add blank lines, so that output will look better and more readable

[2018-01-02 05:22] containscafeine commented on #280
I think our JSON Schema is in a better and workable state right now. All that's left is to do the generation on every merge and push to https://github.com/kedgeproject/json-schema automatically.

[2018-01-02 09:13] kadel commented on #541
/cc @pradeepto @containscafeine

[2018-01-02 09:17] pradeepto commented on #541
+ cc @surajssd @cdrage

[2018-01-02 09:39] kadel opened #551 "managing secrets for Kedge project"
We have different secrets,  bot accounts, and accounts for different services

We need a secure way to store secrets, so anyone who needs to use those can use it.

I have setup https://github.com/kadel/project, this is to verify that everything works properly.
My intention is to move it to github.com/kedgeproject/project once we all agree that this is OK.

So far I've added Charlies and Surajs key

[2018-01-02 20:56] cdrage commented on #541
I agree with *all* the points.

I actually can't find the issue at the moment. But I believe we talked about this a while while back when we were discussing the general YAML format for the files.

I totally agree that we should do `deployments:` key instead of `controller: deployments`.

Benefits:

 - Being able to use a single file
 - Better clarity

We already use this for `configMaps`, `secrets

[2018-01-03 07:08] surajnarwade commented on #541
/me also agree with all the points quoted above,
@kadel @cdrage , I have a question, with current approach, we have different schema for different controller. As per above approach, will it be possible to have only one schema file which can validates all the controllers ?

[2018-01-03 07:13] surajnarwade opened #555 "Incorrect PR number in commit message"
PR number link is incorrect in commit message to `json-schema` repo which is auto commited for every PR merge for this repo.

[code]

[2018-01-03 07:59] containscafeine commented on #555
Yeah, we should probably remove it since this is only put when the PR has already been merged i.e. it runs only on master. Hence, no PR number.

[2018-01-03 09:03] containscafeine commented on #541
Introducing this would mean that we -
- increase the level of indentation for all the root level fields
- move away from the concept of "one application per file" that we've been sticking on to from Day 1

I'm not sure if this betters the user experience. The technical problems that we're facing should not deter the user experience. I'm torn on this one :confused:

[2018-01-03 11:29] #458 closed

[2018-01-03 11:37] kadel opened #558 "Test all examples in docs/examples and examples"
We should make sure that all examples in `docs/examples` and in `examples` can be converted.

We have framework for command line tests (see https://github.com/kedgeproject/kedge/pull/498)

We should add test that will list all YAML files in directories with examples and run `kedge generate` on them.
This will be especially useful for #481

[2018-01-03 11:46] kadel commented on #541
Yes with new approach it should be possible to have only one schema file.

Problem is that they are not root level fields, but fields for controller object.

We had to hack around one file per application anyway (with `---`) as we want to support both approaches. We just encourage one file per application as best practices. This doesn't change that. It just brings consistency into the whole struct

[2018-01-03 12:24] #280 closed

[2018-01-03 12:25] kadel commented on #308
closing, as this is done

[2018-01-03 12:25] #308 closed

[2018-01-03 12:31] kadel commented on #558
related to https://github.com/kedgeproject/json-schema-generator/issues/25

[2018-01-03 12:33] kadel commented on #558
we can implement just https://github.com/kedgeproject/json-schema-generator/issues/25 as it is basically the same thing

[2018-01-03 12:46] containscafeine opened #559 "VSCode integration with LSP"
We have JSON Schema for Kedge at https://github.com/kedgeproject/json-schema
We can integrate with VSCode to introduce auto-completion features, etc by introducing LSP support.

I found some work being done around the same at -
- https://github.com/search?q=org%3Aredhat-developer+kedge

ping @surajssd, can you provide leads on what your findings were when you were looking into this?

[2018-01-03 12:57] kadel commented on #525
At this point, we don't have to write any code. It is just about doing research how we can do integration (if it is even possible) and maybe designing how it would look like in kedge file.

[2018-01-03 14:20] kadel commented on #525
@surajnarwade please let me know before you start with this, I have some pointers for you.

[2018-01-03 15:47] cdrage opened #560 "Lowercase "tcp" or "udp" does not work for portMappings."
See error:

[code]

When using:

[code]

We should support both upper and lowercase.

[2018-01-03 16:41] cdrage commented on #541
This will also bring clarity on Kubernetes-specific parameters that are added, for example:

[code]

Would become:

[code]

[2018-01-04 08:23] kadel commented on #560
agreed, this should be case insensitive

[2018-01-04 08:34] containscafeine commented on #541
Related to older discussions at #119

[2018-01-04 09:48] containscafeine commented on #541
I'm not very opposed to having the controller fields separate from other objects, e.g. deployments and jobs and services and ingresses are all at the same level, unlike our discussions previously in #119

We need to be careful and brainstorm if we're breaking any shortcuts or auto populations.

[2018-01-04 09:52] kadel commented on #541
Another point for discussion should be (if we are going to change structure) how and if we are going to ensure backward compatibility.

[2018-01-04 10:03] kadel commented on #541
We will discuss this issue in an online meeting on Monday, January 8th, 2018 at 13:30 GMT

Anyone interested can join via https://bluejeans.com/980816040

[2018-01-05 09:56] kadel opened #562 "Validate that size for PVC is set."
There are two ways how to set requested size for PVC in kedge

using size shortcut
[code]
or regularly via requests
[code]

without `resource.request.storage`  PVC can't be created, we need to add validation that checks that size is set.

see https://github.com/kedgeproject/kedge/pull/544

[2018-01-05 10:02] kadel commented on #562
Ideally, this should be handled by JSONSchema if possible.

[2018-01-05 13:52] kadel commented on #562
One of those has to be set. If both are set than it is conflict and we don't know which one to use. And if neither is set than its incomplete PVC definition.

[2018-01-08 14:30] #490 closed

[2018-01-08 21:25] cdrage commented on #560
#564 has been merged. closing!

[2018-01-08 21:25] #560 closed

[2018-01-08 21:26] cdrage commented on #532
Fixed! Closing this. Tests are down to 2 minutes! (from 40+ minutes before) :100: :100:  See: https://semaphoreci.com/cdrage/kedge

[2018-01-08 21:26] #532 closed

[2018-01-09 07:06] #491 closed

[2018-01-09 13:46] ashetty1 commented on #534
s2i tests have been added as part of #465

[2018-01-09 14:21] kadel commented on #541
The conclusion is that we are doing this. There were no arguments against this. It will have a lot of benefits, the only downside is that the structure of a file will change. But we are still at the point where we don't have any users, we should do changes like this until we can.

[2018-01-09 18:29] cdrage commented on #426
Just an FYI. After discussions with #565 I would like to take this up. However. I plan to merge both this (Adding Kubernetes tables, etc.) as well as the update to the file structure (#565) in one big PR.

[2018-01-09 18:30] cdrage commented on #318
I think we should. @kadel

I'd like to assign this to myself.

[2018-01-10 17:44] cdrage opened #567 "We should note in readme that PV is required for GitLab"
Deploying: https://github.com/kedgeproject/kedge/tree/master/examples/gitlab results in a failure for me since my cluster doesn't have a PV setup yet..

We should add some notes onto the README for this.

[2018-01-11 11:17] kadel commented on #379
semaphore e2e tests are still verbose.
It is really hard to find out why the test is failing in all that input.

I really like `go test` behavior, if everything is ok, it just prints `OK` and nothing more. If the test fails that verbose output is shown, but only for failed tests.
We should do the same for our e2e tests

[2018-01-11 11:36] ashetty1 commented on #379
@kadel I think the verbose mode in CI is intentional. Could be changed if you'd like.

[2018-01-11 13:12] ashetty1 commented on #375
Added as part of #465

[2018-01-11 14:47] kadel commented on #379
We should also clean up errors, that are actually not errors, like showing
[code]
while waiting for pods to come up. Technically this is not error. An error means that something went wrong that is permanent and it can't be recovered from. This is error only when it times up.

[2018-01-11 18:33] cdrage commented on #541
So going through your examples in your PR @kadel and got a bit confused when containers is being defined.. ex:

[code]

Wouldn't this formatting be better (in terms of controller object, etc.). At the moment we use the key `containers`  in order to set this apart.

Example:

[code]

[2018-01-11 18:50] cdrage commented on #235
I've updated the ROADMAP in order to reflect that we now use milestones.

If it's okay with you, I'm going to close this issue @pradeepto !

[2018-01-11 18:50] #235 closed

[2018-01-11 18:51] cdrage commented on #58
https://github.com/kedgeproject/kedge/pull/498 has been merged.

[2018-01-11 18:51] #58 closed

[2018-01-11 18:52] cdrage commented on #47
https://github.com/kedgeproject/kedge/issues/62 is the only one left. How about closing this @kadel ?

[2018-01-11 19:13] cdrage commented on #318
I'm trying to make this into a table. Anyone have any suggestions?

|                             | Kompose | Ksonnet | OpenShift templates | Kedge |
|-----------------------------|---------|---------|---------------------|-------|
| Scaleable                   | -       | ✓       | ✓                   | ✓     |
| Native to Kubernetes        | -       | ✓       | -                   | ✓     |
| In

[2018-01-12 06:22] kadel commented on #541
What do you mean?

I'm a bit confused here.
`deployments` is an array of objects and `containers` is also an array of objects.
Both examples in you post has an identical structure, you just added  `name`.
Or am I missing something?

[2018-01-12 14:23] cdrage commented on #541
@kadel Yeah, sorry, I ended up clarifying later in the examples but I didn't update the descriptions. Yes, it should be an array, not an actual key (defining multiple). For the examples however, we should use `- name: nginx` instead of `-containers:` in order to make it cleaner / easier to understand (see above).

[2018-01-12 14:35] cdrage opened #568 "OpenShift tests failing"
Just troubleshooting now, seems like they're simply timing out:

[code]

[2018-01-12 16:44] cdrage commented on #483
https://github.com/kedgeproject/kedge/issues/376 is almost complete. I've ran into errors regarding OpenShift tests which I've remarked here: #568

[2018-01-15 06:00] kadel commented on #541
`name` is optional so it doesn't have to be there.

[2018-01-15 08:14] ashetty1 commented on #568
Could have been a timeout issue?

[2018-01-15 15:17] ashetty1 commented on #568
There's a possibility of a minor problem with running the OpenShift tests parallelly. Since `kedge build` doesn't allow namespace to be specified, there's a chance that it ends up creating the s2i build in some other namespace.

[2018-01-15 16:07] cdrage commented on #568
@ashetty1 I'll try that, thank you!

[2018-01-16 06:27] kadel commented on #318
It looks good @cdrage. Helm should be also added to the comparison. Comparison Helm vs Kedge was brought in various discussions.

[2018-01-17 11:00] kadel commented on #460
shortcut
[code]

should generate add this to deploymentConfg:
[code]

[2018-01-17 16:55] cdrage commented on #318
@kadel Woops. I completely forgot about Helm. I'll add it and push this to a PR.

[2018-01-17 17:19] cdrage commented on #318
PR here: #571

[2018-01-17 17:20] cdrage commented on #305
This can be closed: #535

[2018-01-17 17:20] #305 closed

[2018-01-17 17:20] cdrage commented on #272
Hey @surajssd @kadel can we close this since https://github.com/kedgeproject/kedge/pull/535 was pushed?

[2018-01-17 17:36] #136 closed

[2018-01-18 09:23] #541 closed

[2018-01-18 12:19] ashetty1 commented on #534
#465 has been merged.

[2018-01-18 13:48] ashetty1 opened #574 "`kedge build` doesn't allow namespace/project to be specified"
`kedge build` doesn't allow namespace/project to be specified.  This causes confusion when multiple kedge operations are running parallelly especially during the testing.

[code]

[2018-01-18 16:21] #555 closed

[2018-01-18 17:25] kadel opened #575 "Global labels are not propagated to Service"
[code]

outputed service is missing `version: 0.1.3` label:
[code]

Other generated resources like Deployments and Ingress are correctly generated with this label

[2018-01-19 10:13] ashetty1 commented on #375
#465 has been merged.

[2018-01-19 14:26] #375 closed

[2018-01-22 10:19] surajnarwade commented on #574
I will take this up

[2018-01-22 16:06] #575 closed

[2018-01-23 06:50] kadel commented on #331
We should define our own build structure for Kedgefile.

The goal is to be able to do just `kedge build -f kedge.yaml`. This will build and if specified in Kedgefile push image to registry. Build strategy will be used based on what is defined in Kedgefile (either s2i or local docker build).

Updating application should be two step process
[code]

[2018-01-23 12:46] ashetty1 opened #579 "kedge create failures"
Found this regression while running some test:
[code]

`kedge create` fails, but `kedge generate` works for the same config file:
[code]

[2018-01-30 07:20] containscafeine commented on #318
Umm, this shows Kedge as a competitor to the other tools, while it does not necessarily overlap with Helm, Templates, etc.

[2018-01-30 07:28] #183 closed

[2018-01-31 12:55] #574 closed

[2018-02-01 09:35] surajnarwade commented on #579
It's working for me,

[code]

[2018-02-01 09:35] surajnarwade commented on #579
@ashetty1 can you please try with latest changes

[2018-02-01 13:03] ashetty1 opened #582 "`kedge build` failures with oc 3.7"
`kedge build` is throwing up errors with `oc v3.7`. Works perfectly well with `oc v3.6`

[code]

[2018-02-05 10:02] surajssd commented on #272
@cdrage parameterization is added but i am not sure of helm chart or openshift template generation

[2018-02-05 10:59] ashetty1 commented on #582
Wasn't passing context dir properly. Closing this.

[2018-02-05 10:59] #582 closed

[2018-02-05 11:22] surajnarwade commented on #558
I have implemented this test [here](https://github.com/kedgeproject/kedge/pull/481/commits/f78c5a4ef0b81c473c580be0762a57b342a29c6c#diff-2fd956fb798d519aa017383f8d85c53f) in PR #481

[2018-02-05 12:18] surajnarwade commented on #562
Current Status:

* if both size and request are provided:

[code]

* If both size and request is not present:

[code]

[2018-02-05 13:23] surajnarwade commented on #559
Closing since we have LSP integration ready :)

[2018-02-05 13:23] #559 closed

[2018-02-05 13:29] surajnarwade commented on #579
@ashetty1 , can we close this ?

[2018-02-05 13:38] surajnarwade commented on #534
@ashetty1 , since tests has been merged, can we close this ?

[2018-02-05 13:40] surajnarwade commented on #62
@surajssd since #464 is merged, WDYT, what else do we need to add to docs ?

[2018-02-05 13:46] cdrage commented on #318
@containscafeine Do you have any suggestions regarding comparing them? Yeah.. it was a bit difficult compare them all in one simple diagram / image. But I came up with the table :man_shrugging: Should we remove some of the other references since they're not necessarily competitors (I think Kedge is the only one in it's niche)

[2018-02-05 19:18] kadel opened #585 "Follow Label and Annotation Recommendations"
https://docs.google.com/document/d/1EVy0wRJRm5nogkHl38fNKbFrhERmSL_CLNE4cxcsc_M/edit#

It would be nice if kedge uses recommendations from that document, at least for name and version (`app.kubernetes.io/name`, `app.kubernetes.io/version`)

Right now we use `app` and `appversion`, I propose chenging `appversion` to `app.kubernetes.io/version` , keeping `app` as it is and adding `app.kubernetes.io/

[2018-02-05 19:20] kadel commented on #585
we could also add `app.kubernetes.io/deploy-manager: kedge` as a label

[2018-02-06 05:34] containscafeine commented on #504
Discussions at https://github.com/openshift/client-go/issues/25 might help moving this forward if someone is looking into it!

[2018-02-06 06:27] surajnarwade opened #587 "outdated `kedge init`"
Since our kedge structure is updated. We need to update `kedge init` as well

[2018-02-06 06:56] #62 closed

[2018-02-06 11:01] ashetty1 commented on #579
Closing this.

[2018-02-06 11:01] #579 closed

[2018-02-06 11:02] surajnarwade commented on #568
Tests are passing locally

[2018-02-06 13:23] containscafeine commented on #318
@cdrage sorry for the vague reply.
So, I agree with the table mostly, it's not factually incorrect, it's just that folks keep on coming up every now and then comparing kedge to other tools like Helm, etc, which is unfair because the tools are not even in the same domain. If we put this comparison table, then we send a message that yes, kedge is actually comaprable to those tools, which is wrong.
W

[2018-02-07 12:12] surajnarwade commented on #293
Agreed with @kadel , Closing this  issue :)

[2018-02-07 12:12] #293 closed

[2018-02-07 12:20] surajnarwade commented on #324
@surajssd  @kadel Now we have golang structs in `kedge init` instead of templates, shall we close this ?

[2018-02-07 20:02] cdrage commented on #585
This is as simple as adding to Kedge application labels on generation / creation, correct?

For example:

[code]

[2018-02-07 20:04] cdrage commented on #585
Another example (with appversion):

[code]

[2018-02-07 20:06] cdrage opened #590 "Change logo to an actual Kedge not an anchor"
I've been informed that the current logo isn't actually a "Kedge", but just a normal anchor.

Tweet: https://twitter.com/fuzzychef/status/959212529875673088

Let's change it to a "Kedge"!

[2018-02-08 03:23] surajnarwade commented on #590
Waiting to see our new logo :)

[2018-02-08 03:38] surajnarwade commented on #585
@cdrage @kadel , what's the status on community acceptance of labels/annotations proposal ?

[2018-02-08 05:59] surajnarwade commented on #585
Some queries:

* Consider `wordpress` [examples](https://github.com/kedgeproject/kedge/tree/master/examples/wordpress)

* if I added these labels, it will be something like:

for `wordpress.yml` :

[code]

For `mariadb` :

[code]

* It indicates, `wordpress` & `mariadb` both are different applications but it should be like, `mariadb` is component of `wordpress`.

* @cdrage @kadel @containscafeine

[2018-02-09 05:08] surajssd commented on #324
we are using golang structs but not kedge schema structs yet

[2018-02-13 08:49] surajnarwade commented on #471
Similar to `ingressEndpoint` shortcut,

[code]

Shall we have something like this,

* `routeEndpoint` as a string

[code]

* `routeEndpoint` as a bool

[code]

ping @kadel @containscafeine @cdrage

[2018-02-14 06:31] surajnarwade commented on #558
Closing this since #481 is merged now and we are testing all examples from `docs/examples` and `examples` here https://github.com/kedgeproject/kedge/blob/master/tests/cmd/cmd_test.go#L136

[2018-02-14 06:31] #558 closed

[2018-02-14 06:32] surajnarwade commented on #168
Closing this Since #481 got merged

[2018-02-14 06:32] #168 closed

[2018-02-15 09:38] surajnarwade commented on #460
imagestream in kedge mainly requires 3 parameters:

* name
* dockerImageRepository (optional)
* docker image name (optional)

how should be the shortcut ?
@cdrage @kadel

[2018-02-15 21:57] dustymabe commented on #94
can we move forward with getting this into fedora/centos proper channels?

[2018-02-15 21:59] dustymabe commented on #94
in the mean time, let's bump the copr to have the latest released version

[2018-02-16 05:32] surajnarwade commented on #94
cc @kadel

[2018-02-16 16:56] dustymabe opened #594 "how to use image stream with generated deployment"
if there happens to be an imagestream that already exists and I want to use it for a container that is part of my kedge.yaml file how do I do that? I was able to bring up a container that used the full name of the container to pull from a container registry, but what I'd really like is for a new deployment to get triggered when that image stream updates as well.

[2018-02-17 17:44] dustymabe opened #595 "RFE: warn users when secret data is not base64 encoded"
It might be nice to add a feature to warn a user when secret data that is being passed in is obviously not base64 encoded. For example, if I have a secret:

[code]

and I accidentally populated `$FOO_TOKEN` in my environment with the original token and not the base64 encoded token then a warning to help me understand that would be nice.

[2018-02-17 17:50] dustymabe commented on #595
another check could be to make sure the secret data doesn't have any newlines in it since those aren't allowed: see https://kubernetes.io/docs/concepts/configuration/secret/

[2018-02-19 07:43] surajnarwade commented on #595
@dustymabe , How can we recognize whether string is base64 encoded or not?

What I read about it, I found we can check following parameters to verify:
* length of given string
* some regex trick

But here's the problem:

* if given string is `abcd` which is not encoded, it will pass both criterias mentioned above.

[2018-02-19 09:26] containscafeine commented on #123
Fixed in #596

[2018-02-19 09:26] #123 closed

[2018-02-19 10:27] surajnarwade commented on #594
You can use triggers. For ref: http://kedgeproject.org/file-reference/

[2018-02-19 16:22] dustymabe commented on #594
I did see that in the reference and I tried using it but I couldn't get it to work. Can you work through an example with me?

- I have an already existing imagestream
- I want to define a container in a pod to use that imagestream and to trigger a new deployment when the image changes (gets rebuilt).

Can you give me a full example of doing that?

[2018-02-19 16:39] dustymabe commented on #595
yeah mainly all we can do is do checks that guarantee it isn't a valid base64 secret string:

- no newlines
- does it have any non [base64 characters](https://en.wikipedia.org/wiki/Base64#Base64_table)?
- is there a length limit?

it is possible that a user did not base64 encode the data and it still passes all the checks, but in that case we can't really do anything.

[2018-02-19 17:17] surajnarwade commented on #595
for examples, `abcd1234`, it's not encoded and it will pass all checks

[2018-02-19 17:32] dustymabe commented on #595
right. in other words, we can't warn the user in all cases, but we certainly can warn the user in some cases.

[2018-02-19 18:04] surajnarwade commented on #595
Yeah, we can do that.
@kadel  @cdrage any suggestions here

[2018-02-20 12:06] surajnarwade commented on #594
Sure :)

Here's my example,

I already have imagestream:

[code]

and my kedgefile will look like this:

[code]

When I update imagestream using,

[code]

My deploymentconfig gets automatically updated.

[2018-02-20 12:09] surajnarwade commented on #594
if you check `image` under `deploymentconfig > containers > image`, it is blank string

[2018-02-20 12:53] kadel commented on #594
that is possible but only with internal openshift registry. That means you have to push your image to openshift images stream. It is not possible to do it with the external registry.

[2018-02-20 20:36] piyush1594 commented on #470
Hey @surajssd

As  @kadel mentioned, kedge is generating kubernetes artifacts for OpenShift 3.6 and above. In OpenShift 3.5, Deployment config has apiVersion `v1` which Openshift 3.6 or above can understand but maybe this can get depreciated later.

OpenShift 3.6 and above changed the apiVersion and Group format. Now DeploymentConfig falls under `apps.openshift.io/v1` which OpenShift 3.5 doesn't u

[2018-02-21 01:35] cdrage commented on #460
Based on @kadel 's suggestion. Adding the shortcut would most likely be the most efficient way.

[2018-02-21 01:42] #587 closed

[2018-02-21 04:26] dustymabe commented on #594
yep. I understand that much :)

@surajnarwade - thanks for the example. I was able to use your example and get something working:

[code]

I guess my problem with the docs is it never shows an example like this. It shows them under buildConfigObject, and I tried to use them but I had them at the wrong indentation or something. Maybe use this issue as a request for a docs example for this.

[2018-02-21 04:28] dustymabe commented on #595
so one thing I noticed today when I was playing around:

[code]

so maybe some of this is already done for us?

[2018-02-21 06:39] containscafeine commented on #470
I don't know if we want to/should support OpenShift 3.5, @kadel can we close this?

[2018-02-21 11:02] surajnarwade commented on #184
since we have validation for input file now, still we need output file validation.

[2018-02-21 12:51] kadel commented on #470
I don't have to support 3.5 but we should clearly state what are minimal requirements for Kedge.

I would leave this open until we put that into readme.

[2018-02-26 13:14] surajnarwade opened #601 "Add `restartpolicy` and `imagepullpolicy` to `kedge init`"
Add `--restart-policy` and `--image-pull-policy` args to `kedge init`

[2018-02-26 13:52] piyush1594 opened #602 "Kedge generate should support Kubernetes List also"
Right now, `kedge generate` is returning all the resource separated by `---`. We should add a flag which will return Kubernetes List where items will contain all the resources like [this](https://github.com/kubernetes/kubernetes/blob/master/hack/testdata/list.yaml)

[2018-02-26 14:50] containscafeine commented on #602
I really like the idea. We should have a flag like `generate --template` and `generate --list` to generate OpenShift template or Kubernetes list. In such a case, we should throw the output for each input file in one Kubernetes List or OpenShift template.

For OpenShift templates, we can also translate the parameters used in Kedge to parameters in template parameters.

[2018-02-27 07:56] surajnarwade commented on #376
Since we have descent test framework on semaphore CI for both kubernetes and openshift and it takes less time too. are we done with this issue ? can we close this ? @surajssd @cdrage @kadel

[2018-02-27 15:12] cdrage commented on #376
Yeah, this is good now :+1: Kubernetes is being ran under minikube with `--vm-driver=none` (using Docker) and OpenShift is using minishift with `--vm-driver=virtualbox`.

Tests are also passing in less than 20 minutes which is better than what we had before (over 45 minutes!)

[2018-02-27 15:12] #376 closed

[2018-02-28 08:39] surajnarwade commented on #160
I think #604 will solve this problem upto some extent

[2018-02-28 18:17] cdrage opened #606 "Getting false positive errors for validation..."
With my YAML file:

[code]

I'm getting false positive validation errors...

[code]

ping @surajnarwade @kadel @containscafeine

[2018-02-28 18:19] cdrage commented on #606
Nevermind, somehow I managed to delete the `containers` section...

[2018-02-28 18:19] #606 closed

[2018-03-01 16:43] #568 closed

[2018-03-06 13:44] #373 closed

[2018-03-07 06:16] surajssd opened #609 "Auto update golden files in test fixtures for cmd tests"
We can auto update the test fixtures against which we compare the output a.k.a. golden files, just by adding a cmd flag to the tests. Just adding a global flag like following:

[code]

For more info see this 2min snippet of the [video](https://youtu.be/8hQG7QlcLBk?t=742).

[2018-03-07 11:00] surajnarwade opened #610 "Support `incremental build`"
I think by default we should support incremental build  when we are using S2I

[2018-03-07 14:09] kadel commented on #610
what happens if you define incremental build and s2i image doesn't support it?

[2018-03-08 05:12] surajnarwade commented on #610
@kadel , nothing will happen, if s2i image doesn't support it. it will work as usual.

[2018-03-08 07:32] kadel commented on #602
What is the benefit of using `List` compared to what we have right now?

[2018-03-08 08:10] containscafeine commented on #602
List can be a nice way to group generated resources and version commit to your code. Generating templates extending the same logic will also be very helpful.

[2018-03-08 08:56] kadel commented on #602
I can see benefits in generating Templates.
I just don't see what benefits will List bring compared to our current solution.

[2018-03-08 09:53] surajssd opened #611 "Default value replacement is space sensitive"
Here is a sample file, here there is no space between `FOO_MODE` and `:` which works fine.

[code]

This works

[code]

But when there is space between the variable and colon it doesn't work.

[code]

this doesn't work

[code]
the variable still has default value the override didn't work.

[2018-03-08 11:40] #611 closed

[2018-03-12 05:01] surajnarwade commented on #610
@kadel , I will go ahead and this feature as a default.
Reference: https://docs.openshift.com/enterprise/3.2/dev_guide/builds.html#incremental-builds

[2018-03-12 11:33] surajssd commented on #184
I don't think so!

[2018-03-12 11:33] #184 closed

[2018-03-13 01:33] tariq-islam commented on #458
The error that is produced due to this "fix" is misleading. In the absence of kubectl the error states: "failed to execute command: Unable to find oc command. Please install oc to your system"

How is this any better? This is just persisting the problem if a user (of which there are many) does not use OpenShift or know what 'oc' is. This is particularly true if kedge is being used in varying CD en

[2018-03-13 14:43] tariq-islam opened #614 "Error message regarding missing oc command is misleading"
When attempting to run `kedge apply` without kubectl in PATH, it would appear that kedge "falls back" to looking for the oc (OpenShift) client. Instead of providing a useful error message such as "kubectl was not found, please install kubectl and add it to your path", the user is told simply that the oc command couldn't be found, as though that's a kedge dependency.

This, in my opinion, is poor e

[2018-04-17 15:49] dustymabe commented on #595
adding a note here to anyone who may hit a similar problem.. here is how I put the token into my env before running kedge to replace `[[ TOKEN ]]` in the yaml

[code]

[2018-07-16 07:26] archonic opened #618 "CloudSQLProxy: Additional property secret is not allowed"
I'm attempting to create a cloudsql proxy using kedge. I'd like to follow this as closely as possible:

https://cloud.google.com/sql/docs/mysql/connect-kubernetes-engine#6_update_your_pod_configuration_file

This is my kedgefile for the proxy:
[code]

This is causing:
[code]

I know the features around secrets are a planned enhancement, but is there a kosher way to handle cloudsql-proxies currentl

[2018-07-16 12:37] concaf commented on #618
@archonic I'm not sure if `volumeClaims` takes in `secret` as a possible key.
You'll need to specify the secret to mount in the PodSpec itslef -
[code]

Something like -
[code]

[2018-10-06 15:55] rhuss opened #619 "Status of this project ?"
Just a short question: Is Kedge still in active development or has it been given up (like opencompose) ? I'm just asking because the last commit was six months ago (and I'm currently looking to triage https://github.com/fabric8io/fabric8-maven-plugin/issues/947 and wonder whether opencompose/kedge is still supported or what the alternatives would be.

thanks ...

[2018-10-08 13:06] kadel commented on #619
Hi, currently it is "on pause", there is no new development planned right now.

It might be resurrected if we find some real use case for it, or if someone shows interest in using it.

[2019-09-30 18:55] #590 closed

[2019-09-30 18:56] #567 closed

[2019-09-30 18:56] #539 closed

[2019-09-30 18:56] #511 closed

[2019-09-30 18:56] #478 closed

[2019-09-30 18:56] #477 closed

[2019-09-30 18:56] #468 closed

[2019-09-30 18:56] #433 closed

[2019-09-30 18:56] #432 closed

[2019-09-30 18:57] #426 closed

[2019-12-10 14:12] #101 closed

[2019-12-10 14:12] #110 closed